<div class="form-group{{#if hasSidebar}} stacked{{/if}}">
    <label for="{{fieldIdPrefix}}other-tags">{{localize "PF2E.Item.OtherTags.Label"}}</label>
    <input
        class="pf2e-tagify"
        type="text"
        name="system.traits.otherTags"
        id="{{fieldIdPrefix}}other-tags"
        value="{{json item.system.traits.otherTags}}"
        data-dtype="JSON"
    />
    <p class="hint">{{localize "PF2E.Item.OtherTags.Hint"}}</p>
</div>
