<div class="form-group{{#if hasSidebar}} stacked{{/if}}">
    <label for="{{fieldIdPrefix}}other-tags">{{localize "PF2E.Item.OtherTags.Label"}}</label>
    <tagify-tags
        class="pf2e-tagify"
        name="system.traits.otherTags"
        id="{{fieldIdPrefix}}other-tags"
        value="{{json otherTagsTagifyData}}"
    />
    <p class="hint">{{localize "PF2E.Item.OtherTags.Hint"}}</p>
</div>
