<div class="form-group" data-drop-zone="self-applied-effect">
    <span>{{localize "PF2E.Item.Action.SelfAppliedEffect.Label"}}</span>
    <div class="drop-zone{{#unless selfEffect}} empty{{/unless}}">
        {{#if selfEffect}}
            <img src="{{selfEffect.img}}" />
            <a class="name" data-action="open-effect-sheet" data-uuid="{{selfEffect.uuid}}">{{selfEffect.name}}</a>
            <a class="delete" data-action="delete-effect" title="{{localize "PF2E.Item.Action.SelfAppliedEffect.Delete"}}"><i class="fa-solid fa-trash"></i></a>
        {{else}}
            <picture class="icon-placeholder"></picture>
            <span class="name">{{localize "PF2E.Item.Action.SelfAppliedEffect.Drop"}}</span>
        {{/if}}
    </div>
    <p class="hint">{{localize "PF2E.Item.Action.SelfAppliedEffect.Hint"}}</p>
</div>
