{{#if traditions}}<p><strong>{{localize "PF2E.SpellTraditionsLabel"}}</strong> {{traditions}}</p>{{/if}}
{{#unless (or spell.actionGlyph (eq spell.system.time.value ""))}}
    <p><strong>{{localize "PF2E.Item.Spell.Cast"}}</strong> {{spell.system.time.value}}</p>
{{/unless}}
{{#if (or spell.system.range.value spell.system.target.value spell.system.area)}}
    <p>
        {{#if spell.system.range.value}}<strong>{{localize "PF2E.SpellRangeLabel"}}</strong> {{spell.system.range.value}}{{/if}}
        {{#if spell.system.area}}<strong>{{localize "PF2E.AreaLabel"}}</strong> {{spell.area.label}}{{/if}}
        {{#if spell.system.target.value}}<strong>{{localize "PF2E.SpellTargetLabel"}}</strong> {{spell.system.target.value}}{{/if}}
    </p>
{{/if}}
{{#if duration}}
    <p><strong>{{localize "PF2E.Time.Duration"}}</strong> {{duration}}</p>
{{/if}}
