{{#if staff}}
    <fieldset class="staff">
        <legend>{{localize "PF2E.Item.Weapon.Staff.Label"}}</legend>
        <div class="form-group">
            <label class="short">{{localize "PF2E.Item.Activation.Activate"}}</label>
            <span>{{localize "PF2E.Item.Activation.Cast"}}</span>
        </div>
        <div class="form-group">
            <label class="short">{{localize "PF2E.Item.Activation.Effect"}}</label>
            <span class="contenteditable-input" contenteditable="plaintext-only" placeholder="{{staff.defaultEffect}}" data-property="system.staff.effect">{{staff.effect}}</span>
        </div>
        <div class="item-ref-group">
            {{#each staff.spells as |section|}}
                <div data-rank="{{section.rank}}" class="staff-spells">
                    <h3>{{localize section.label}}</h2>
                    <ul class="item-refs{{#unless section.spells.length}} empty{{/unless}}">
                        {{#each section.spells as |spell|}}
                            <li data-uuid="{{spell.uuid}}" {{#unless spell.linked}}class="unlinked"{{/unless}}>
                                <img class="icon" src="{{spell.img}}" />
                                <a class="name" data-action="view-item">
                                    {{spell.name}}
                                    {{#if spell.fromWorld}}<i class="fa-solid fa-globe" data-tooltip="PF2E.Item.WorldItemWarning"></i>{{/if}}
                                    {{#unless spell.linked}}<i class="fa-solid fa-chain-broken"></i>{{/unless}}
                                </a>
                                {{#if @root.options.editable}}
                                    <a class="remove" data-action="remove-staff-spell"><i class="fa-solid fa-times"></i></a>
                                {{/if}}
                            </li>
                        {{/each}}
                        {{#unless section.spells.length}}
                            <li>
                                <div class="image-placeholder"></div>
                                <span class="name name-warning">
                                    {{localize "PF2E.SpellSlotEmpty"}}
                                </span>
                            </li>
                        {{/unless}}
                    </ul>
                </div>
            {{/each}}
        </div>
    </fieldset>
{{/if}}
