<header>
    <div class="name flexrow bottom-separator">
        <input
            class="name-value"
            name="name"
            type="text"
            value="{{actor.name}}"
            placeholder="{{localize "PF2E.CharacterNamePlaceholder"}}"
            autocomplete="off"
            spellcheck="false"
            area-label="{{localize "PF2E.CharacterNamePlaceholder"}}"
        />
        <label class="level-label" for="{{document.uuid}}-level">{{localize "PF2E.NPC.Creature"}}</label>
        {{#with data.details.level as |level|}}
            <input
                class="level adjustable{{#if level.adjustedHigher}} adjusted-higher{{else if level.adjustedLower}} adjusted-lower{{/if}}"
                type="number"
                id="{{../document.uuid}}-level"
                value="{{level.value}}"
                placeholder="1"
                data-property="system.details.level.value"
            />
        {{/with}}
    </div>
    <div class="rarity-size">
        <div class="tags paizo-style">
            {{!-- TRAITS --}}
            <select class="tag rarity {{data.traits.rarity}}" data-property="system.traits.rarity">
                {{#select data.traits.rarity}}
                    {{#each rarity as |label key|}}
                        <option value="{{key}}">{{localize label}}</option>
                    {{/each}}
                {{/select}}
            </select>

            <select class="tag size" data-property="system.traits.size.value">
                {{#select data.traits.size.value}}
                    {{#each actorSizes as |label key|}}
                        <option value="{{key}}">{{localize label}}</option>
                    {{/each}}
                {{/select}}
            </select>
        </div>
        {{#if editable}}
            <div class="adjustments">
                <a class="adjustment elite trait{{#if isElite}} active{{/if}}" data-action="adjust-elite-weak" data-adjustment="elite">
                    {{localize "PF2E.NPC.Adjustment.EliteLabel"}}
                </a>
                <a class="adjustment weak trait{{#if isWeak}} active{{/if}}" data-action="adjust-elite-weak" data-adjustment="weak">
                    {{localize "PF2E.NPC.Adjustment.WeakLabel"}}
                </a>
            </div>
        {{/if}}
    </div>
    <div class="flexrow">
        <input class="tags paizo-style" name="system.traits.value" value="{{json traitTagifyData}}" data-dtype="JSON"
            {{#if (eq data.traits.value.length 0)}}placeholder="{{localize "PF2E.Traits"}}"{{/if}} />
    </div>
    <div class="flexrow">
        <input name="system.details.blurb" type="text" value="{{data.details.blurb}}" />
    </div>
</header>
