<li class="lore">
    <div class="form-group form-fields">
        <input type="checkbox" id="{{actor}}-{{slug}}" name="lore.{{slug}}.enabled" {{checked visible}} />
        <input type="text" name="lore.{{slug}}.label" value="{{label}}" placeholder="{{localize "PF2E.Actor.NPC.SkillsEditor.LorePlaceholder"}}"/>
    </div>

    <input
        name="lore.{{slug}}.mod"
        type="number"
        id="{{actor}}-{{label}}"
        value="{{base}}"
        placeholder="0"
        data-modifier
    />

</li>