{{#if description.full~}}
    <div class="description">{{{description.full}}}</div>
{{~else if description.preview~}}
    <div class="description" data-tooltip-class="pf2e">
        <a class="preview" data-action="expand-description" data-tooltip="{{localize "PF2E.Action.ExpandDescription"}}">{{description.preview}}</a>
        <div class="shadow"></div>
    </div>
{{~/if}}

<div class="message-buttons">
    <button type="button" data-action="apply-effect" data-targets="{{actor.uuid}}" data-visibility="owner">
        {{localize "PF2E.Action.ApplyEffect"}}
    </button>
</div>
