<div class="content-box">
    <nav data-group="primary">
        <a data-tab="landing-page" style="display:none"></a>
        <a data-tab="action">{{localize "PF2E.CompendiumBrowser.TabAction"}}</a>
        {{#if user.isGM}}
            <a data-tab="bestiary">{{localize "PF2E.CompendiumBrowser.TabBestiary"}}</a>
        {{/if}}
        <a data-tab="equipment">{{localize "PF2E.CompendiumBrowser.TabEquipment"}}</a>
        <a data-tab="feat">{{localize "PF2E.CompendiumBrowser.TabFeat"}}</a>
        {{#if user.isGM}}
            <a data-tab="hazard">{{localize "PF2E.CompendiumBrowser.TabHazard"}}</a>
        {{/if}}
        <a data-tab="spell">{{localize "PF2E.CompendiumBrowser.TabSpell"}}</a>
        {{#if user.isGM}}
            <a data-tab="settings">{{localize "PF2E.CompendiumBrowser.TabSettings"}}</a>
        {{/if}}
    </nav>
    <section class="content">
        <div class="tab" data-group="primary" data-tab="landing-page">
            <div style='text-align:center; padding: 2em;'>{{localize "PF2E.CompendiumBrowser.Hint"}}</div>
        </div>

        {{#with action}}
            <div class="tab browser" data-group="primary" data-tab="action">
                <div class="spell-browser">
                    {{> "systems/pf2e/templates/compendium-browser/filters.hbs"}}
                    <ul class="item-list result-list"></ul>
                </div>
            </div>
        {{/with}}

        {{#if user.isGM}}
            {{#with bestiary}}
                <div class="tab browser" data-group="primary" data-tab="bestiary">
                    <div class="spell-browser">
                        {{> "systems/pf2e/templates/compendium-browser/filters.hbs"}}
                        <ul class="item-list result-list"></ul>
                    </div>
                </div>
            {{/with}}
        {{/if}}

        {{#with equipment}}
            <div class="tab browser" data-group="primary" data-tab="equipment">
                <div class="spell-browser">
                    {{> "systems/pf2e/templates/compendium-browser/filters.hbs"}}
                    <ul class="item-list result-list"></ul>
                </div>
            </div>
        {{/with}}

        {{#with feat}}
            <div class="tab browser" data-group="primary" data-tab="feat">
                <div class="spell-browser">
                    {{> "systems/pf2e/templates/compendium-browser/filters.hbs"}}
                    <ul class="item-list result-list"></ul>
                </div>
            </div>
        {{/with}}

        {{#if user.isGM}}
            {{#with hazard}}
                <div class="tab browser" data-group="primary" data-tab="hazard">
                    <div class="spell-browser">
                        {{> "systems/pf2e/templates/compendium-browser/filters.hbs"}}
                        <ul class="item-list result-list"></ul>
                    </div>
                </div>
            {{/with}}
        {{/if}}

        {{#with spell}}
            <div class="tab browser" data-group="primary" data-tab="spell">
                <div class="spell-browser">
                    {{> "systems/pf2e/templates/compendium-browser/filters.hbs"}}
                    <ul class="item-list result-list"></ul>
                </div>
            </div>
        {{/with}}

        {{#if user.isGM}}
            {{#with settings}}
                <div class="tab settings" data-group="primary" data-tab="settings">
                    {{> "systems/pf2e/templates/compendium-browser/settings/settings.hbs"}}
                </div>
            {{/with}}
        {{/if}}
    </section>
</div>
