<div class="content-box" data-tooltip-class="pf2e">
    <nav class="tabs">
        {{#each tabs as |tab|}}
            <a
                {{#if tab.class}}class="{{tab.class}}" {{/if}}
                data-action="tab" data-group="{{tab.group}}"
                data-tab="{{tab.name}}"
                {{#if tab.style}}style="{{tab.style}}"{{/if}}
            >
                {{localize tab.label}}
            </a>
        {{/each}}
    </nav>
    <section class="content">
        <div class="tab browser active" data-group="primary" data-tab="{{activeTab}}">
            {{#if (eq activeTab "landing-page")}}
                <div class="landing-page">{{localize "PF2E.CompendiumBrowser.Hint"}}</div>
            {{else}}
                <div class="spell-browser">
                    <div data-application-part="filters"></div>
                    <div data-application-part="resultList"></div>
                </div>
            {{/if}}
        </div>
    </section>
</div>
