<div class="section-container">
    <div class="section-header">
        <h4>{{localize "PF2E.Familiar.Skills"}}</h4>
    </div>
    <div class="section-body">
        <div class="skills-content">
            {{#if data.master.id}}
                <div class="skills-list">
                    <a data-action="roll-check" data-statistic="perception" data-tooltip="{{data.perception.breakdown}}">
                        <div class="mod">{{numberFormat data.perception.totalModifier sign=true}}</div>
                        <div class="name">{{localize "PF2E.Familiar.Perception"}}</div>
                    </a>
                </div>
                <div class="skills-list">
                    {{#each skills as |skill|}}
                        <a data-action="roll-check" data-statistic="{{skill.slug}}" data-tooltip="{{skill.breakdown}}">
                            <div class="mod">{{numberFormat skill.value sign=true}}</div>
                            <div class="name">{{skill.label}}</div>
                        </a>
                    {{/each}}
                </div>
                <a class="rollable skills-attack" data-action="familiar-attack-roll" data-tooltip="{{data.attack.breakdown}}">
                    <strong>{{localize "PF2E.Familiar.AttackRoll"}}</strong>
                    <span>{{numberFormat data.attack.value sign=true}}</span>
                </a>
            {{/if}}
        </div>
    </div>
</div>
