<div class="inventory-details">
    <div class="form-group">
        <label>{{localize "PF2E.HitPointsHeader"}}</label>
        <input type="number" name="system.hp" value="{{data.hp}}" />
    </div>

    <div class="form-group">
        <label>{{localize "PF2E.SizeLabel"}}</label>
        <select name="system.size">
            {{selectOptions sizes selected=data.size labelAttr="label" localize=true}}
        </select>
    </div>

    <div class="form-group">
        <label>{{localize "PF2E.Reach"}}</label>
        <input type="number" name="system.reach" value="{{data.reach}}" />
    </div>
    <div class="form-group">
        <label>{{localize "PF2E.Actor.Speed.LabelFeet"}}</label>
        <input type="number" name="system.speed" value="{{data.speed}}" />
    </div>
    <div class="form-group">
        <label>{{localize "PF2E.Item.Ancestry.Vision.Label"}}</label>
        <select name="system.vision">
            {{selectOptions visionTypeOptions selected=data.vision localize=true}}
        </select>
    </div>
</div>
