<div class="inventory-details">
    <div class="form-group">
        <label>{{localize "PF2E.HitPointsHeader"}}</label>
        <input type="number" name="system.hp" value="{{data.hp}}" />
    </div>

    <div class="form-group">
        <label>{{localize "PF2E.SizeLabel"}}</label>
        <select name="system.size">
            {{#select data.size}}
                {{#each sizes}}
                    <option value="{{@key}}">{{localize this.label}}</option>
                {{/each}}
            {{/select}}
        </select>
    </div>

    <div class="form-group">
        <label>{{localize "PF2E.Reach"}}</label>
        <input type="number" name="system.reach" value="{{data.reach}}" />
    </div>
    <div class="form-group">
        <label>{{localize "PF2E.SpeedFeet"}}</label>
        <input type="number" name="system.speed" value="{{data.speed}}" />
    </div>
    <div class="form-group">
        <label>{{localize "PF2E.Item.Ancestry.Vision.Label"}}</label>
        <select name="system.vision">
            {{#select data.vision}}
                <option value="normal">{{localize "PF2E.Item.Ancestry.Vision.Normal"}}</option>
                <option value="lowLightVision">{{localize "PF2E.Actor.Creature.Sense.Type.LowLightVision"}}</option>
                <option value="darkvision">{{localize "PF2E.Actor.Creature.Sense.Type.Darkvision"}}</option>
            {{/select}}
        </select>
    </div>
</div>
