<div class="form-group">
    <label>{{localize "PF2E.ArmorArmorTypeLabel"}}</label>
    <select data-property="system.category" data-value-base="{{item._source.system.category}}">
        {{#select data.category}}
            {{#each categories as |name type|}}
                <option value="{{type}}">{{localize name}}</option>
            {{/each}}
        {{/select}}
    </select>
</div>

{{#if (and item.isArmor (not item.isBarding))}}
    <div class="form-group">
        <label>{{localize "PF2E.ArmorGroupLabel"}}</label>
        <select data-property="system.group" data-value-base="{{item._source.system.group}}">
            {{#select item.group}}
                <option value=""></option>
                {{#each groups as |name type|}}
                    <option value="{{type}}">{{localize name}}</option>
                {{/each}}
            {{/select}}
        </select>
    </div>

    <div class="form-group">
        <label>{{localize "PF2E.ArmorBaseLabel"}}</label>
        <select name="system.baseItem">
            {{#select item.baseType}}
                <option value=""></option>
                {{#each baseTypes as |name slug|}}
                    <option value="{{slug}}">{{localize name}}</option>
                {{/each}}
            {{/select}}
        </select>
    </div>
{{/if}}

<div class="form-group">
    <label>{{localize "PF2E.PreciousMaterialLabel"}}</label>
    <select data-property="system.material" data-value-base="{{json item._source.system.material}}" data-dtype="JSON">
        {{#select preciousMaterials.value}}
            <option value="{&quot;type&quot;:null,&quot;grade&quot;:null}"></option>
            {{#each preciousMaterials.materials as |material|}}
                <optgroup label="{{material.label}}">
                    {{#each material.grades as |grade|}}
                        <option value="{{grade.value}}">
                            {{localize "PF2E.Item.Weapon.MaterialAndRunes.MaterialOption" type=material.label grade=grade.label}}
                        </option>
                    {{/each}}
                </optgroup>
            {{/each}}
        {{/select}}
    </select>
</div>

{{#if (and item.isArmor (not item.isBarding))}}
    <div class="form-group">
        <label>{{localize "PF2E.PotencyRuneLabel"}}</label>
        <select name="system.potencyRune.value" data-dtype="Number">
            {{#select data.potencyRune.value}}
                {{#each fundamentalRunes.potency as |rune|}}
                    <option value="{{rune.value}}">{{localize rune.name}}</option>
                {{/each}}
            {{/select}}
        </select>
    </div>

    <div class="form-group">
        <label>{{localize "PF2E.ResiliencyRuneLabel"}}</label>
        <select name="system.resiliencyRune.value">
            {{#select data.resiliencyRune.value}}
                {{#each fundamentalRunes.resilient as |rune|}}
                    <option value="{{rune.slug}}">{{localize rune.name}}</option>
                {{/each}}
            {{/select}}
        </select>
    </div>

    {{#if propertyRuneSlots1}}
        <div class="form-group">
            <label>{{localize "PF2E.PropertyRuneLabel1"}}</label>
            <select name="system.propertyRune1.value">
                {{#select data.propertyRune1.value}}
                    <option value=""></option>
                    {{#each propertyRunes as |rune|}}
                        <option value="{{rune.slug}}">{{localize rune.name}}</option>
                    {{/each}}
                {{/select}}
            </select>
        </div>
    {{/if}}

    {{#if propertyRuneSlots2}}
        <div class="form-group">
            <label>{{localize "PF2E.PropertyRuneLabel2"}}</label>
            <select name="system.propertyRune2.value">
                {{#select data.propertyRune2.value}}
                    <option value=""></option>
                    {{#each propertyRunes as |rune|}}
                        <option value="{{rune.slug}}">{{localize rune.name}}</option>
                    {{/each}}
                {{/select}}
            </select>
        </div>
    {{/if}}

    {{#if propertyRuneSlots3}}
        <div class="form-group">
            <label>{{localize "PF2E.PropertyRuneLabel3"}}</label>
            <select name="system.propertyRune3.value">
                {{#select data.propertyRune3.value}}
                    <option value=""></option>
                    {{#each propertyRunes as |rune|}}
                        <option value="{{rune.slug}}">{{localize rune.name}}</option>
                    {{/each}}
                {{/select}}
            </select>
        </div>
    {{/if}}

    {{#if propertyRuneSlots4}}
        <div class="form-group">
            <label>{{localize "PF2E.PropertyRuneLabel4"}}</label>
            <select name="system.propertyRune4.value">
                {{#select data.propertyRune4.value}}
                    <option value=""></option>
                    {{#each propertyRunes as |rune|}}
                        <option value="{{rune.slug}}">{{localize rune.name}}</option>
                    {{/each}}
                {{/select}}
            </select>
        </div>
    {{/if}}

    <div class="form-group">
        <label class="large">
            {{localize "PF2E.Item.Armor.Specific.Label"}}
            <i class="fa-solid fa-info-circle" data-tooltip="PF2E.Item.Armor.Specific.Hint"></i>
        </label>
        <input type="checkbox" name="system.specific.value" {{checked data.specific.value}} />
    </div>
{{/if}}


<div class="form-group">
    <label>{{localize "PF2E.ArmorArmorLabel"}}</label>
    <input
        type="number"
        value="{{item.system.acBonus}}"
        data-property="system.acBonus"
        data-value-base="{{item._source.system.acBonus}}"
        {{#if (gt item.acBonus item._source.system.acBonus)}}
            class="adjusted-higher"
        {{else if (lt item.acBonus item._source.system.acBonus)}}
            class="adjusted-lower"
        {{/if}}
    />
</div>

<div class="form-group">
    <label>{{localize "PF2E.ArmorSpeedLabel"}}</label>
    <input
        type="number"
        value="{{data.speedPenalty}}"
        data-property="system.speedPenalty"
        data-value-base="{{item._source.system.speedPenalty}}"
        {{#if (gt item.speedPenalty item._source.system.speedPenalty)}}
            class="adjusted-higher"
        {{else if (lt item.speedPenalty item._source.system.speedPenalty)}}
            class="adjusted-lower"
        {{/if}}
    />
</div>

{{#if item.isArmor}}
    <div class="form-group">
        <label>{{localize "PF2E.ArmorDexLabel"}}</label>
        <input
            type="number"
            value="{{data.dexCap}}"
            data-property="system.dexCap"
            data-value-base="{{item._source.system.dexCap}}"
            {{#if (gt item.dexCap item._source.system.dexCap)}}
                class="adjusted-higher"
            {{else if (lt item.dexCap item._source.system.dexCap)}}
                class="adjusted-lower"
            {{/if}}
        />
    </div>

    <div class="form-group">
        <label>{{localize "PF2E.ArmorCheckLabel"}}</label>
        <input
            type="number"
            value="{{data.checkPenalty}}"
            data-property="system.checkPenalty"
            data-value-base="{{item._source.system.checkPenalty}}"
            {{#if (gt item.checkPenalty item._source.system.checkPenalty)}}
                class="adjusted-higher"
            {{else if (lt item.checkPenalty item._source.system.checkPenalty)}}
                class="adjusted-lower"
            {{/if}}
        />
    </div>

    <div class="form-group">
        <label>{{localize "PF2E.ArmorStrengthLabel"}}</label>
        <input
            type="number"
            value="{{data.strength}}"
            data-property="system.strength"
            data-value-base="{{item._source.system.strength}}"
            {{#if (gt item.strength item._source.system.strength)}}
                class="adjusted-lower"
            {{else if (lt item.strength item._source.system.strength)}}
                class="adjusted-higher"
            {{/if}}
        />
    </div>
{{/if}}

<div class="form-group">
    <label>{{localize "PF2E.HardnessLabel"}}</label>
    <input type="number"{{#if (gt item.hardness item._source.system.hardness)}} class="adjusted-higher"{{else if (lt item.hardness item._source.system.hardness)}} class="adjusted-lower"{{/if}} data-property="system.hardness" data-value-base="{{item._source.system.hardness}}" value="{{item.hardness}}" />
</div>

<div class="form-group">
    <label for="{{item.uuid}}-hp">{{localize "PF2E.HitPointsHeader"}}</label>
    <div class="form-fields">
        <input id="{{item.uuid}}-hp" type="number" name="system.hp.value" value="{{data.hp.value}}" />
        /
        <input type="number"
            {{#if (gt item.system.hp.max item._source.system.hp.max)}}
                class="adjusted-higher"
            {{else if (lt item.system.hp.max item._source.system.hp.max)}}
                class="adjusted-lower"
            {{/if}}
            data-property="system.hp.max" data-value-base="{{item._source.system.hp.max}}" value="{{data.hp.max}}" />
    </div>
</div>

<div class="form-group stacked">
    <label>
        {{localize "PF2E.Item.Physical.OtherTags.Label"}}
        <i class="fa-solid fa-info-circle" data-tooltip="PF2E.Item.Physical.OtherTags.Hint"></i>
        {{#if editable}}
            <a class="tag-selector" data-tag-selector="basic" data-config-types="otherArmorTags" data-title="PF2E.Item.Physical.OtherTags.Label" data-property="system.traits.otherTags"><i class="fa-solid fa-edit"></i></a>
        {{/if}}
    </label>
    <ul class="traits-list tags">
        {{#each otherTags as |tag|}}
            <li class="tag tag_alt">{{tag.label}}</li>
        {{/each}}
    </ul>
</div>

