{{> "systems/pf2e/templates/items/partials/apex.hbs"}}

<div class="form-group">
    <label for="{{fieldIdPrefix}}bulk-held-stowed">{{localize "PF2E.Item.Physical.Bulk.HeldOrStowed"}}</label>
    <select name="system.bulk.heldOrStowed" id="{{fieldIdPrefix}}bulk-held-stowed" data-dtype="Number">
        {{#select item._source.system.bulk.heldOrStowed}}
            {{#each bulks as |bulk|}}
                <option value="{{bulk.value}}">{{bulk.label}}</option>
            {{/each}}
        {{/select}}
    </select>
</div>

<div class="form-group">
    <label for="{{fieldIdPrefix}}capacity">{{localize "PF2E.Item.Container.Bulk.Capacity"}}</label>
    <input type="number" name="system.bulk.capacity" id="{{fieldIdPrefix}}capacity" value="{{data.bulk.capacity}}" />
</div>

<div class="form-group">
    <label for="{{fieldIdPrefix}}ignored">{{localize "PF2E.Item.Container.Bulk.Ignored"}}</label>
    <input type="number" name="system.bulk.ignored" id="{{fieldIdPrefix}}ignored" value="{{data.bulk.ignored}}" />
</div>

<div class="form-group">
    <label for="{{fieldIdPrefix}}stowing">{{localize "PF2E.Item.Container.Stowing"}}</label>
    <input type="checkbox" name="system.stowing" id="{{fieldIdPrefix}}stowing" {{checked data.stowing}} />
</div>
