{{#each data.boosts as |boost idx|}}
    <div class="form-group form-group-trait">
        <label class="pf-title">
            {{localize "PF2E.AbilityBoost"}}
            <a class="tag-selector" data-tag-selector="basic" data-title="PF2E.AbilityBoost" data-config-types="abilities" data-property="system.boosts.{{idx}}" data-no-custom="true"><i class="fas fa-edit"></i></a>
        </label>

        <ul class="abc-traits-list">
            {{#each (lookup ../selectedBoosts idx) as |v k|}}
                <span class="tag-legacy {{k}}">{{localize v}}</span>
            {{/each}}
        </ul>
    </div>
{{/each}}

<div class="form-group form-group-trait">
    <label class="pf-title">
        {{localize "PF2E.TrainedSkillsLabel"}}
        <a class="tag-selector" data-tag-selector="basic" data-title="PF2E.TrainedSkillsLabel" data-config-types="skills" data-property="system.trainedSkills"><i class="fas fa-edit"></i></a>
    </label>

    <ul class="abc-traits-list">
        {{#each trainedSkills}}
            {{#if this.selected}}
                <span class="tag-legacy {{@key}}">{{localize this.label}}</span>
            {{/if}}
        {{/each}}
    </ul>
</div>

<div class="form-group">
    <label>{{localize "PF2E.Lore"}}</label>
    <input type="text" name="system.trainedLore" value="{{data.trainedLore}}" data-dtype="String" />
</div>

{{~#*inline "abcItems"~}}
    <ul class="item-refs">
        {{~#each items as |item i|}}
            <li data-index="{{i}}" data-item-uuid="{{item.uuid}}">
                <img src="{{item.img}}">
                <div class="name">{{item.name}}{{#if item.fromWorld}}<i class="fa fa-globe" title="{{localize "PF2E.BackgroundSkillFeats"}}"></i>{{/if}}</div>
                <input value="{{item.uuid}}" name="{{@partial-block}}items.{{i}}.uuid" type="hidden" data-dtype="String">
                <input value="{{item.name}}" name="{{@partial-block}}items.{{i}}.name" type="hidden" data-dtype="String">
                <a class="remove" data-action="remove"><i class="fa fa-times"></i></a>
                {{#if item.items~}}
                    {{#> abcItems item}}{{@partial-block}}items.{{i}}.{{/abcItems}}
                {{~/if}}
            </li>
        {{/each~}}
    </ul>
{{~/inline~}}

<div class="form-group-stacked item-ref-group" data-valid-drops="skill">
    <label for="data.traits">
        {{localize "PF2E.BackgroundSkillFeats"}}
    </label>
    {{#> abcItems data}}data.{{/abcItems}}
    {{#unless data.items}}{{localize PF2E.DragDropFeats}}{{/unless}}
</div>
