<div class="form-group">
    <label>{{localize "PF2E.BulkReductionLabel"}}</label>
    <input type="text" name="system.negateBulk.value" value="{{data.negateBulk.value}}" data-dtype="String"/>
</div>

<div class="form-group">
    <label>{{localize "PF2E.BulkCapacityLabel"}}</label>
    <input type="text" name="system.bulkCapacity.value" value="{{data.bulkCapacity.value}}" data-dtype="String"/>
</div>

<div class="form-group">
    <label>{{localize "PF2E.Item.Backpack.StowingLabel"}}</label>
    <input type="checkbox" name="system.stowing" {{checked data.stowing}}/>
</div>
