<div class="inventory-details">
    <div class="form-group">
        <label>{{localize "PF2E.QuantityLabel"}}</label>
        <input type="number" name="system.quantity" value="{{data.quantity}}" />
    </div>
    <div class="form-group">
        <label>{{localize "PF2E.Usage"}}</label>
        <select name="system.usage.value">
            {{#select data.usage.value}}
                {{#each usages as |label key|}}
                    <option value="{{key}}">{{localize label}}</option>
                {{/each}}
            {{/select}}
        </select>
    </div>
    <div class="form-group">
        <label>{{localize "PF2E.BulkLabel"}}</label>
        <select name="system.weight.value" {{disabled bulkDisabled}}>
            {{#select data.weight.value}}
                <option value="-">{{localize "PF2E.NegligibleOption"}}</option>
                {{#each bulkTypes as |name type|}}
                    <option value="{{type}}">{{localize name}}</option>
                {{/each}}
            {{/select}}
        </select>
    </div>
    <!-- Equipped Bulk -->
    <div class="form-group">
        <label>{{localize "PF2E.EquippedBulkLabel"}}</label>
        <select name="system.equippedBulk.value" {{disabled bulkDisabled}}>
            {{#select data.equippedBulk.value}}
                <option value="">{{localize "PF2E.EquippedSameBulkValue"}}</option>
                <option value="0">{{localize "PF2E.NegligibleOption"}}</option>
                {{#each bulkTypes as |name type|}}
                    <option value="{{type}}">{{localize name}}</option>
                {{/each}}
            {{/select}}
        </select>
    </div>
    <!-- Stack Group -->
    <div class="form-group">
        <label>{{localize "PF2E.StackGroupLabel"}}</label>
        <select name="system.stackGroup">
            {{#select data.stackGroup}}
                <option value="">{{localize "PF2E.NoStackGroup"}}</option>
                {{#each stackGroups as |name type|}}
                    <option value="{{type}}">{{localize name}}</option>
                {{/each}}
            {{/select}}
        </select>
    </div>
    <!-- Size -->
    <div class="form-group">
        <label>{{localize "PF2E.Size"}}</label>
        <select name="system.size">
            {{#select data.size}}
                {{#each sizes as |name value|}}
                    <option value="{{value}}">{{localize name}}</option>
                {{/each}}
            {{/select}}
        </select>
    </div>
    <!-- Price -->
    <div class="form-group">
        <label>{{localize "PF2E.PriceLabel"}}</label>
        <div class="price-fields">
            <input
                type="text"
                {{#if (eq priceAdjustment "higher")}}class="adjusted-higher"{{else if (eq priceAdjustment "lower")}}class="adjusted-lower"{{/if}}
                data-property="system.price.value"
                data-value-base="{{basePrice}}"
                value="{{item.price.value}}"
                spellcheck="false"
            />
            /
            <input type="number" name="system.price.per" value="{{item.system.price.per}}" />
        </div>
    </div>

    <!-- Charges -->
    <div class="form-group consumable-details">
        <label>{{localize "PF2E.ConsumableChargesLabel"}}</label>
        <input type="number" name="system.charges.value" value="{{data.charges.value}}" />
        <span class="flex0">/</span>
        <input type="number" name="system.charges.max" value="{{data.charges.max}}" />
    </div>
</div>
