<div class="form-group">
    <label>{{localize "PF2E.Category"}}</label>
    <select name="system.category">
        {{#select data.category}}
            {{#each categories as |name type|}}
                <option value="{{type}}">{{localize name}}</option>
            {{/each}}
        {{/select}}
    </select>
</div>

<div class="form-group">
    <label for="{{fieldIdPrefix}}uses-value">{{localize "PF2E.Item.Consumable.Uses.Label"}}</label>
    <div class="form-fields">
        <input id="{{fieldIdPrefix}}uses-value" type="number" name="system.uses.value" value="{{data.uses.value}}" />
        /
        <input type="number" name="system.uses.max" value="{{data.uses.max}}" />
    </div>
</div>

<div class="form-group">
    <label for="{{fieldIdPrefix}}uses-auto-destroy">{{localize "PF2E.Item.Consumable.Uses.AutoDestroy"}}</label>
    <input type="checkbox" name="system.uses.autoDestroy" id="{{fieldIdPrefix}}uses-auto-destroy" {{checked data.uses.autoDestroy}} />
</div>

{{#if canHaveDamageOrHealing}}
    <div class="form-group damage">
        <label for="{{fieldIdPrefix}}damage">{{localize "PF2E.Item.Consumable.Damage.Label"}}</label>
        {{#if data.damage}}
            <div class="form-fields">
                <input type="text" name="system.damage.formula" id="{{fieldIdPrefix}}damage" value="{{data.damage.formula}}" />
                <select name="system.damage.type">
                    {{#select data.damage.type}}
                        {{#each @root.damageTypes as |name type|}}
                            <option value="{{type}}">{{localize name}}</option>
                        {{/each}}
                    {{/select}}
                </select>
                <select class="kinds" name="system.damage.kind" {{disabled (not canHaveHealing)}}>
                    {{#select data.damage.kind}}
                        <option value="damage">{{localize "PF2E.DamageLabel"}}</option>
                        <option value="healing">{{localize "PF2E.TraitHealing"}}</option>
                    {{/select}}
                </select>
                <a data-action="remove-damage" data-tooltip="PF2E.DeleteShortLabel"><i class="fa-solid fa-trash"></i></a>
            </div>
        {{else}}
            <button type="button" id="{{fieldIdPrefix}}damage" data-action="add-damage">
                <i class="fa-regular fa-plus"></i>
                {{localize "PF2E.AddShortLabel"}}
            </button>
        {{/if}}
    </div>
{{/if}}


{{#unless (or item.isAmmo (eq data.damage.kind "healing"))}}
    <div class="form-group stacked">
        <label>
            <span>{{localize "PF2E.Item.MaterialEffects.Label"}}</span>
            <i class="fa-solid fa-info-circle" data-tooltip="PF2E.Item.MaterialEffects.Hint"></i>
            {{#if editable}}
                <a
                    class="tag-selector"
                    data-tag-selector="basic"
                    data-title="PF2E.Item.MaterialEffects.Label"
                    data-config-types="materialDamageEffects"
                    data-property="system.material.effects"
                ><i class="fa-solid fa-fw fa-edit"></i></a>
            {{/if}}
        </label>
        <ul class="traits-list tags">
            {{#each materialEffects as |material|}}
                <li class="tag tag_material" data-slug="{{material.value}}">{{material.label}}</li>
            {{/each}}
        </ul>
    </div>
{{/unless}}

<div class="form-group stacked">
    <label>
        <span>{{localize "PF2E.Item.Physical.OtherTags.Label"}}</span>
        <i class="fa-solid fa-info-circle" data-tooltip="PF2E.Item.Physical.OtherTags.Hint"></i>
        {{#if editable}}
            <a
                class="tag-selector"
                data-tag-selector="basic"
                data-config-types="otherConsumableTags"
                data-title="PF2E.Item.Physical.OtherTags.Label"
                data-property="system.traits.otherTags"
            ><i class="fa-solid fa-edit"></i></a>
        {{/if}}
    </label>
    <ul class="traits-list tags">
        {{#each otherTags as |tag|}}
            <li class="tag tag_alt">{{tag.label}}</li>
        {{/each}}
    </ul>
</div>
