{{#if data.requirements.value}}
    <span class="item-summary">{{data.requirements.value}}</span>
{{/if}}

<div class="feat-details">
    <div class="form-group">
        <label>{{localize "PF2E.Category"}}</label>
        <select name="system.category">
            {{#select data.category}}
                {{#each categories as |label type|}}
                    <option value="{{type}}">{{localize label}}</option>
                {{/each}}
            {{/select}}
        </select>
    </div>

    {{#unless (any (eq data.category "classfeature") (eq data.category "ancestryfeature") (eq data.category "curse") (eq data.category "dietyboon") )}}
        <span class="item-summary">{{localize "PF2E.FeatPrereqLabel"}}</span>
        <ol class="item-tags tags">
        {{#each data.prerequisites.value as |v k|}}
            <li class="tag tag_transparent {{k}}">{{v.value}}</li>
        {{/each}}
        </ol>
    {{/unless}}
</div>
