<div class="inventory-details">
    <div class="form-group">
        <label>{{localize "PF2E.Category"}}</label>
        <select name="system.category">
            {{#select data.category}}
                {{#each categories as |label type|}}
                    <option value="{{type}}">{{localize label}}</option>
                {{/each}}
            {{/select}}
        </select>
    </div>

    {{#if showPrerequisites}}
        <div class="prerequisites">
            <h4 class="tags-title">{{localize "PF2E.FeatPrereqLabel"}}</h4>
            <ul class="tags">
                {{#each data.prerequisites.value as |v k|}}
                    <li class="tag tag_transparent {{k}}">{{v.value}}</li>
                {{/each}}
            </ul>
        </div>
    {{/if}}
</div>
