<form>
    <h2>{{localize "PF2E.ConditionTypePersistent"}}</h2>
    {{#if existing}}
        <section class="existing-entries">
            {{#each existing as |condition|}}
                <section class="persistent-entry {{#unless condition.isActive}}inactive{{/unless}}" data-id="{{condition.id}}">
                    <div class="input-fields">
                        <label>
                            <i class="fas fa-dice-d20"></i>
                            <input type="text" class="formula" value="{{condition.system.persistent.formula}}"/>
                        </label>
                        {{> damageTypeSelect selected=condition.system.persistent.damageType }}
                        <label>
                            <span>DC</span>
                            <input type="number" class="dc" placeholder="15" value="{{condition.system.persistent.dc}}"/>
                        </label>
                    </div>

                    <a data-action="delete"><i class="fas fa-fw fa-times"></i></a>
                </section>
            {{/each}}
        </section>
        <hr />
    {{/if}}

    <section class="persistent-entry">
        <div class="input-fields">
            <label>
                <i class="fas fa-dice-d20"></i>
                <input type="text" class="formula" value="{{condition.name}}"/>
            </label>
            {{> damageTypeSelect selected=condition.system.persistent.damageType }}
            <label>
                <span>DC</span>
                <input type="number" class="dc" placeholder="15"/>
            </label>
        </div>
        <a data-action="add"><i class="fas fa-fw fa-plus"></i></a>
    </section>
</form>

{{~#*inline "damageTypeSelect"~}}
    <select class="damageType">
        {{#select selected}}
            {{#each @root.damageTypes}}
                <option value="{{type}}">{{label}}</option>
            {{/each}}
        {{/select}}
    </select>
{{~/inline~}}
