{{#if document.school}}
    <span class="item-summary">{{localize (lookup magicSchools document.school)}}</span>
{{/if}}
<span class="item-summary">{{localize (lookup spellTypes data.spellType.value)}}</span>
<span class="item-summary">{{{actionGlyph data.time.value fallback=true}}}</span>

<ol class="item-tags tags">
    {{#each spellComponents}}
        <li class="tag tag_transparent">{{this}}</li>
    {{/each}}
</ol>
{{#if (or data.prepared.value data.concentration.value data.ritual.value)}}
    <ol class="item-tags tags">
        {{#if data.prepared.value}}
            <li class="tag tag_transparent">{{localize "PF2E.SpellPreparedLabel"}}</li>
        {{/if}}

        {{#if data.concentration.value}}
            <li class="tag tag_transparent">{{localize "PF2E.SpellConcentrationLabel"}}</li>
        {{/if}}

        {{#if data.ritual.value}}
            <li class="tag tag_transparent">{{localize "PF2E.SpellRitualLabel"}}</li>
        {{/if}}
    </ol>
{{/if}}
