{{#if members}}
    <ol class="box-list inventory-members">
        {{#unless restricted}}
            <li class="box summary">
                <header>{{localize "PF2E.Actor.Party.Total"}}</header>
                <div class="summary-data">
                    <div>
                        <label><i class="fa-solid fa-coins fa-fw"></i> {{localize "PF2E.Actor.Party.Coin"}}</label>
                        <span class="value">{{numberFormat inventorySummary.totalCoins decimals=2}} {{localize "PF2E.CurrencyAbbreviations.gp"}}</span>
                    </div>
                    <div>
                        <label><i class="fa-solid fa-scale-unbalanced fa-fw"></i> {{localize "PF2E.Actor.Party.Wealth"}}</label>
                        <span class="value">{{numberFormat inventorySummary.totalWealth decimals=2}} {{localize "PF2E.CurrencyAbbreviations.gp"}}</span>
                    </div>
                </div>
                <footer>
                    <i class="fa-solid fa-weight-hanging"></i> {{localize "PF2E.BulkShortLabel"}} {{inventorySummary.totalBulk}}
                </footer>
            </li>
        {{/unless}}
        {{#each members as |member|}}
            <li class="box">
                <div class="actor-link content" data-actor-uuid="{{member.actor.uuid}}" data-action="open-sheet" data-tab="inventory">
                    <img src="{{member.actor.img}}" />
                    <div class="sub-data">
                        <div class="name">{{member.actor.name}}</div>
                        {{#unless member.restricted}}
                            <div class="value">
                                <i class="fa-solid fa-scale-unbalanced"></i>
                                {{numberFormat member.actor.inventory.totalWealth.goldValue decimals=2}} {{localize "PF2E.CurrencyAbbreviations.gp"}}
                            </div>
                        {{/unless}}
                    </div>
                </div>
                {{#unless member.restricted}}
                    <footer>
                        <i class="fa-solid fa-weight-hanging"></i> {{localize "PF2E.BulkShortLabel"}} {{member.actor.inventory.bulk.value}}
                    </footer>
                {{/unless}}
            </li>
        {{/each}}
    </ol>
{{else}}
    {{localize "PF2E.Actor.Party.BlankSlate"}}
{{/if}}
