<h2>{{localize "PF2E.SETTINGS.CompendiumBrowserPacks.Name"}}</h2>
{{#each tabSettings as |setting key|}}
    {{#unless setting.hidden}}
        <div class="setting-section">
            <fieldset>
                <legend>{{localize setting.label}}</legend>
                {{#each setting.settings as |conf pack|}}
                    <label for="{{key}}-{{pack}}">
                        <input
                            type="checkbox"
                            id="{{key}}-{{pack}}"
                            name="{{key}}-{{pack}}"
                            {{checked conf.load}}
                        >
                        {{conf.name}} ({{#if conf.showFullId}}{{pack}}{{else}}{{conf.package}}{{/if}})
                    </label>
                {{/each}}
            </fieldset>
        </div>
    {{/unless}}
{{/each}}
