<h2>{{localize "PF2E.SETTINGS.CompendiumBrowserSources.Name"}}</h2>
<p>
    {{localize "PF2E.SETTINGS.CompendiumBrowserSources.Hint"}}
</p>

<div class="setting-section single-column">
    <h3>{{localize "PF2E.SETTINGS.Settings"}}</h3>
    <dl>
        <label>
            <dt><input type="checkbox" name="show-empty-sources" {{checked sources.showEmptySources}}></dt>
            <dd>{{localize "PF2E.SETTINGS.CompendiumBrowserSources.ShowEmptySources"}}</dd>
        </label>
    </dl>

    <dl>
        <label>
            <dt><input type="checkbox" name="show-unknown-sources" {{checked sources.showUnknownSources}}></dt>
            <dd>{{localize "PF2E.SETTINGS.CompendiumBrowserSources.ShowUnknownSources"}}</dd>
        </label>
    </dl>

    <dl>
        <label>
            <dt><input type="checkbox" name="ignore-as-gm" {{checked sources.ignoreAsGM}}></dt>
            <dd>{{localize "PF2E.SETTINGS.CompendiumBrowserSources.IgnoreAsGM"}}</dd>
        </label>
    </dl>

    <button type="button" data-action="settings-sources-delete">{{localize "PF2E.SETTINGS.CompendiumBrowserSources.DeleteAllTitle"}}</button>
</div>

<div class="setting-section single-column">
    <h3>{{localize "PF2E.SETTINGS.CompendiumBrowserSources.SourcesListHeader"}}</h3>
    <dl>
        <dt><input type="checkbox" data-action="setting-sources-toggle-visible" /></dt>
        <dd><input type="text" data-element="setting-sources-search" /></dd>
        {{#each sources.sources}}
            <label data-element="setting-source" data-name="{{this.name}}">
                <dt><input type="checkbox" name="source-{{@key}}" {{checked this.load}}></dt>
                <dd>{{this.name}}</dd>
            </label>
        {{/each}}
    <dl>
</div>
