<form class="{{cssClass}}{{#if editing}} editing{{/if}}" autocomplete="off">
    <header>
        <div class="frame-container">
            <div class="frame">
                <img class="player-image" alt="{{actor.name}}" src="{{actor.img}}" title="{{actor.name}}" data-edit="img" />
            </div>
        </div>
        <div class="details">
            <div class="title">
                <input name="name" class="name" type="text" value="{{actor.name}}" placeholder="{{localize "PF2E.CharacterNamePlaceholder"}}"/>
                <label>{{localize "ACTOR.TypeParty"}}</label>
            </div>
        </div>
    </header>

    <nav class="sub-nav">
        <a data-tab="overview">{{localize "PF2E.Actor.Party.Tabs.Overview"}}</a>
        <a data-tab="inventory">{{localize "PF2E.Actor.Party.Tabs.Inventory"}}</a>
    </nav>

    <section class="container">
        <div class="tab" data-tab="overview" data-region="overview">
        </div>

        <div class="tab" data-tab="inventory">
            <aside class="sidebar">
                <section data-region="inventoryMembers">
                </section>
            </aside>
            <section class="inventory">
                {{> "systems/pf2e/templates/actors/partials/coinage.hbs" owner=@root.owner}}
                {{> "systems/pf2e/templates/actors/partials/inventory.hbs"}}
            </section>
        </div>
    </section>
</form>
