<form class="{{cssClass}}" autocomplete="off" spellcheck="false">
    <header>
        <div class="frame-container">
            <div class="frame">
                <img class="player-image" alt="{{actor.name}}" src="{{actor.img}}" data-tooltip="{{actor.name}}" data-edit="img" />
            </div>
        </div>
        <div class="details">
            <input
                name="name"
                class="name" id="{{document.uuid}}-name"
                type="text"
                {{disabled (not editable)}}
                value="{{actor.name}}"
                placeholder="{{localize "PF2E.CharacterNamePlaceholder"}}"
            />
            <label class="actor-type" for="{{document.uuid}}-name">{{localize "TYPES.Actor.party"}}</label>
            {{#if user.isGM}}
                <a class="visibility{{#if playerRestricted}} restricted{{/if}}" data-action="open-meta-setting">
                    {{#if playerRestricted}}
                        <i class="fa-solid fa-eye-slash"></i>
                        {{localize "PF2E.Actor.Party.Visibility.Restricted"}}
                    {{else}}
                        <i class="fa-solid fa-eye"></i>
                        {{localize "PF2E.Actor.Party.Visibility.Unrestricted"}}
                    {{/if}}
                </a>
            {{/if}}
        </div>
    </header>

    <nav class="sub-nav">
        {{#unless restricted}}
            <a data-tab="overview">{{localize "PF2E.Actor.Party.Tabs.Overview"}}</a>
        {{/unless}}
        <a data-tab="exploration">{{localize "PF2E.Actor.Party.Tabs.Exploration"}}</a>
        <a data-tab="inventory">{{localize "PF2E.Actor.Party.Tabs.Stash"}}</a>
        {{#if orphaned}}
            <a data-tab="orphaned">{{localize "PF2E.Actor.Party.Tabs.Orphaned"}}</a>
        {{/if}}
    </nav>

    <section class="container">
        {{#unless restricted}}
            <div class="tab" data-tab="overview" data-region="overview"></div>
        {{/unless}}

        <div class="tab" data-tab="exploration" data-region="exploration">
        </div>

        <div class="tab inventory" data-tab="inventory">
            <aside class="sidebar">
                <section data-region="inventoryMembers">
                </section>
            </aside>

            <section class="inventory">
                {{> "systems/pf2e/templates/actors/partials/coinage.hbs" owner=@root.owner}}
                {{> "systems/pf2e/templates/actors/partials/inventory.hbs"}}
                {{> "systems/pf2e/templates/actors/partials/total-bulk.hbs"}}
            </section>
        </div>

        {{#if orphaned}}
            <div class="tab" data-tab="orphaned">
                <ol class="item-list directory-list">
                    {{#each orphaned as |item|}}
                        {{#if (or item.isIdentified @root.user.isGM)}}
                            <li class="item" data-item-type="{{item.type}}" data-item-id="{{item.id}}">
                                <div class="item-name">
                                    <a class="item-image" data-action="item-to-chat" style="background-image: url({{item.img}})">
                                        <i class="fa-solid fa-message"></i>
                                    </a>
                                    <h4 class="action-name">{{item.name}}</h4>
                                </div>
                                <div class="item-controls">
                                    {{#if (and @root.options.editable (not item.temporary))}}
                                        <a data-action="delete-item" data-tooltip="PF2E.DeleteItemTitle"><i class="fa-solid fa-fw fa-trash"></i></a>
                                    {{/if}}
                                </div>
                            </li>
                        {{/if}}
                    {{/each}}
                </ol>
            </div>
        {{/if}}
    </section>
</form>
