<section class="sheet-body content sheet-content-loot inventory">
    {{> "systems/pf2e/templates/actors/partials/coinage.hbs" owner=owner}}
    <ol class="inventory-list directory-list inventory-pane item-container item-list" data-container-type="actorInventory">
        {{#each inventory.sections as |section|}}
            <li class="inventory-header">
                <h3 class="item-name" data-type="{{section.type}}" data-sort-category="item-name">
                    {{section.label}}
                    {{#if (eq section.sortData.category "item-name")}}
                        {{#if (eq section.sortData.direction "descending")}}
                            <i class="fa fa-chevron-down"></i>
                        {{/if}}
                        {{#if (eq section.sortData.direction "ascending")}}
                            <i class="fa fa-chevron-up"></i>
                        {{/if}}
                    {{/if}}
                </h3>
                <span class="item-sell-value" data-type="{{section.type}}" data-sort-category="item-sell-value">
                    {{localize "PF2E.UnitPriceLabel"}}
                    {{#if (eq section.sortData.category "item-sell-value")}}
                        {{#if (eq section.sortData.direction "descending")}}
                            <i class="fa fa-chevron-up"></i>
                        {{/if}}
                        {{#if (eq section.sortData.direction "ascending")}}
                            <i class="fa fa-chevron-down"></i>
                        {{/if}}
                    {{/if}}
                </span>
                <span class="item-quantity" data-type="{{section.type}}" data-sort-category="item-quantity">
                    {{localize "PF2E.QuantityLabel"}}
                    {{#if (eq section.sortData.category "item-quantity")}}
                        {{#if (eq section.sortData.direction "descending")}}
                            <i class="fa fa-chevron-up"></i>
                        {{/if}}
                        {{#if (eq section.sortData.direction "ascending")}}
                            <i class="fa fa-chevron-down"></i>
                        {{/if}}
                    {{/if}}
                </span>
                <span class="item-weight" data-type="{{section.type}}" data-sort-category="item-weight">
                    {{localize "PF2E.BulkShortLabel"}}
                    {{#if (eq section.sortData.category "item-weight")}}
                        {{#if (eq section.sortData.direction "descending")}}
                            <i class="fa fa-chevron-up"></i>
                        {{/if}}
                        {{#if (eq section.sortData.direction "ascending")}}
                            <i class="fa fa-chevron-down"></i>
                        {{/if}}
                    {{/if}}
                </span>
                {{#if @root.owner}}
                    <div class="item-controls">
                        <a class="item-control item-create" title="{{localize "PF2E.CreateItemTitle"}}" data-type="{{section.type}}"><i class="fa-solid fa-fw fa-plus"></i></a>
                        <a class="item-control inventory-browse" title="{{localize "PF2E.OpenInventoryBrowser"}}" data-filter="itemtypes-{{section.type}}"><i class="fa-solid fa-fw fa-search"></i></a>
                    </div>
                {{/if}}
            </li>
            <ol class="item-list">
                {{#each section.items}}
                    {{> "systems/pf2e/templates/actors/partials/item-line.hbs" this=this editable=@root.editable owner=@root.owner user=@root.user}}
                {{/each}}
            </ol>
        {{/each}}
    </ol>
</section>
