<form class="{{cssClass}}" autocomplete="off" data-tooltip-class="pf2e">
    <!-- SIDEBAR -->
    {{> "systems/pf2e/templates/actors/loot/sidebar.hbs"}}

    <section class="content">
        <!-- HEADER -->
        <div class="sheet-header">
            {{#if owner}}
                <h1 class="charname">
                    <input name="name" type="text" value="{{actor.name}}" placeholder="{{localize "PF2E.loot.LootNamePlaceholder"}}" />
                </h1>
            {{else}}
                <h1 class="charname">{{actor.name}}</h1>
            {{/if}}
            <section class="sheet-type tags">
                {{#if owner}}
                    <i
                        class="fa-solid fa-info-circle"
                        data-tooltip="<div>{{localize "PF2E.loot.LootLabel"}}: {{localize "PF2E.loot.LootDescription"}}</div><div>{{localize "PF2E.loot.MerchantLabel"}}: {{localize "PF2E.loot.MerchantDescription"}}</div>"
                        data-tooltip-direction="LEFT"
                    ></i>
                    <select name="system.lootSheetType" class="tag">
                        {{#select data.lootSheetType}}
                            <option value="Loot">{{localize "PF2E.loot.LootLabel"}}</option>
                            <option value="Merchant">{{localize "PF2E.loot.MerchantLabel"}}</option>
                        {{/select}}
                    </select>
                {{else}}
                    <span class="tag">{{data.lootSheetType}}</span>
                {{/if}}
            </section>
        </div>

        <!-- BODY -->
        {{> "systems/pf2e/templates/actors/loot/inventory.hbs"}}
    </section>

</form>
