<section class="sheet-sidebar sidebar sidebar-loot">
    <div class="image-container">
        <img class="actor-image" src="{{actor.img}}" alt="{{actor.name}}"{{#if editable}} data-edit="img"{{/if}} />
        <a class="hover-icon" data-action="show-image" data-tooltip="SIDEBAR.CharArt"><i class="fa-solid fa-image fa-fw"></i></a>
    </div>

    {{#if (and user.isGM isLoot)}}
        <div class="gm-settings">
            <div class="loot-distribution" data-sidebar-buttons="">
                <button type="button" data-action="split-coins"><i class="fa-solid fa-coins"></i> {{localize "PF2E.loot.SplitCoinsLabel"}}</button>
                <button type="button" data-action="loot-npcs"><i class="fa-solid fa-box-open"></i> {{localize "PF2E.loot.LootNPCsLabel"}}</button>
            </div>
            <div class="form-group">
                <label for="{{document.uuid}}-hidden-when-empty">
                    <span>{{localize "PF2E.loot.HiddenWhenEmpty.Label"}}</span>
                    <i class="fa-solid fa-info-circle" data-tooltip="PF2E.loot.HiddenWhenEmpty.Hint"></i>
                </label>
                <input type="checkbox" id="{{document.uuid}}-hidden-when-empty" name="system.hiddenWhenEmpty" {{checked data.hiddenWhenEmpty}} />
            </div>
        </div>
    {{/if}}

    {{#if owner}}
        {{editor enrichedContent.description target="system.details.description" button=true user=user editable=editable}}
    {{else}}
        <div class="description">{{{enrichedContent.description}}}</div>
    {{/if}}
</section>
