<form {{#if flat}}data-flat="{{flat}}"{{/if}} autocapitalize="off">
    <header>
        <input type="search" value="{{searchString}}" placeholder="&#xf002;" aria-label="Filter" />
    </header>

    <ul{{#if allowCustom}} class="has-custom"{{/if}}>
        {{#each choices as |choice key|}}
        <li>
            <label class="option">
                <input type="checkbox" name="{{key}}" {{checked choice.selected}} {{disabled choice.disabled}} />
                <span>{{choice.label}}</span>
            </label>
        </li>
        {{/each}}
    </ul>
    {{#if allowCustom}}
        <div class="form-group stacked trait-footer">
            <label>{{localize "PF2E.SpecialLabel"}}:</label>
            <input type="text" name="custom" value="{{custom}}" />
        </div>
    {{/if}}

    <hr />

    <footer>
        <button type="submit" class="trait-footer">
            <i class="fa-regular fa-save"></i>{{localize "DOCUMENT.Update" type=(localize documentType)}}
        </button>
    </footer>
</form>
