<form class="window flexcol" autocomplete="off" onsubmit="event.preventDefault();">
    <ol class="trait-list">
        {{#each choices as |choice key|}}
        <li class="trait-item">
            <div class="form-group form-fields">
                <input type="checkbox" id="{{options.id}}-{{key}}" name="{{key}}" {{checked choice.selected}} {{disabled choice.disabled}} />
                <label class="trait-label" for="{{options.id}}-{{key}}">{{choice.label}}</label>
                <input type="number" name="{{key}}" value="{{choice.value}}" placeholder="0" {{disabled choice.disabled}} />
            </div>
        </li>
        {{/each}}
    </ol>
    <button class="trait-footer" type="submit"><i class="far fa-save"></i>{{localize "PF2E.UpdateActorLabel"}}</button>
</form>
