<form autocomplete="off">
    <ul>
        {{#each choices as |choice key|}}
            <li>
                <div class="form-group">
                    <input type="checkbox" id="{{options.id}}-{{key}}" name="{{key}}" {{checked choice.selected}} {{disabled choice.disabled}} />
                    <label class="trait-label" for="{{options.id}}-{{key}}">{{localize choice.label}}</label>
                    <input type="number" name="{{key}}" value="{{choice.value}}" placeholder="0" {{disabled choice.disabled}} />
                </div>
            </li>
        {{/each}}
    </ul>

    <footer>
        <button type="submit" class="trait-footer">
            <i class="fa-regular fa-save"></i>{{localize "DOCUMENT.Update" type=(localize documentType)}}
        </button>
    </footer>
</form>
