<div class="tab notes" data-group="primary" data-tab="notes" data-tooltip-class="">
    <div class="notes-section description">
        <h4>{{localize "PF2E.NPC.PublicNotes"}}</h4>
        <div class="notes-text">
            {{editor enrichedContent.publicNotes target="system.details.publicNotes" button=true editable=editable}}
        </div>
    </div>
    <div class="notes-section private-notes">
        <h4>{{localize "PF2E.NPC.PrivateNotes"}}</h4>
        <div class="notes-text">
            {{editor enrichedContent.privateNotes target="system.details.privateNotes" button=true editable=editable}}
        </div>
    </div>

    <div class="notes-section publication">
        <h4>{{localize "PF2E.Publication.Label"}}</h4>
        <div class="notes-text">
            {{> "systems/pf2e/templates/partials/publication-data.hbs" path="system.details.publication" data=data.details.publication}}
        </div>
    </div>
</div>
