<form class="flexcol {{cssClasses}}" autocomplete="off">

    <!-- Tabs -->
    <nav class="sheet-tabs tabs" data-group="main" aria-role="{{localize "SHEETS.FormNavLabel"}}">
        <a class="item" data-tab="character"><i class="fas fa-user"></i> {{localize "TOKEN.HeaderIdentity"}}</a>
        <a class="item" data-tab="appearance"><i class="fas fa-expand"></i> {{localize "TOKEN.HeaderAppearance"}}</a>
        <a class="item" data-tab="vision"><i class="fas fa-eye"></i> {{localize "TOKEN.HeaderVision"}}</a>
        <a class="item" data-tab="light"><i class="fas fa-lightbulb"></i> {{localize "TOKEN.HeaderLight"}}</a>
        <a class="item" data-tab="resources"><i class="fas fa-heart"></i> {{localize "TOKEN.HeaderResources"}}</a>
    </nav>

    <!-- Identity -->
    {{> "systems/pf2e/templates/scene/token/partials/identity.hbs"}}

    <!-- Appearance -->
    {{> "systems/pf2e/templates/scene/token/partials/appearance.hbs"}}

    <!-- Vision -->
    {{> "templates/scene/parts/token-vision.html"}}

    <!-- Light -->
    {{> "systems/pf2e/templates/scene/token/partials/lighting.hbs"}}

    <!-- Resource Bars -->
    {{> "templates/scene/parts/token-resources.html"}}

    <!-- Footer -->
    <footer class="sheet-footer flexrow">
        {{#if isPrototype}}
            <button type="button" class="assign-token"><i class="fas fa-user"></i> {{localize "TOKEN.Assign"}}</button>
        {{/if}}
        <button type="submit"><i class="far fa-save"></i> {{localize "TOKEN.Update"}}</button>
    </footer>
</form>
