<div class="form-group">
    <label class="short">{{localize "PF2E.RuleEditor.General.Add"}}</label>
    <input class="pf2e-tagify" name="{{basePath}}.add" value="{{json rule.add}}" data-dtype="JSON" />
</div>
<div class="form-group">
    <label class="short">{{localize "PF2E.RuleEditor.General.Remove"}}</label>
    <input class="pf2e-tagify" name="{{basePath}}.remove" value="{{json rule.remove}}" data-dtype="JSON" />
</div>
<div class="form-group">
    <label class="short">{{localize "PF2E.RuleEditor.General.Predicate"}}</label>
    <input type="text" name="{{basePath}}.predicate" value="{{json rule.predicate}}" />
</div>
