
<div class="form-group">
    <label class="short">{{localize "PF2E.RuleEditor.General.Value"}}</label>
    <div class="form-fields">
        {{{form.resolvableValue "value"}}}
        <select name="system.rules.{{index}}.type" class="short">
            {{#select rule.type}}
                {{#each types as |label key|}}
                    <option value="{{key}}">{{localize label}}</option>
                {{/each}}
            {{/select}}
        </select>
        {{{form.resolvableAddBracket "value"}}}
    </div>
</div>
{{{form.resolvableBrackets "value"}}}
{{#if (eq rule.type "regeneration")}}
    <div class="form-group">
        <label class="short">{{localize "PF2E.RuleEditor.FastHealing.DeactivatedBy"}}</label>
        <input type="text" class="pf2e-tagify deactivated-by" name="system.rules.{{index}}.deactivatedBy" value="{{json rule.deactivatedBy}}" data-dtype="JSON"/>
    </div>
{{else}}
    <div class="form-group">
        <label class="short">{{localize "PF2E.Details"}}</label>
        <input type="text" class="details" name="system.rules.{{index}}.details" value="{{rule.details}}"/>
    </div>
{{/if}}
<div class="form-group">
    <label class="short">{{localize "PF2E.RuleEditor.General.Predicate"}}</label>
    <input type="text" name="system.rules.{{index}}.predicate" value="{{json rule.predicate}}" />
</div>
