<div class="details-container-flex-row">
    <label>
        {{localize "PF2E.RuleEditor.GrantItem.AllowDuplicate"}}
        <input type="checkbox" name="system.rules.{{index}}.allowDuplicate" {{checked allowDuplicate}}>
    </label>
    <label>
        {{localize "PF2E.RuleEditor.GrantItem.ReplaceSelf"}}
        <input type="checkbox" name="system.rules.{{index}}.replaceSelf" {{checked rule.replaceSelf}}>
    </label>
    <label>
        {{localize "PF2E.RuleEditor.GrantItem.ReevaluateOnUpdate"}}
        <input type="checkbox" name="system.rules.{{index}}.reevaluateOnUpdate" {{checked rule.reevaluateOnUpdate}}>
    </label>
</div>
<div class="form-group">
    <label class="short">{{localize "PF2E.UUID.Label"}}</label>
    <div class="details-container-flex-row">
        <input type="text" name="system.rules.{{index}}.uuid" value="{{rule.uuid}}" />
        {{#if granted}}
            <a class="granted content-link" data-uuid="{{granted.uuid}}">
                <img src="{{granted.img}}"/>
                {{granted.name}}
            </a>
        {{/if}}
    </div>

</div>
<div class="form-group">
    <label class="short">{{localize "PF2E.RuleEditor.General.Predicate"}}</label>
    <input type="text" name="system.rules.{{index}}.predicate" value="{{json rule.predicate}}" />
</div>
