<div class="form-group">
    <label for="{{fieldIdPrefix}}uuid">{{fields.uuid.label}}</label>
    <div class="form-fields">
        {{formInput fields.uuid id=(concat fieldIdPrefix "uuid") value=rule.uuid}}
        {{#if granted}}
            <a class="content-link" data-link data-uuid="{{granted.uuid}}">
                <img src="{{granted.img}}"/> {{granted.name}}
            </a>
        {{/if}}
    </div>
</div>

<div class="form-group">
    <label for="{{fieldIdPrefix}}predicate">{{fields.predicate.label}}</label>
    <div class="form-fields">
        <input
            type="text"
            name="system.rules.{{index}}.predicate"
            id="{{fieldIdPrefix}}predicate"
            value="{{json rule.predicate}}"
            placeholder="[ ]"
        />
    </div>
</div>

{{formGroup fields.allowDuplicate name=(concat "system.rules." index ".allowDuplicate") value=rule.allowDuplicatee}}
{{formGroup fields.reevaluateOnUpdate name=(concat "system.rules." index ".reevaluateOnUpdate") value=rule.reevaluateOnUpdate}}
