<section class="rule-form" data-key="{{rule.key}}" data-idx="{{index}}">
    <header class="rule-element-header">
        <h3{{#if (not recognized)}} class="unrecognized"{{/if}}>{{label}}</h3>
        <div class="item-controls">
            <a class="edit-rule-element" data-rule-index="{{index}}" data-tooltip="{{localize "PF2E.Item.Rules.Edit"}}"><i class="fa-solid fa-fw fa-edit"></i></a>
            <a class="remove-rule-element" data-rule-index="{{index}}" data-tooltip="{{localize "PF2E.Item.Rules.Remove"}}"><i class="fa-solid fa-fw fa-trash"></i></a>
        </div>
    </header>
    <div class="container">
        {{{template}}}
    </div>
</section>
