<input type="text" name="{{path}}.title" class="title" value="{{data.title}}" placeholder={{localize "PF2E.Publication.Title"}} />
<div class="authors">
    <label for="{{options.id}}-publication-authors">{{localize "PF2E.Publication.Authors"}}</label>
    <input
        type="text"
        name="{{path}}.authors"
        id="{{options.id}}-publication-authors"
        value="{{data.authors}}"
    />
</div>
<div class="license">
    <label for="{{options.id}}-publication-license">{{localize "PF2E.Publication.License.Label"}}</label>
    <select name="{{path}}.license" id="{{options.id}}-publication-license">
        {{#select data.license}}
            <option value="OGL">{{localize "PF2E.Publication.License.OGL"}}</option>
            <option value="ORC">{{localize "PF2E.Publication.License.ORC"}}</option>
        {{/select}}
    </select>
</div>
<div class="remaster">
    <label for="{{options.id}}-publication-remaster">{{localize "PF2E.Publication.Remaster"}}</label>
    <input
        type="checkbox"
        name="{{path}}.remaster"
        id="{{options.id}}-publication-remaster"
        {{checked data.remaster}}
    />
</div>
