<form>
    <div class="scroll-container">
        <ol class="skills-list">
            <li class="skill header">
                <div>{{localize "PF2E.SkillLabel"}}</div>
                <div>{{localize "PF2E.ModifierTitle"}}</div>
            </li>
            {{#each trainedSkills as |skill|}}
                {{#unless skill.lore}}
                    <li class="skill" data-item-id="{{skill.itemId}}">
                        <label for="{{../actor.uuid}}-{{skill.itemId}}-modifier">{{skill.label}}</label>
                        <input
                            type="number"
                            id="{{../actor.uuid}}-{{skill.itemId}}-modifier"
                            value="{{#if skill.visible}}{{skill.base}}{{else}}0{{/if}}"
                            placeholder="0"
                            data-modifier
                        />
                        <div class="item-controls">
                            <a data-action="edit-skill" data-tooltip="CONTROLS.CommonEdit"><i class="fa-solid fa-edit"></i></a>
                            <a data-action="remove-skill" data-tooltip="Delete"><i class="fa-solid fa-trash"></i></a>
                        </div>
                    </li>
                {{/unless}}
            {{/each}}

            <li class="skill-selector">
                <select id="{{actor.uuid}}-untrained-skills">
                    {{#each untrainedSkills as |skill|}}
                        <option value="{{skill.slug}}">{{skill.label}}</option>
                    {{/each}}
                </select>
                <button type="button" data-action="add-skill">
                    <i class="fa-solid fa-plus"></i> {{localize "PF2E.NPC.AddSkill"}}
                </button>
            </li>
        </ol>

        <ol class="skills-list">
            <li class="skill header lore">
                <div>{{localize "PF2E.Lore"}}</div>
                <div>{{localize "PF2E.ModifierTitle"}}</div>
            </li>

            {{#each trainedSkills as |skill|}}
                {{#if skill.lore}}
                    <li class="skill" data-item-id="{{skill.itemId}}">
                        <label class="skill-name" for="{{../actor.uuid}}-{{skill.itemId}}-modifier">{{skill.label}}</label>
                        <input
                            type="number"
                            id="{{../actor.uuid}}-{{skill.itemId}}-modifier"
                            value="{{skill.base}}"
                            placeholder="0"
                            data-modifier
                        />
                        <div class="item-controls">
                            <a data-action="edit-skill" data-tooltip="CONTROLS.CommonEdit"><i class="fa-solid fa-edit"></i></a>
                            <a data-action="remove-skill" data-tooltip="Delete"><i class="fa-solid fa-trash"></i></a>
                        </div>
                    </li>
                {{/if}}
            {{/each}}

            <li class="lore-skill-creator">
                <input
                    type="text"
                    id="{{actor.uuid}}-new-lore"
                    area-label="{{localize "Name"}}"
                    placeholder="{{localize "PF2E.Actor.NPC.SkillsEditor.LorePlaceholder"}}"
                />
                <button type="button" data-action="add-lore">
                    <i class="fa-solid fa-plus"></i> {{localize "PF2E.NPC.AddSkill"}}
                </button>
            </li>
        </ol>
    </div>
</form>
