<form>
    <div class="scroll-container">
        <h2>{{localize "PF2E.SkillsLabel"}}</h2>
        <ol class="skills-list">
            {{#each skills as |skill|}}
                {{#unless skill.isLore}}
                    <li class="skill">
                        <div class="form-group form-fields">
                            <input type="checkbox" id="{{../actor.uuid}}-{{skill.key}}" name="skill.{{skill.key}}.enabled" {{checked skill.visible}} />
                            <label class="trait-label" for="{{../actor.uuid}}-{{skill.key}}">{{skill.label}}</label>
                        </div>

                        <input type="number" name="skill.{{skill.key}}.mod" {{#if skill.visible}}value="{{skill.value}}"{{/if}} placeholder="0" {{disabled skill.disabled}} />

                        <div class="item-controls">
                            <a class="item-control" data-action="add-skill-variant" data-tooltip="PF2E.Actor.NPC.SkillsEditor.AddSituationalSkill"><i class="fa-solid fa-plus"></i></a>
                        </div>
                    </li>
                {{/unless}}
            {{/each}}
        </ol>

        <h2>
            Lores
            <a class="item-control" data-action="add-lore" data-tooltip="PF2E.Actor.NPC.SkillsEditor.AddLore"><i class="fa-solid fa-plus"></i></a>
        </h2>
        <ol class="lores-list">
            {{#each skills as |skill|}}
                {{#if skill.isLore}}
                    {{> "systems/pf2e/templates/actors/npc/partials/lore.hbs"}}
                {{/if}}
            {{/each}}
        </ol>

        <div>
            <h2>{{localize "PF2E.Actor.NPC.SkillsEditor.SituationalSkillRolls"}}</h2>
            <ol>
                {{#each variants as |variant|}}
                    <li class="variant">
                        <select disabled>
                            <option selected>{{variant.skillLabel}}</option>
                        </select>
                        <input type="text" value="{{variant.label}}"/>
                        <input type="text" value="{{variant.mod}}" />
                        <div class="item-controls">
                            <a data-action="remove-variant" data-tooltip="Delete"><i class="fa-solid fa-trash"></i></a>
                        </div>
                        <div class="form-group form-fields">
                            <label>Predicate</label>
                            <input type="text" value="{{variant.predicate}}" placeholder="[&quot;action:climb&quot;]"/>
                        </div>
                    </li>
                {{/each}}
            </ol>
        </div>
    </div>
    <button type="submit" class="trait-footer">
        <i class="fa-regular fa-save"></i>{{localize "DOCUMENT.Update" type=(localize "PF2E.SkillsLabel")}}
    </button>
</form>
