<section class="threat-xp">
    <div class="threat">
        {{localize "PF2E.Encounter.Budget.Threat"}}:
        <span class="value {{threat}}">{{localize (concat "PF2E.Encounter.Budget.Threats." threat)}}</span>
    </div>
    <div class="xp">
        {{localize "PF2E.Encounter.XP"}}: <span class="value">{{xp}}</span>
    </div>
</section>
