<form class="flex {{cssClass}}" autocomplete="off">

    {{!-- Sidebar --}}
    <aside class="sidebar">
        <img class="profile-img" src="{{data.img}}" data-edit="img" title="{{data.name}}" height="100" width="100" />
        <fieldset>
            <legend><i class="fa-light fa-heart"></i> Hit Points</legend>
            <div class="flex">
                <input type="number" name="hp.value" value="{{data.attributes.hp.value}}"/>
                <span>&nbsp;/&nbsp;</span>
                <input type="number" name="hp.max" value="{{data.attributes.hp.max}}"/>
            </div>
        </fieldset>
        <fieldset>
            <legend><i class="fa-light fa-shield"></i> AC</legend>
            <div>
                <input type="number" name="ac.value" value="{{{{data.attributes.ac.value}}}}"/>
            </div>
            </fieldset>
        <fieldset>
            <legend><i class="fa-light fa-eye"></i> Scouting</legend>
            <div>
            <button class="roll"><i class="fa-light fa-dice-d20"></i></button>
            <input type="number" name="scouting.value" value="{{data.attributes.scouting.value}}"/>
            </div>
        </fieldset>
        <fieldset>
            <legend><i class="fa-light fa-flag"></i>&nbsp;Saves</legend>
            <label class="top" for="maneuver.value">Maneuver</label>
            <div>
                <button class="roll"><i class="fa-light fa-dice-d20"></i></button>
                <input type="number" name="maneuver.value" value="{{data.attributes.maneuver.value}}"/>
            </div>
            <label class="top" for="morale.value">Morale</label>                    
            <div>
                <button class="roll"><i class="fa-light fa-dice-d20"></i></button>
                <input type="number" name="morale.value" value="{{data.attributes.morale.value}}"/>
            </div>
        </fieldset>
    </aside>
    
    {{!-- Rest of the sheet --}}
    <div class="body">

        {{!-- Sheet Header --}}
        <header class="sheet-header">
                <h1 class="charname">
                    <input name="name" type="text" value="{{actor.name}}" placeholder="Army Name" />
                </h1>
                <div class="traits flex">
                    <div>
                        <select name="rarity" value="{{data.traits.rarity}}">
                            <option value="Common">Common</option>
                            <option value="Uncommon">Uncommon</option>
                            <option value="Rare">Rare</option>
                            <option value="Unique">Unique</option>
                        </select>
                        <select name="alignment" value="{{data.details.alignment}}">
                            <option value="Neutral">Neutral</option>
                            <option value="Evil">Evil</option>
                            <option value="Good">Good</option>
                            <option value="Lawful">Lawful</option>
                            <option value="Chaotic">Chaotic</option>
                        </select>
                        <select name="type" value="{{data.traits.type}}">
                            <option value="Infantry">Infantry</option>
                            <option value="Cavalry">Cavalry</option>
                            <option value="Skirmishers">Skirmishers</option>
                            <option value="Siege">Siege</option>
                        </select>
                    </div>
                    <div>
                        <label for="level.value">Level:</label>
                        <input type="number" name="level.value" value="{{data.details.level.value}}"/>
                    </div>    
            </div>
        </header>

        {{!-- Tab Navbar --}}
        <nav class="sheet-tabs tabs" data-group="primary">
            <a class="details" data-tab="details">Details</a>
            <a class="groups" data-tab="groups">Items</a>
        </nav>

        {{!-- Tabs --}}
        <section class="sheet-body">

            {{!-- Attributes Tab --}}
            <div class="tab details" data-group="primary" data-tab="details">
                <fieldset class="strikes">
                <legend><i class="fa-light fa-swords"></i>&nbsp;Strikes</legend>
                    <div class="flex">
                        <button class="roll"><i class="fa-light fa-dice-d20"></i></button><span>&nbsp;</span>
                        <input type="text" name="Melee Strike Name" value="Strike Name"/><span>&nbsp;</span>
                        <input type="number" name="strikes.melee" value="{{data.attributes.strikes.melee}}"/><span>&nbsp;</span>
                    </div>
                    <div class="flex">
                        <button class="roll"><i class="fa-light fa-dice-d20"></i></button><span>&nbsp;</span>
                        <input type="text" name="Ranged Strike Name" value="Strike Name"/><span>&nbsp;</span>
                        <input type="number" name="strikes.ranged" value="{{data.attributes.strikes.ranged}}"/><span>&nbsp;</span>
                    </div>
                </fieldset>
                <fieldset class="description">
                    <legend><i class="fa-light fa-pencil"></i>&nbsp;Description</legend>
                        {{editor enrichedContent.privateNotes target="system.details.description" button=true editable=editable}}            
                </fieldset>
                <div class="economy flex">
                    <div>
                        <label for="consumption.value">Consumption:</label>
                        <input type="number" name="consumption.value" value="{{data.attributes.consumption.value}}"/>
                    </div>
                    <div>
                        <label for="recruitmentDC.value">Recruitment DC:</label>
                        <input type="number" name="recruitmentDC.value" value="{{data.attributes.recruitmentDC.value}}"/>
                    </div>
                </div> 
            </div>

            {{!-- Items Tab --}}
            <div class="tab items" data-group="primary" data-tab="items">
            </div>

        </section>

    </div>

</form>
