<form class="army-sheet" autocomplete="off">

    {{!-- ============== --}}
    {{!--    SIDEBAR     --}}
    {{!-- ============== --}}
    <aside class="army-sidebar">
        {{!-- Portrait --}}
        <section class="image-container">
            <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}"/>
            <a class="hover-icon" data-action="show-image"><i class="fas fa-image fa-fw"></i></a>
        </section>

        {{!-- AC --}}
        <section class="sidebar-section">
            <div class="section-head">
                <i class="fas fa-fw fa-shield-alt"></i>
                <h4>{{localize "PF2E.ArmorClassLabel"}}</h4>
                <input type="number" data-property="system.attributes.ac.value" value="{{data.attributes.ac.value}}" data-dtype="Number"/>
            </div>
            <div class="buttons">
                <button title="{{data.gear.armor.magic.name}}" class="armor pips" type="button">
                    {{#times 3}}
                        <i class="{{#if (gt @root.data.gear.armor.magic.bonus this)}}far fa-shield filled{{else}}fal fa-shield empty{{/if}}"></i>
                    {{/times}}
                </button>               
                <label for="data.gear.armor.magic.name"> + {{data.gear.armor.magic.bonus}}</label>
            </div>
            <input type="text" data-dtype="String" data-property="system.attributes.ac.details" value="{{data.attributes.ac.details}}" class="armor-details" placeholder="{{localize "PF2E.NPC.ArmorExtraInfoLabelPlaceholder"}}" />
        </section>

        {{!-- HP --}}
        <section class="sidebar-section">
            <div class="section-head">
                <i class="fas fa-fw fa-heart"></i>
                <h4>{{localize "PF2E.HitPointsShortLabel"}}</h4>
                    <input type="number" data-property="system.attributes.hp.value" value="{{data.attributes.hp.value}}" data-dtype="Number"/>
                    <span class="slash">/</span>
                    <input type="number" data-property="system.attributes.hp.max" value="{{data.attributes.hp.max}}" data-dtype="Number"/>
            </div>
            <div class="buttons">
                <button title="{{data.gear.potions.unlocked}} {{data.gear.potions.name}}(s)" class="potion pips" type="button">
                    {{#times 3}}
                        <i class="{{#if (gt @root.data.gear.potions.unlocked this)}}far fa-flask-round-potion filled{{else}}fal fa-flask-round-potion empty{{/if}}"></i>
                    {{/times}}
                </button>
                {{#if (eq @root.data.gear.potions.unlocked 0)}}
                    <button title="No Potions ☹" class="disabled" type="button"><i class="fal fa-champagne-glasses"></i>
                {{else if (eq @root.document.hitPoints.value @root.document.hitPoints.max)}}
                    <button title="HP is already max ☺" class="disabled" type="button"><i class="fal fa-champagne-glasses"></i>
                {{else}}
                    <button title="Use Potion (+1 HP)" class="usepotion" type="button"><i class="fas fa-champagne-glasses"></i>
                {{/if}}
                </button>
            </div>              
            <input type="text" data-property="system.attributes.hp.details" value="{{data.attributes.hp.details}}" title="{{data.attributes.hp.details}}" data-dtype="String" placeholder="{{localize "PF2E.NPC.HPExtraInfoLabelPlaceholder"}}"/>
        </section>

        {{!-- Scouting --}}
        <section class="sidebar-section">
            <div class="section-head">
                <i class="fas fa-fw fa-eye"></i>
                <h4>Scouting</h4>
                <a class="roll-icon"><i class="fas fa-dice-d20"></i></a>
                <input type="number" data-property="system.attributes.scouting.value" value="{{data.attributes.scouting.value}}" data-dtype="Number"/>
            </div>
            {{#if data.attributes.scouting.darkvision}}
                <button class="darkvision toggle" title="Army has Darkvision"><i class="fas fa-eye filled"></i></button>
            {{else}}
                <button class="darkvision toggle" title="Army does not have Darkvision"><i class="fal fa-eye empty"></i></button>
            {{/if}} 
        </section>

        {{!-- Saves --}}
        <section class="sidebar-section">
            <div class="section-head">
                <i class="fas fa-fw fa-boot"></i>
                <h4>Saves</h4>
            </div>        
            <div>
                <label for="system.saves.morale">Morale</label>
                <a class="roll-icon">
                <i class="fas fa-dice-d20"></i>
                </a>   
                <input type="number" data-property="system.saves.morale" value="{{data.saves.morale}}" data-dtype="Number"/>
            </div>
            <div>                     
                <label for="system.saves.maneuver">Maneuver</label>
                <a class="roll-icon">
                <i class="fas fa-dice-d20"></i>
                </a>
                <input type="number" data-property="system.saves.maneuver" value="{{data.saves.maneuver}}" data-dtype="Number"/>
            </div>
            <input type="text" name="system.saves.details" value="{{data.saves.details}}" title="{{data.saves.details}}" placeholder="{{localize "PF2E.NPC.SavesExtraInfoLabelPlaceholder"}}"/>
        </section>

        {{!-- Economy --}}
        <section class="sidebar-section">   
            <div class="section-head">
                <i class="fas fa-fw fa-coins"></i>
                <h4>Economy</h4>
            </div>        
            <div>
                <label for="data.details.consumption">Consumption:</label>
                <input type="number" data-property="system.details.consumption" value="{{data.details.consumption}}" data-dtype="Number"/>
            </div>
            <div>
                <label for="data.details.recruitmentDC">Recruitment DC:</label>
                <input type="number" data-property="system.details.recruitmentDC" value="{{data.details.recruitmentDC}}" data-dtype="Number"/>
            </div>
        </section>
    </aside>

    <section class="army-body">

        {{!-- ============== --}}
        {{!--     Header     --}}
        {{!-- ============== --}}
        <header class="army-sheet-header">
            {{!-- NAME --}}
            <div class="name flex">
                <input class="name-value" name="name" type="text" value="{{actor.name}}" placeholder="Army Name" spellcheck="false" />
                <label class="level-label">Army <input class="level" name="system.details.level.value" type="number" value="{{data.details.level.value}}"/></label>
            </div>
            {{!-- TRAITS --}}
            <div>
                <select name="rarity" class="rarity-select trait {{data.traits.rarity}}" data-property="system.traits.rarity" value="{{data.traits.rarity}}" >
                    <option value="common">Common</option>
                    <option value="uncommon">Uncommon</option>
                    <option value="rare">Rare</option>
                    <option value="unique">Unique</option>
                </select>
                <select name="alignment" class="alignment-select trait {{data.details.alignment}}" data-property="system.details.alignment" value="{{data.details.alignment}}" >
                    <option>LG</option>
                    <option>NG</option>
                    <option>CG</option>
                    <option>LN</option>
                    <option>N</option>
                    <option>CN</option>
                    <option>LE</option>
                    <option>NE</option>
                    <option>CE</option>
                </select>
                <select name="armytype" class="armytype-select trait" data-property="system.traits.armytype" value="{{data.traits.armytype}}">
                    <option value="infantry">Infantry</option>
                    <option value="cavalry">Cavalry</option>
                    <option value="skirmishers">Skirmishers</option>
                    <option value="siege">Siege</option>
                </select>
            </div>
            {{!-- BLURB --}}
            <input name="system.details.blurb" type="text" value="{{data.details.blurb}}" />
        </header>

        {{!-- ============== --}}
        {{!--      Body      --}}
        {{!-- ============== --}}
        <section class="sheet-body">

                {{!-- ============== --}}
                {{!--     Strikes    --}}
                {{!-- ============== --}}
                <fieldset class="strikes">
                <legend><i class="fa-light fa-swords"></i>&nbsp;Strikes</legend>
                    <div class="melee strike">
                        <button class="melee strike" title="Melee Strike ( + {{data.gear.melee.bonus}} proficiency, + {{data.gear.melee.magic.bonus}} potency )" >
                            <label><i class="fas fa-dice-d20"></i> + {{add data.gear.melee.bonus data.gear.melee.magic.bonus}}</label>
                        </button>
                        <input class="melee name" type="text" data-property="system.gear.melee.name" value="{{data.gear.melee.name}}" placeholder="Melee Strike" />
                        <button title="{{data.gear.melee.magic.rank}}" class="melee pips" type="button">
                            {{#times 3}}
                            <i class="{{#if (gt @root.data.gear.melee.magic.bonus this)}}far fa-sword filled{{else}}fal fa-sword empty{{/if}}"></i>
                            {{/times}}
                        </button>
                        {{#if data.gear.melee.unlocked}}
                            <button class="melee toggle" title="Weapon is available"><i class="fas fa-lock-open empty"></i></button>
                        {{else}}
                            <button class="melee toggle" title="Weapon is not available"><i class="fas fa-lock filled"></i></button>
                        {{/if}}     
                    </div>
                    <div class="ranged strike">
                        <button class="ranged strike" title="Ranged Strike ( + {{data.gear.ranged.bonus}} proficiency, + {{data.gear.ranged.magic.bonus}} potency )" >
                            <label><i class="fas fa-dice-d20"></i> + {{add data.gear.ranged.bonus data.gear.ranged.magic.bonus}}</label>
                        </button>
                        <input class="ranged name" type="text" data-property="system.gear.ranged.name" value="{{data.gear.ranged.name}}" placeholder="Ranged Strike" />
                        <button title="{{data.gear.ranged.magic.rank}}" class="ranged pips" type="button">
                            {{#times 3}}
                            <i class="{{#if (gt @root.data.gear.ranged.magic.bonus this)}}far fa-bow-arrow filled{{else}}fal fa-bow-arrow empty{{/if}}"></i>
                            {{/times}}
                        </button>
                        {{#if data.gear.ranged.unlocked}}
                            <button class="ranged toggle"><i class="fas fa-lock-open empty" title="Weapon is available"></i></button>
                        {{else}}
                            <button class="ranged toggle"><i class="fas fa-lock filled" title="Weapon is not available"></i></button>
                        {{/if}} 
                    </div>
                </fieldset>

                {{!-- ============== --}}
                {{!--     Tactics    --}}
                {{!-- ============== --}}
                <fieldset>
                <legend><i class="fa-light fa-flag-swallowtail"></i>&nbsp;Tactics</legend>
                </fieldset>

                {{!-- ============== --}}
                {{!--      Desc      --}}
                {{!-- ============== --}}
                <fieldset>
                    <legend><i class="fa-light fa-pencil"></i>&nbsp;Description</legend>
                    <input type="text" data-property="system.details.description" value="{{data.details.description}}" placeholder="A description of this army!"/>
                </fieldset>

        </section>
    </section>
</form>