<form class="army-sheet" autocomplete="off">

    {{!-- ============== --}}
    {{!--    SIDEBAR     --}}
    {{!-- ============== --}}
    <aside class="army-sidebar">
        {{!-- Portrait --}}
        <section class="image-container">
            <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}"/>
            <a class="hover-icon" data-action="show-image"><i class="fas fa-image fa-fw"></i></a>
        </section>

        {{!-- AC --}}
        <section class="sidebar-section">
            <div class="section-head">
                <i class="fas fa-fw fa-shield-alt"></i>
                <h4>{{localize "PF2E.ArmorClassLabel"}}</h4>
                <input type="number" data-property="system.attributes.ac.value" value="{{data.attributes.ac.value}}" data-dtype="Number" placeholder="0"/>
            </div>
            <div class="select">
                <select id="data.attributes.ac.magic" name="system.attributes.ac.magic" value="{{data.attributes.ac.magic}}"> 
                    <option value=0>Mundane Armor</option>
                    <option value=1>Magic Armor</option>
                    <option value=2>Greater Magic Armor</option>
                    <option value=3>Major Magic Armor</option>
                </select>                
                <label for="data.attributes.ac.magic"> + {{data.attributes.ac.magic}}</label>
            </div>
            <input type="text" data-dtype="String" data-property="system.attributes.ac.details" value="{{data.attributes.ac.details}}" class="armor-details" placeholder="{{localize "PF2E.NPC.ArmorExtraInfoLabelPlaceholder"}}" />
        </section>

        {{!-- HP --}}
        <section class="sidebar-section">
            <div class="section-head">
                <i class="fas fa-fw fa-heart"></i>
                <h4>{{localize "PF2E.HitPointsShortLabel"}}</h4>
                    <input type="number" data-property="system.attributes.hp.value" value="{{data.attributes.hp.value}}" data-dtype="Number" placeholder="0" />
                    <span class="slash">/</span>
                    <input type="number" data-property="system.attributes.hp.max" value="{{data.attributes.hp.max}}" data-dtype="Number" placeholder="0"/>
            </div>
            <div>
                <label>(Debug) Potions: <input type="number" data-property="system.details.potions" value="{{data.details.potions}}" ></label>
            </div>
            <div class="buttons">
                <button class="potion value{{data.details.potions}}" type="button"><i class="first fa fa-flask-round-potion"></i><i class="second fa fa-flask-round-potion"></i><i class="third fa fa-flask-round-potion"></i></button>
                <label> Use :                 <button type="button"><i class="fa fa-champagne-glasses"></i></button></label>
            </div>              
            <input type="text" data-property="system.attributes.hp.details" value="{{data.attributes.hp.details}}" title="{{data.attributes.hp.details}}" data-dtype="String" placeholder="{{localize "PF2E.NPC.HPExtraInfoLabelPlaceholder"}}"/>
        </section>

        {{!-- Scouting --}}
        <section class="sidebar-section">
            <div class="section-head">
                <i class="fas fa-fw fa-eye"></i>
                <h4>Scouting</h4>
                <a class="roll-icon"><i class="fas fa-dice-d20"></i></a>
                <input type="number" data-property="system.attributes.scouting.value" value="{{data.attributes.scouting.value}}" data-dtype="Number" placeholder="0" />
            </div>
            <div>
                <label for="darkvision">Darkvision: </label><input id="darkvision" type="checkbox"  data-property="system.attributes.scouting.darkvision" value="{{data.attributes.scouting.darkvision}}" >
            </div>
        </section>

        {{!-- Saves --}}
        <section class="sidebar-section">
            <div class="section-head">
                <i class="fas fa-fw fa-boot"></i>
                <h4>Saves</h4>
            </div>        
            <div>
                <label for="system.saves.morale">Morale</label>
                <a class="roll-icon">
                <i class="fas fa-dice-d20"></i>
                </a>   
                <input type="number" data-property="system.saves.morale" value="{{data.saves.morale}}" data-dtype="Number" placeholder="0" />
            </div>
            <div>                     
                <label for="system.saves.maneuver">Maneuver</label>
                <a class="roll-icon">
                <i class="fas fa-dice-d20"></i>
                </a>
                <input type="number" data-property="system.saves.maneuver" value="{{data.saves.maneuver}}" data-dtype="Number" placeholder="0" />
            </div>
            <input type="text" name="system.saves.details" value="{{data.saves.details}}" title="{{data.saves.details}}" placeholder="{{localize "PF2E.NPC.SavesExtraInfoLabelPlaceholder"}}"/>
        </section>

        {{!-- Economy --}}
        <section class="sidebar-section">   
            <div class="section-head">
                <i class="fas fa-fw fa-coins"></i>
                <h4>Economy</h4>
            </div>        
            <div>
                <label for="data.details.consumption">Consumption:</label>
                <input type="number" data-property="system.details.consumption" value="{{data.details.consumption}}" data-dtype="Number" placeholder="0"/>
            </div>
            <div>
                <label for="data.details.recruitmentDC">Recruitment DC:</label>
                <input type="number" data-property="system.details.recruitmentDC" value="{{data.details.recruitmentDC}}" data-dtype="Number" placeholder="0"/>
            </div>
        </section>
    </aside>

    <section class="army-body">

        {{!-- ============== --}}
        {{!--     Header     --}}
        {{!-- ============== --}}
        <header class="army-sheet-header">
            {{!-- NAME --}}
            <div class="name flex">
                <input class="name-value" name="name" type="text" value="{{actor.name}}" placeholder="Army Name" spellcheck="false" />
                <label class="level-label">Army</label>
                <input class="level" name="system.details.level.value" type="number" value="{{data.details.level.value}}" placeholder="1" />
            </div>
            {{!-- TRAITS --}}
            <div>
                <select name="rarity" class="rarity-select trait {{data.traits.rarity}}" data-property="system.traits.rarity" value="{{data.traits.rarity}}" >
                    <option value="common">Common</option>
                    <option value="uncommon">Uncommon</option>
                    <option value="rare">Rare</option>
                    <option value="unique">Unique</option>
                </select>
                <select name="alignment" class="alignment-select trait {{data.details.alignment}}" data-property="system.details.alignment" value="{{data.details.alignment}}" >
                    <option>LG</option>
                    <option>NG</option>
                    <option>CG</option>
                    <option>LN</option>
                    <option>N</option>
                    <option>CN</option>
                    <option>LE</option>
                    <option>NE</option>
                    <option>CE</option>
                </select>
                <select name="armytype" class="armytype-select trait" data-property="system.traits.armytype" value="{{data.traits.armytype}}">
                    <option value="infantry">Infantry</option>
                    <option value="cavalry">Cavalry</option>
                    <option value="skirmishers">Skirmishers</option>
                    <option value="siege">Siege</option>
                </select>
            </div>
            {{!-- BLURB --}}
            <input name="system.details.blurb" type="text" value="{{data.details.blurb}}" />
        </header>

        {{!-- ============== --}}
        {{!--      Body      --}}
        {{!-- ============== --}}
        <section class="sheet-body">

                {{!-- ============== --}}
                {{!--     Strikes    --}}
                {{!-- ============== --}}
                <fieldset class="strikes">
                <legend><i class="fa-light fa-swords"></i>&nbsp;Strikes</legend>
                    <div class="flex strike">
                        {{!--     For some reason editing one of these edits both but also doesn't set the values correctly    --}}
                        <input class="name" type="text" data-property="system.attributes.strikes.melee.name" value="{{data.attributes.strikes.melee.name}}" placeholder="Melee Strike" />
                        <a class="roll-icon">
                        <i class="fas fa-dice-d20"></i>
                        </a>
                        <input class="value" type="number" data-property="system.attributes.strikes.melee.bonus" value="{{data.attributes.strikes.melee.bonus}}" placeholder="0" />
                        <select name="system.attributes.strikes.melee.magic" data-property="system.attributes.strikes.melee.magic" value="{{data.attributes.strikes.melee.magic}}" >
                            <option value=0>Mundane Weapons</option>
                            <option value=1>Magic Weapons</option>
                            <option value=2>Greater Magic Weapons</option>
                            <option value=3>Major Magic Weapons</option>
                        </select>
                    </div>
                    <div class="flex strike">
                        <input class="name" type="text" data-property="system.attributes.strikes.ranged.name" value="{{data.attributes.strikes.melee.name}}" placeholder="Ranged Strike" />
                        <a class="roll-icon"><i class="fas fa-dice-d20"></i></a>
                        <input class="value" type="number" data-property="system.attributes.strikes.ranged.bonus" value="{{data.attributes.strikes.melee.bonus}}" placeholder="0" />
                        <select name="system.attributes.strikes.ranged.magic" data-property="system.attributes.strikes.ranged.magic" value="{{data.attributes.strikes.ranged.magic}}" >
                            <option value=0>Mundane Weapons</option>
                            <option value=1>Magic Weapons</option>
                            <option value=2>Greater Magic Weapons</option>
                            <option value=3>Major Magic Weapons</option>
                        </select>
                    </div>
                </fieldset>

                {{!-- ============== --}}
                {{!--     Tactics    --}}
                {{!-- ============== --}}
                <fieldset>
                <legend><i class="fa-light fa-flag-swallowtail"></i>&nbsp;Tactics</legend>
                </fieldset>

                {{!-- ============== --}}
                {{!--      Desc      --}}
                {{!-- ============== --}}
                <fieldset>
                    <legend><i class="fa-light fa-pencil"></i>&nbsp;Description</legend>
                    <input type="text" data-property="system.details.description" value="{{data.details.description}}" placeholder="A description of this army!"/>
                </fieldset>

        </section>
    </section>
</form>