<form class="army-sheet" autocomplete="off">

    {{!-- ============== --}}
    {{!--    SIDEBAR     --}}
    {{!-- ============== --}}
    <aside class="army-sidebar">
        {{!-- Portrait --}}
        <div class="image-container">
            <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}"/>
            <a class="hover-icon" data-action="show-image"><i class="fas fa-image fa-fw"></i></a>
        </div>

        {{!-- AC --}}
        <div class="sidebar-section">
            <div class="sidebar-label">
                <i class="fas fa-fw fa-shield-alt"></i>
                <h4>{{localize "PF2E.ArmorClassLabel"}}</h4>
                <input type="number" data-property="system.attributes.ac.value" value="{{data.attributes.ac.value}}" data-dtype="Number" placeholder="0"/>
            </div>
            <input type="text" data-dtype="String" data-property="system.attributes.ac.details" value="{{data.attributes.ac.details}}" class="armor-details" placeholder="{{localize "PF2E.NPC.ArmorExtraInfoLabelPlaceholder"}}" />
        </div>

        {{!-- HP --}}
        <div class="sidebar-section">
            <div class="sidebar-label">
                <i class="fas fa-fw fa-heart"></i>
                <h4>{{localize "PF2E.HitPointsShortLabel"}}</h4>
                <div class="hit-points">
                    <input type="number" data-property="system.attributes.hp.value" value="{{data.attributes.hp.value}}" data-dtype="Number" placeholder="0" />
                    <span class="slash">/</span>
                    <input type="number" data-property="system.attributes.hp.max" value="{{data.attributes.hp.max}}" data-dtype="Number" placeholder="0"/>
                </div>
            </div>
            <input type="text" data-property="system.attributes.hp.details" value="{{data.attributes.hp.details}}" title="{{data.attributes.hp.details}}" data-dtype="String" placeholder="{{localize "PF2E.NPC.HPExtraInfoLabelPlaceholder"}}"/>
        </div>

        {{!-- Scouting --}}
        <div class="sidebar-section">
            <div class="sidebar-label">
                <i class="fas fa-fw fa-eye"></i>
                <h4>Scouting</h4>
                <a class="roll-icon">
                <i class="fas fa-dice-d20"></i>
                </a>
                <input type="number" data-property="system.attributes.scouting.value" value="{{data.attributes.scouting.value}}" data-dtype="Number" placeholder="0" />
            </div>
        </div>

        {{!-- Saves --}}
        <div class="sidebar-section">
            <div class="sidebar-label">
                <i class="fas fa-fw fa-boot"></i>
                <h4>Saves</h4>
            </div>        
            <div class="flex">
                <label for="system.saves.morale.value">Morale</label>
                <a class="roll-icon">
                <i class="fas fa-dice-d20"></i>
                </a>   
                <input type="number" data-property="system.saves.morale.value" value="{{data.saves.morale.value}}" data-dtype="Number" placeholder="0" />
            </div>
            <div class="flex">                     
                <label for="system.saves.maneuver.value">Maneuver</label>
                <a class="roll-icon">
                <i class="fas fa-dice-d20"></i>
                </a>
                <input type="number" data-property="system.saves.maneuver.value" value="{{data.saves.maneuver.value}}" data-dtype="Number" placeholder="0" />
            </div>
            <input type="text" name="system.saves.allSaves.value" value="{{data.saves.allSaves.value}}" title="{{data.saves.allSaves.value}}" placeholder="{{localize "PF2E.NPC.SavesExtraInfoLabelPlaceholder"}}"/>
        </div>

        {{!-- Economy --}}
        <div class="sidebar-section">   
            <div class="sidebar-label">
                <i class="fas fa-fw fa-coins"></i>
                <h4>Economy</h4>
            </div>        
            <div class="flex">
                <label for="data.attributes.consumption.value">Consumption:</label>
                <input type="number" data-property="system.attributes.consumption.value" value="{{data.attributes.consumption.value}}" data-dtype="Number" placeholder="0"/>
            </div>
            <div class="flex">
                <label for="data.attributes.recruitmentDC.value">Recruitment DC:</label>
                <input type="number" data-property="system.attributes.recruitmentDC.value" value="{{data.attributes.recruitmentDC.value}}" data-dtype="Number" placeholder="0"/>
            </div>
        </div>

    </aside>

    <section class="army-body">

        {{!-- ============== --}}
        {{!--     Header     --}}
        {{!-- ============== --}}
        <header class="army-sheet-header">
            {{!-- NAME --}}
            <div class="name flex">
                <input class="name-value" name="name" type="text" value="{{actor.name}}" placeholder="Army Name" spellcheck="false" />
                <label class="level-label">Army</label>
                <input class="level" name="system.details.level.value" type="number" value="{{data.details.level.value}}" placeholder="1" />
            </div>
            {{!-- TRAITS --}}
            {{!-- copied this bit from the character sheet so it's not my fault it's scuffed --}}
            <div>
                <select class="rarity-select trait {{system.traits.rarity}}" data-property="system.traits.rarity">
                    {{#select system.traits.rarity}}
                        {{#each rarity as |label key|}}
                            <option value="{{key}}">Rarity</option>
                        {{/each}}
                    {{/select}}
                </select>
                <select class="alignment-select trait" data-property="system.details.alignment">
                    {{#select system.details.alignment}}
                        {{#each alignments as |label key|}}
                            <option value="{{key}}">Alignment</option>
                        {{/each}}
                    {{/select}}
                </select>
                <select class="type-select trait" data-property="system.traits.type">
                    {{#select system.traits.type}}
                        {{#each type as |label key|}}
                            <option value="{{key}}">Type</option>
                        {{/each}}
                    {{/select}}
                </select>
            </div>
            {{!-- BLURB --}}
            <input name="system.details.blurb" type="text" value="{{data.details.blurb}}" />
        </header>

        {{!-- ============== --}}
        {{!--      Body      --}}
        {{!-- ============== --}}
        <section class="sheet-body">

                {{!-- ============== --}}
                {{!--     Strikes    --}}
                {{!-- ============== --}}
                <fieldset>
                <legend><i class="fa-light fa-swords"></i>&nbsp;Strikes</legend>
                    <div class="flex strike">
                        {{!--     For some reason editing one of these edits both but also doesn't set the values correctly    --}}
                        <input class="name" type="text" data-property="system.attributes.strikes.melee.name" value="{{data.attributes.strikes.melee.name}}" placeholder="Melee Strike" />
                        <a class="roll-icon">
                        <i class="fas fa-dice-d20"></i>
                        </a>
                        <input class="value" type="number" data-property="system.attributes.strikes.melee.bonus" value="{{data.attributes.strikes.melee.bonus}}" placeholder="0" />
                    </div>
                    <div class="flex strike">
                        <input class="name" type="text" data-property="system.attributes.strikes.ranged.name" value="{{data.attributes.strikes.melee.name}}" placeholder="Ranged Strike" />
                        <a class="roll-icon"><i class="fas fa-dice-d20"></i></a>
                        <input class="value" type="number" data-property="system.attributes.strikes.ranged.bonus" value="{{data.attributes.strikes.melee.bonus}}" placeholder="0" />
                    </div>
                </fieldset>

                {{!-- ============== --}}
                {{!--     Tactics    --}}
                {{!-- ============== --}}
                <fieldset>
                <legend><i class="fa-light fa-flag-swallowtail"></i>&nbsp;Tactics</legend>
                </fieldset>

                {{!-- ============== --}}
                {{!--      Gear      --}}
                {{!-- ============== --}}
                <fieldset>
                <legend><i class="fa-light fa-flask-round-potion"></i>&nbsp;Gear</legend>
                </fieldset>

                {{!-- ============== --}}
                {{!--      Desc      --}}
                {{!-- ============== --}}
                <fieldset>
                    <legend><i class="fa-light fa-pencil"></i>&nbsp;Description</legend>
                    <input type="text" data-property="system.details.description" value="{{data.details.description}}" placeholder="A description of this army!"/>
                </fieldset>

        </section>
    </section>
</form>