<div class="pc pc_{{ type }} item">
    <span class="details-label">{{localize (concat "PF2E." (capitalize type))}}</span>
    <span title="{{localize (concat "PF2E." (capitalize type) "Title")}}">
        <h3>
            <span class="value">{{item.name}}</span>
            {{#if @root.options.editable}}
                {{#if item}}
                    <a class="detail-item-control-hover" data-tooltip-content="#{{options.id}}-{{item.id}}-control">
                        <i class="fa-solid fa-fw fa-ellipsis-v"></i>
                    </a>
                    {{#with item}}
                        {{> "systems/pf2e/templates/actors/character/partials/detail-item-tooltip.hbs"}}
                    {{/with}}
                {{else}}
                    <a class="open-compendium" data-compendium={{ compendium }}><i class="fas fa-fw fa-plus-circle"></i></a>
                {{/if}}
            {{/if}}
        </h3>
    </span>
</div>
