<div class="hover-content detail-item-control-hover-content" id="{{@root.options.id}}-{{id}}-control" data-item-id="{{id}}">
  <a class="item-control item-edit"><i class="fas fa-fw fa-edit"></i>{{localize "PF2E.EditItemTitle"}}</a>
  <a class="item-control item-delete"><i class="fas fa-fw fa-trash"></i>{{localize "PF2E.DeleteItemTitle"}}</a>
</div>