<span class="details-label">{{localize (concat "TYPES.Item." type)}}</span>
<span title="{{localize (concat "PF2E." (capitalize type) "Title")}}">
    <h3>
        <span class="value">{{item.name}}</span>
        {{#if @root.options.editable}}
            {{#if item}}
                <div class="detail-item-control" data-item-id="{{item.id}}">
                    <i class="fa-solid fa-fw fa-ellipsis-v"></i>
                </div>
            {{else}}
                <a class="open-compendium" data-compendium={{ compendium }}><i class="fa-solid fa-fw fa-plus-circle"></i></a>
            {{/if}}
        {{/if}}
    </h3>
</span>
