<section class="content">
    <h3 class="header">
        {{localize "PF2E.Kingmaker.Settlement.Header"}}
        <button type="button" data-action="add-settlement">
            <i class="fa-solid fa-fw fa-plus"></i>{{localize "PF2E.AddShortLabel"}}
        </button>
    </h3>
    <ol class="actions-list directory-list">
        {{#each settlements as |settlement id|}}
            <li class="item settlement expandable" data-settlement-id="{{id}}" data-item-summary-id="{{id}}">
                <div class="item-name">
                    <h4 class="drag-handle">TOGGLE</h4>
                    <input class="name" type="text" value="{{settlement.name}}" name="settlements.{{id}}.name" placeholder="{{localize "PF2E.Kingmaker.Settlement.Name"}}" />
                    <select name="settlements.{{id}}.type" data-dtype="String">
                        {{#select settlement.type}}
                            {{#each @root.settlementTypes as |label value|}}
                                <option value="{{value}}">{{localize label}}</option>
                            {{/each}}
                        {{/select}}
                    </select>
                    <label class="level">
                        {{localize "PF2E.LevelLabel"}}
                        <input type="number" value="{{settlement.level}}" name="settlements.{{id}}.level" />
                    </label>
                </div>

                <div class="item-controls">
                    {{#if @root.editable}}
                        <a data-action="delete-settlement"><i class="fa-solid fa-trash"></i></a>
                    {{/if}}
                </div>

                <div class="item-summary">
                    <section class="settlement-data">
                        <section>
                            <h4>Stats</h4>
                            <div>{{settlement.blocks}} {{localize "PF2E.Kingmaker.Settlement.Blocks"}}</div>
                        </section>

                        <section class="storage">
                            <h4>Storage</h4>
                            <div class="storage-items">
                                {{#each storage as |storage|}}
                                    <label class="value">
                                        <span data-tooltip="{{storage.description}}">{{storage.label}}</span>
                                        <input type="number" value="{{storage.value}}" name="settlements.{{id}}.storage.{{storage.type}}" />
                                    </label>
                                {{/each}}
                            </div>
                        </section>

                        <section>
                            <h4>Consumption</h4>
                            <div class="value">
                                Base: {{settlement.consumption.base}}
                            </div>
                            <label>
                                Reduction:
                                <input type="number" value="{{settlement.consumption.reduction}}" name="settlements.{{id}}.consumption.reduction"/>
                            </label>
                            <div class="value">Total: {{settlement.consumption.total}}</div>
                        </section>
                    </section>
                    {{editor settlement.description target=(concat "settlements." id ".description") button=true owner=@root.owner editable=@root.editable}}
                </div>
            </li>
        {{/each}}
    </ol>
</section>
<aside class="extra-data">
    <section class="work-sites">
        <h4>{{localize "PF2E.Kingmaker.WorkSites.Label"}}</h4>
        {{#each commodities as |commodity|}}
            <div class="row">
                <label class="value">
                    <span data-tooltip="{{commodity.workSites.description}}">{{commodity.workSites.label}}</span>
                    <input type="number" value="{{commodity.workSites.value}}" name="resources.workSites.{{commodity.type}}.value" />
                </label>
                {{#if commodity.workSites.hasResource}}
                    <label class="resource">
                        <span data-tooltip="{{localize "PF2E.Kingmaker.WorkSites.Resource"}}">2x</span>
                        <input type="number" value="{{commodity.workSites.resource}}" name="resources.workSites.{{commodity.type}}.resource" />
                    </label>
                {{/if}}
            </div>
        {{/each}}
    </section>
    <section class="other-data">
        <label>
            <span>Army Consumption</span>
            <input type="number" value="{{kingdom.consumption.army}}" name="consumption.army" />
        </label>
    </section>
</aside>
