<div class="sidebar_title">
    <h2>{{localize "PF2E.InitiativeLabel"}}</h2>
    <button type="button" class="modifiers_button hover" data-tooltip-content="#{{options.id}}-initiative-modifiers">
        <i class="fas fa-eye"></i> {{localize "PF2E.ModifiersTitle"}}
    </button>
</div>
<div class="roll-data initiative-sidebar">
    <a class="roll-icon roll-init" data-action="roll-initiative">
        {{> "systems/pf2e/templates/actors/character/icons/d20.hbs"}}
    </a>
    <h3>{{numberFormat data.attributes.initiative.totalModifier decimals=0 sign=true}}</h3>
    <h4 class="initiative-select">
        <select name="system.attributes.initiative.statistic">
            {{#select data.attributes.initiative.statistic}}
                <option value="perception">{{localize "PF2E.PerceptionLabel"}}</option>
                {{#each data.skills as |skill|}}
                    <option value="{{skill.slug}}">{{localize skill.label}}</option>
                {{/each}}
            {{/select}}
        </select>
    </h4>
</div>
{{#with data.attributes.initiative}}
    {{> "systems/pf2e/templates/actors/character/partials/modifiers-tooltip.hbs" title=label}}
{{/with}}
