<div class="sidebar_title">
    <h2>{{localize "PF2E.PerceptionHeader"}}</h2>
    <button type="button" class="modifiers_button hover" data-tooltip-content="#{{options.id}}-perception-modifiers">
        <i class="fas fa-eye"></i> {{localize "PF2E.ModifiersTitle"}}
    </button>
</div>
<div class="roll-data perception-sidebar">
    <a class="roll-icon attribute-name" data-action="perception-check" title="{{localize "PF2E.Check.Specific.Perception.Label"}}">
        {{> "systems/pf2e/templates/actors/character/icons/d20.hbs"}}
    </a>

    <a class="roll-icon attribute-name" data-action="perception-check" data-secret="true" title="{{localize "PF2E.Check.Specific.Perception.Secret"}}">
        <i class="fas fa-eye-slash"></i>
    </a>
    <h3>{{numberFormat data.attributes.perception.value decimals=0 sign=true}}</h3>

    <div class="perception-prof button-group skill-container">
        <select class="perception-proficiency pf-rank adjust-stat-select{{#if rank.immutable}} readonly{{/if}}" data-property="system.attributes.perception.rank" data-rank="{{data.attributes.perception.rank}}" data-dtype="Number">
            {{> "systems/pf2e/templates/actors/character/partials/proficiencylevels-dropdown.hbs" proflevel=data.attributes.perception.rank}}
        </select>
    </div>

</div>
{{#with data.attributes.perception}}
    {{> "systems/pf2e/templates/actors/character/partials/modifiers-tooltip.hbs" title="PF2E.PerceptionHeader"}}
{{/with}}
