<li class="directory-item document {{@root.documentCls}} flexrow" data-entry-id="{{this.id}}" data-document-id="{{this.id}}">
    {{#if this.thumbnail}}
        <img class="thumbnail" title="{{this.name}}" data-src="{{this.thumbnail}}"/>
    {{/if}}
    <h4 class="entry-name document-name">
        <a>{{this.name}}</a>
        {{#if (ne this.type "loot")}}
            {{#if (eq this.type "hazard")}}
                <span class="actor-level">{{localize "PF2E.Actor.Hazard.Level" level=this.level}}</span>
            {{else if (eq this.type "vehicle")}}
                <span class="actor-level">{{localize "PF2E.vehicle.LevelN" level=this.level}}</span>
            {{else}}
                <span class="actor-level">{{localize "PF2E.LevelN" level=this.level}}</span>
            {{/if}}
        {{/if}}
    </h4>
</li>
