<li class="directory-item document {{@root.documentCls}} flexrow" data-entry-id="{{this.id}}" data-document-id="{{this.id}}">
    {{#if this.thumbnail}}
        <img class="thumbnail" title="{{this.name}}" data-src="{{this.thumbnail}}"/>
    {{/if}}
    <h4 class="entry-name document-name">
        <a>{{this.name}}</a>
        {{#if (gte this.level 0)}}
            {{#if (eq this.type "feat")}}
                <span class="item-level">{{localize "PF2E.Item.Feat.LevelN" level=this.level}}</span>
            {{else if (eq this.type "spell")}}
                <span class="item-level">{{localize "PF2E.Item.Spell.LevelN" level=this.level}}</span>
            {{else if (eq this.type "effect")}}
                <span class="item-level">{{localize "PF2E.LevelN" level=this.level}}</span>
            {{else}}
                <span class="item-level">{{localize "PF2E.Item.Physical.LevelLabel" level=this.level}}</span>
            {{/if}}
        {{/if}}
    </h4>
</li>
