<ol class="directory-list plain parties">
    {{#if activeParty~}}
        {{> partyEntry party=activeParty}}
    {{~/if}}
    {{#if (gt parties.length 1)~}}
        <li class="directory-item folder other-parties flexcol{{#if extraFolders.otherParties}} expanded{{/if}}"
            data-entry-id="otherParties">
            <header class="folder-header party-folder" data-action="togglePartyFolder">
                <i class="fa-solid fa-folder-open fa-fw" inert></i>
                <span class="folder-name ellipsis">{{localize "PF2E.Actor.Party.Sidebar.OtherParties"}}</span>
                {{#if @root.canCreateEntry}}
                    <button type="button" class="create-button create-entry icon icon-plus fa-solid fa-user"
                        data-action="createParty" data-tooltip="PF2E.Actor.Party.Sidebar.CreateParty"></button>
                {{/if}}
            </header>
            <ol class="subdirectory">
                {{#each parties as |party|}}
                    {{> partyEntry party=party}}
                {{/each}}
            </ol>
        </li>
    {{~else~}}
        {{#each parties as |party|}}
            {{> partyEntry party=party}}
        {{/each}}
    {{~/if}}
</ol>

{{#*inline "partyEntry"}}
    <li class="directory-item folder flexcol{{#if (lookup @root.extraFolders party.id)}} expanded{{/if}}"
        data-party data-entry-id="{{party.id}}">
        <header class="folder-header{{#if party.active}} active{{/if}}" data-action="togglePartyFolder">
            <i class="fa-solid fa-folder-open fa-fw" inert></i>
            <button type="button" class="inline-control icon fa-solid fa-file" data-action="openPartySheet"
                data-tooltip="PF2E.Actor.Party.Sidebar.OpenSheet"></button>
            {{!-- Drag Preview only --}}
            <img src="{{party.img}}" hidden />
            <span class="folder-name ellipsis">{{party.name}}</span>
            {{#if (and @root.user.isGM (not party.active))}}
                <button class="icon icon-plus fa-regular fa-start" data-action="activateParty"
                    data-tooltip="PF2E.Actor.Party.Sidebar.ActivateParty"></button>
            {{/if}}
            {{#if @root.canCreateEntry}}
                <button type="button" class="create-button create-entry icon icon-plus fa-solid fa-user"
                    data-action="createMember" data-tooltip="PF2E.Actor.Party.Sidebar.CreateMember"></button>
            {{/if}}
        </header>
        <ol class="subdirectory plain">
            {{#each party.members~}}
            {{> "systems/pf2e/templates/sidebar/actor-document-partial.hbs"}}
            {{else}}
                <li class="blank" data-entry-id="">{{localize "PF2E.Actor.Party.NoMembers"}}</li>
            {{/each}}
        </ol>
    </li>
{{/inline}}
