<li class="item flexrow" data-entry-uuid="{{entry.uuid}}" data-type="Item">
    <div class="image">
        <img src="{{entry.img}}" alt="{{entry.name}}" loading="lazy" />
    </div>
    <div class="name">
        <a class="item-link">{{entry.name}}</a>
    </div>
    <div class="tags paizo-style">
        {{#unless (eq entry.rarity "common")}}
            <span class="tag rarity {{entry.rarity}}" data-tooltip="PF2E.Rarity">
                {{lookup (lookup filterData.checkboxes.rarity.options entry.rarity) "label"}}
            </span>
        {{/unless}}
    </div>
    <div class="level">
        <span data-tooltip="PF2E.LevelLabel">{{entry.level}}</span>
    </div>
</li>
