<p>{{localize "PF2E.LastStopMessage.Paragraph1"}}</p>
<p>{{localize "PF2E.LastStopMessage.Paragraph2"}}</p>
<p>{{localize "PF2E.LastStopMessage.Paragraph3"}}</p>
<p>{{localize "PF2E.LastStopMessage.Paragraph4"}}</p>
<p>{{localize "PF2E.LastStopMessage.Paragraph5"}}</p>
<p>{{localize "PF2E.LastStopMessage.Paragraph6"}}</p>
