<form autocomplete="off" onsubmit="event.preventDefault();">
    <label>{{localize prompt}}</label>
    <div class="form-group">
        <label>{{localize "PF2E.loot.Quantity"}}:</label>
        <input type="number" name="quantity" value="{{quantity.default}}" min="1" max="{{quantity.max}}" />
    </div>
    <div class="form-group">
        {{#if lockStack}}
            <input type="hidden" name="newStack" value="true" data-dtype="Boolean" />
        {{else}}
            <label>{{localize "PF2E.loot.Stack"}}</label>
            <input type="checkbox" name="newStack" {{checked newStack}} />
        {{/if}}
    </div>
    <button type="submit"><i class="far fa-save"></i>{{localize buttonLabel}}</button>
</form>
