<div class="tab" data-group="main" data-tab="character">
    <div class="form-group">
        <label>{{localize "TOKEN.CharNameplate"}}</label>
        <input type="text" name="name" placeholder="{{localize "Name"}}" value="{{object.name}}" />
    </div>

    <div class="form-group">
        <label>{{localize "TOKEN.CharShowNameplate"}}</label>
        <select name="displayName" data-dtype="Number">
            {{selectOptions displayModes selected=object.displayName}}
        </select>
    </div>

    {{#unless isPrototype}}
        <div class="form-group">
            <label>{{localize "TOKEN.CharActor"}}</label>
            <select class="actor-template" name="actorId">
                {{selectOptions actors selected=object.actorId valueAttr="_id" labelAttr="name" blank=(localize "None")}}
            </select>
        </div>
    {{/unless}}

    <div class="form-group">
        <label>{{localize "TOKEN.CharLink"}}</label>
        <input type="checkbox" name="actorLink" {{checked object.actorLink}}/>
    </div>

    {{#if isPrototype}}
        <hr>

        <div class="form-group">
            <label>{{localize "TOKEN.AppendNumber"}}</label>
            <input type="checkbox" name="appendNumber" {{checked object.appendNumber}}/>
            <p class="notes">{{localize "TOKEN.AppendNumberHint" name=object.name}}</p>
        </div>

        <div class="form-group">
            <label>{{localize "TOKEN.PrependAdjective"}}</label>
            <input type="checkbox" name="prependAdjective" {{checked object.prependAdjective}}/>
            <p class="notes">{{localize "TOKEN.PrependAdjectiveHint" name=object.name}}</p>
        </div>

        <hr>
    {{/if}}

    {{#unless isPrototype}}
        <div class="form-group slim">
            <label>{{localize "TOKEN.Coordinates"}} <span class="units">({{localize "Pixels"}})</span></label>
            <div class="form-fields">
                <label>X</label>
                {{numberInput object.x name="x" step=1 disabled=(not isGM) placeholder=(localize "Pixels")}}
                <label>Y</label>
                {{numberInput object.y name="y" step=1 disabled=(not isGM) placeholder=(localize "Pixels")}}
            </div>
        </div>

        <div class="form-group slim">
            <label>{{localize "Elevation"}} <span class="units">({{gridUnits}})</span></label>
            <div class="form-fields">
                {{numberInput object.elevation name="elevation" placeholder=gridUnits}}
            </div>
        </div>

        <div class="form-group slim">
            <label>{{localize "Sort"}}</label>
            <div class="form-fields">
                {{numberInput object.sort name="sort" step=1}}
            </div>
        </div>
    {{/unless}}

    <div class="form-group slim">
        <label>{{localize "Rotation"}} <span class="units">({{localize "Degrees"}})</span></label>
        <div class="form-fields">
            <label>{{localize "TOKEN.Lock"}}</label>
            <input type="checkbox" name="lockRotation" {{checked object.lockRotation}}/>
            <label>{{localize "Rotation"}}</label>
            {{numberInput object.rotation name="rotation" placeholder=(localize "Degrees")}}
        </div>
    </div>

    <div class="form-group slim">
        <label>{{localize "TOKEN.OcclusionRadius"}} <span class="units">({{gridUnits}})</span></label>
        <div class="form-fields">
            {{numberInput object.occludable.radius name="occludable.radius" placeholder=gridUnits min="0" step="any"}}
        </div>
        <p class="notes">{{localize "TOKEN.OcclusionRadiusHint" name=object.name}}</p>
    </div>

    <div class="form-group">
        <label>{{localize "PF2E.Token.SecretDisposition.Label"}}</label>
        <input type="checkbox" name="disposition" value="-2" data-dtype="Number" {{checked (eq object.disposition -2)}} />
        <p class="hint">{{localize "PF2E.Token.SecretDisposition.Hint"}}</p>
    </div>
</div>
