<div class="tab" data-group="main" data-tab="light">
    <nav class="tabs sheet-tabs secondary-tabs" data-group="light" aria-role="{{localize "LIGHT.NavLabel"}}">
        <a class="item" data-tab="basic" data-group="light"><i class="fa-solid fa-lightbulb"></i> {{localize "AMBIENT_LIGHT.SECTIONS.BASIC"}}</a>
        <a class="item" data-tab="animation" data-group="light"><i class="fa-solid fa-play"></i> {{localize "AMBIENT_LIGHT.SECTIONS.ANIMATION"}}</a>
        <a class="item" data-tab="advanced" data-group="light"><i class="fa-solid fa-cogs"></i> {{localize "AMBIENT_LIGHT.SECTIONS.ADVANCED"}}</a>
    </nav>

    <div class="tab" data-group="light" data-tab="basic">
        <div class="form-group slim">
            <label>{{localize "AMBIENT_LIGHT.LABELS.radius"}} <span class="units">({{gridUnits}})</span></label>
            <div class="form-fields">
                <label>{{lightFields.dim.label}}</label>
                {{formInput lightFields.dim value=object.light.dim}}
                <label>{{lightFields.bright.label}}</label>
                {{formInput lightFields.bright value=object.light.bright}}
            </div>
            <p class="hint">{{ localize "AMBIENT_LIGHT.LABELS.radiusHint" }}</p>
        </div>

        {{formGroup lightFields.angle value=object.light.angle step=1 units="Degrees"}}
        {{formGroup lightFields.color value=object.light.color}}
        {{formGroup lightFields.alpha value=object.light.alpha step=0.05}}
    </div>

    <div class="tab" data-group="light" data-tab="animation">
        {{formGroup lightFields.animation.fields.type value=object.light.animation.type
                    choices=lightAnimations labelAttr="label" blank="None" sort=true localize=true}}
        {{formGroup lightFields.animation.fields.speed value=object.light.animation.speed}}
        {{formGroup lightFields.animation.fields.reverse value=object.light.animation.reverse}}
        {{formGroup lightFields.animation.fields.intensity value=object.light.animation.intensity}}
    </div>

    <div class="tab" data-group="light" data-tab="advanced">
        {{formGroup lightFields.coloration value=object.light.coloration
                    choices=colorationTechniques valueAttr="id" labelAttr="label" localize=true}}
        {{formGroup lightFields.luminosity value=object.light.luminosity step=0.05}}
        {{formGroup lightFields.attenuation value=object.light.attenuation step=0.05}}
        {{formGroup lightFields.saturation value=object.light.saturation step=0.05}}
        {{formGroup lightFields.contrast value=object.light.contrast step=0.05}}
        {{formGroup lightFields.shadows value=object.light.shadows step=0.05}}
    </div>
</div>
