<div class="pf2e chat-card action-card" data-actor-id="{{actor.id}}" data-item-id="{{item.id}}" {{#if tokenId}}data-token-id="{{tokenId}}"{{/if}}>
    <header class="card-header flexrow">
        <img src="{{item.img}}" alt="{{item.name}}" />
        <h3>{{item.name}}{{#if item.actionCost}} {{{actionGlyph item.actionCost}}}{{/if}}</h3>
    </header>

    <div class="tags paizo-style" data-tooltip-class="pf2e">
        {{#each data.traits as |trait|}}
            {{#unless trait.mystified}}
                <span class="tag" data-trait="{{trait.name}}" data-tooltip="{{trait.description}}">{{localize trait.label}}</span>
            {{/unless}}
        {{/each}}
    </div>

    {{#if item.description}}
        <div class="card-content">
            {{{data.description.value}}}
        </div>
    {{/if}}

    {{#if data.properties}}
        <footer class="card-footer">
            {{#each data.properties}}
                <span>{{localize this}}</span>
            {{/each}}
        </footer>
    {{/if}}
</div>
