<div class="pf2e chat-card item-card" data-actor-id="{{actor.id}}" data-item-id="{{item.id}}" {{#if tokenId}}data-token-id="{{tokenId}}"{{/if}}>
    <header class="card-header flexrow">
        <img src="{{item.img}}" title="{{item.name}}" width="36" height="36"/>
        <h3>{{item.name}}</h3>
    </header>

    <div class="card-content">
        {{{item.description}}}
    </div>
    {{#if data.isSave}}
        <section class="card-buttons">
            <button type="button" data-action="affliction-save" data-save="{{data.save.type}}" data-dc="{{data.save.value}}" data-owner-title="{{data.save.breakdown}}">{{data.save.label}}</button>
        </section>
    {{/if}}
</div>
