<form class="check-modifiers-content" autocomplete="off" spellcheck="off">
    {{#if substitutions}}
        <div class="dialog-row header">
            <span class="mod">Substitution</span>
            <span class="type">Roll</span>
            <span class="exclude">Utilize?</span>
        </div>
        <div class="substitutions">
            {{#each substitutions as |sub index|}}
                <div class="dialog-row{{#if (and hasRequiredSubstitution (not sub.selected))}} disabled{{/if}}">
                    <span class="mod">{{sub.label}}</span>
                    <span class="type">{{sub.value}}</span>
                    <div class="exclude">
                        <label class="toggle">
                            <input type="checkbox" data-sub-index="{{index}}" {{checked sub.selected}} />
                            <span class="widget"></span>
                        </label>
                    </div>
                </div>
            {{/each}}
        </div>
        <hr />
    {{/if}}
    <div class="dialog-row header">
        <span class="mod">{{localize "PF2E.Roll.Modifier"}}</span>
        <span class="type">{{localize "PF2E.Roll.Type"}}</span>
        <span class="value"></span>
        <span class="exclude"></span>
    </div>
    <div class="modifier-container">
        {{#each modifiers as |modifier idx|}}
            <div class="dialog-row{{#unless modifier.enabled}} disabled{{#if modifier.hideIfDisabled}} hidden{{/if}}{{/unless}}">
                <span class="mod">{{modifier.label}}</span>
                <span class="type"><span class="tag">{{localize (concat "PF2E.ModifierType." modifier.type)}}</span></span>
                <span class="value">{{numberFormat modifier.modifier decimals=0 sign=true}}</span>
                <div class="exclude">
                    <label class="toggle">
                        <input type="checkbox" data-modifier-index="{{idx}}" {{checked (not modifier.ignored)}} />
                        <span class="widget"></span>
                    </label>
                </div>
            </div>
        {{/each}}
    </div>
    <hr />
    <section class="add-entry-row add-modifier-panel">
        <input type="text" class="add-modifier-name" placeholder={{localize "PF2E.ModifierTitle"}}>
        <select class="add-modifier-type">
            <option value="circumstance" selected>{{localize "PF2E.ModifierType.circumstance"}}</option>
            <option value="item">{{localize "PF2E.ModifierType.item"}}</option>
            <option value="status">{{localize "PF2E.ModifierType.status"}}</option>
            <option value="untyped">{{localize "PF2E.ModifierType.untyped"}}</option>
            <option value="ability">{{localize "PF2E.ModifierType.ability"}}</option>
            <option value="proficiency">{{localize "PF2E.ModifierType.proficiency"}}</option>
        </select>
        <input type="number" class="add-modifier-value" placeholder="+1">
        <button type="button" class="add-modifier">+{{localize "PF2E.Roll.Add"}}</button>
    </section>
    {{#if recallKnowledge}}
    <hr/>
    <div class="recall-knowledge-panel">
        <span class="label">{{recallKnowledge.type}}</span>
        {{#ifCond recallKnowledge.type "Recall Knowledge"}}
            <div class="recall-knowledge-no-target">
                <label>
                    <input type="radio" name="recall-knowledge-manual-dc" value="simple-dc" checked/> Simple DC
                </label>
                <select name="simple-dcs" id="simple-dcs">
                    {{#each simpleDCs}}
                    <option value="{{this}}" {{#ifCond this "untrained"}}selected{{/ifCond}}>{{this}}</option>
                    {{/each}}
                </select>
                <label>
                    <input type="radio" name="recall-knowledge-manual-dc" value="level-based-dc"/> Level-Based DC
                </label>
                <select name="level-based-dcs" id="level-based-dcs">
                    {{#each levelBasedDCs}}
                    <option value="{{this}}" {{#ifCond this "0"}}selected{{/ifCond}}>{{this}}</option>
                    {{/each}}
                </select>
            </div>
        {{/ifCond}}
        {{#if recallKnowledge.isLore}}
        <div class="recall-knowledge-lore-panel">
            <span class="label">Applicable Lore?: </span>
            <label title="Normal">
                <input type="radio" name="recall-knowledge-lore" value="normal" {{#ifCond recallKnowledge.applicableLore "normal"}}checked{{/ifCond}}/>
                Normal
            </label>
            <label title="Easy Adjustment">
                <input type="radio" name="recall-knowledge-lore" value="easy" {{#ifCond recallKnowledge.applicableLore "easy"}}checked{{/ifCond}}/>
                Applicable
            </label>
            <label title="Very Easy Adjustment">
                <input type="radio" name="recall-knowledge-lore" value="very-easy" {{#ifCond recallKnowledge.applicabaleLore "very-easy"}}checked{{/ifCond}}/>
                Specific
            </label>
        </div>
        {{/if}}
        <div class="recall-knowledge-rarity-panel">
            <span class="label">Rarity: </span>
            <label title="Common">
                <input type="radio" name="recall-knowledge-rarity" value="common" {{#ifCond recallKnowledge.rarity "common"}}checked{{/ifCond}}/>
                Common
            </label>
            <label title="Hard Adjustment">
                <input type="radio" name="recall-knowledge-rarity" value="uncommon" {{#ifCond recallKnowledge.rarity "uncommon"}}checked{{/ifCond}}/>
                Uncommon
            </label>
            <label title="Very Hard Adjustment">
                <input type="radio" name="recall-knowledge-rarity" value="rare" {{#ifCond recallKnowledge.rarity "rare"}}checked{{/ifCond}}/>
                Rare
            </label>
            <label title="Incredibly Hard Adjustment">
                <input type="radio" name="recall-knowledge-rarity" value="unique" {{#ifCond recallKnowledge.rarity "unique"}}checked{{/ifCond}}/>
                Unique
            </label>
        </div>
        <div class="recall-knowledge-difficulty-panel">
            <span class="label">Difficulty: </span>
            <label title="Incredibly Easy DC -10" >
                <input type="radio" name="recall-knowledge-difficulty" value="incredibly-easy" {{#ifCond recallKnowledge.difficulty "incredibly-easy"}}checked{{/ifCond}}/>
                IE
            </label>
            <label title="Very Easy DC -5" >
                <input type="radio" name="recall-knowledge-difficulty" value="very-easy" {{#ifCond recallKnowledge.difficulty "very-easy"}}checked{{/ifCond}}/>
                VE
            </label>
            <label title="Easy DC -2" >
                <input type="radio" name="recall-knowledge-difficulty" value="easy" {{#ifCond recallKnowledge.difficulty "easy"}}checked{{/ifCond}}/>
                E
            </label>
            <label title="Normal DC +0" >
                <input type="radio" name="recall-knowledge-difficulty" value="normal" {{#ifCond recallKnowledge.difficulty "normal"}}checked{{/ifCond}}/>
                N
            </label>
            <label title="Hard DC +2">
                <input type="radio" name="recall-knowledge-difficulty" value="hard" {{#ifCond recallKnowledge.difficulty "hard"}}checked{{/ifCond}}/>
                H
            </label>
            <label title="Very Hard DC +5">
                <input type="radio" name="recall-knowledge-difficulty" value="very-hard" {{#ifCond recallKnowledge.difficulty "very-hard"}}checked{{/ifCond}}/>
                VH
            </label>
            <label title="Incredibly Hard DC +10">
                <input type="radio" name="recall-knowledge-difficulty" value="incredibly-hard" {{#ifCond recallKnowledge.difficulty "incredibly-hard"}}checked{{/ifCond}}/>
                IH
            </label>
        </div>
    </div>
    {{/if}}
    <hr/>
    <div class="fate">
        <label>
            <input type="radio" name="rollTwice" value="keep-higher" {{checked fortune}} />
            {{localize "PF2E.Roll.KeepHigher"}}
        </label>
        <label>
            <input type="radio" name="rollTwice" value="" {{checked none}} />
            {{localize "PF2E.Roll.Normal"}}
        </label>
        <label>
            <input type="radio" name="rollTwice" value="keep-lower" {{checked misfortune}} />
            {{localize "PF2E.Roll.KeepLower"}}
        </label>
    </div>
    <hr/>

    <div class="roll-mode-panel">
        <span class="label">{{localize "PF2E.RollModeLabel"}}</span>
        <select name="rollmode">
            {{#select rollMode}}
                {{#each rollModes as |label key|}}
                    <option value="{{key}}">{{localize label}}</option>
                {{/each}}
            {{/select}}
        </select>
    </div>
    <hr/>

    <button type="button" class="roll">{{localize "PF2E.Roll.Roll"}} ({{numberFormat totalModifier decimals=0 sign=true}})</button>

    <!-- Settings Menu -->
    <div class="hover-content" id="{{appId}}-settings">
        <ul class="modifier-list settings-list">
            <label class="item">
                <span class="label">{{localize "PF2E.SETTINGS.Player.QuickRolls.DialogHint"}}</span>
                <input class="quick-rolls-submit" type="checkbox" {{checked showRollDialogs}} />
            </label>
        </ul>
    </div>
</form>
