<div class="pf2e chat-card item-card" data-actor-id="{{actor.id}}" data-item-id="{{item.id}}" {{#if tokenId}}data-token-id="{{tokenId}}"{{/if}}>
    <header class="card-header flexrow">
        <img src="{{item.img}}" alt="{{item.name}}" />
        <h3>{{item.name}}{{#if item.actionCost}} {{{actionGlyph item.actionCost}}}{{/if}}</h3>
    </header>

    <div class="tags paizo-style" data-tooltip-class="pf2e">
        {{#if data.rarity}}
            <span
                class="tag rarity {{data.rarity.slug}}"
                data-trait="{{data.rarity.slug}}"
                data-tooltip="{{data.rarity.description}}"
            >{{localize data.rarity.label}}</span>
        {{/if}}
        {{#each data.traits as |trait|}}
            <span class="tag" data-trait="{{trait.name}}" data-tooltip="{{trait.description}}">{{localize trait.label}}</span>
        {{/each}}
    </div>

    <div class="card-content">
        {{{data.description.value}}}
    </div>

    {{#if data.levelLabel}}
        <footer>
            <span>{{data.levelLabel}}</span>
        </footer>
    {{~/if}}
</div>
