<div class="content">
    <section class="summary">
        <div class="type">{{localize "PF2E.Roll.Type"}}: <input disabled value="{{context.type}}"></div>
        {{#if domains}}
            <div class="tags domains">
                {{#each domains}}<span class="tag tag_alt">{{this}}</span>{{/each}}
            </div>
        {{/if}}
    </section>

    <section class="roll-options">
        <h3>{{localize "PF2E.ChatRollDetails.RollOptions"}}</h3>
        <input type="search" class="filter" placeholder="{{localize "PF2E.BrowserSearchPlaceholder"}}" />
        <ul>
            {{#each rollOptions as |option|}}
                <li>{{option}}</li>
            {{/each}}
        </ul>
    </section>

    {{#if modifiers}}
        <section class="modifiers">
            <h3>{{localize "PF2E.ModifiersTitle"}}</h3>
            <div class="modifier-list">
                {{#if (eq context.type "flat-check")}}
                    <div class="empty">
                        {{localize "PF2E.ChatRollDetails.FlatCheckNoModifiers"}}
                    </div>
                {{else if (not modifiers)}}
                    <div class="empty">
                        {{localize "PF2E.ChatRollDetails.ModifiersEmpty"}}
                    </div>
                {{/if}}
                {{#each modifiers as |m|}}
                    <div class="modifier {{disabled (not m.enabled)}}">
                        <h4>{{m.label}} <span class="slug">({{m.slug}})</span></h4>
                        <div>
                            <span>{{localize (concat "PF2E.ModifierType." m.type)}} {{m.value}} {{m.damageType}} {{#if m.category}}({{m.category}}){{/if}}</span>
                            <span>{{m.critical}}</span>
                        </div>
                    </div>
                {{/each}}
            </div>
        </section>
    {{/if}}
</div>
