<div class="content">
    <section class="summary">
        <div class="type">{{localize "PF2E.Roll.Type"}}: <input disabled value="{{context.type}}"></div>
        {{#if domains}}
            <div class="tags domains">
                {{#each domains}}<span class="tag tag_alt">{{this}}</span>{{/each}}
            </div>
        {{/if}}
    </section>

    <section class="roll-options">
        <h3>{{localize "PF2E.ChatRollDetails.RollOptions"}}</h3>
        <input type="search" class="filter" placeholder="{{localize "PF2E.BrowserSearchPlaceholder"}}" />
        <ul>
            {{#each rollOptions as |option|}}
                <li>{{option}}</li>
            {{/each}}
        </ul>
    </section>

    <section class="modifiers">
        <h3>
            {{~#if dice~}}
                {{localize "PF2E.ChatRollDetails.DiceAndModifiers"}}
            {{~else~}}
                {{localize "PF2E.ModifiersTitle"}}
            {{~/if~}}
        </h3>

        <ul class="modifier-list">
            {{#if (eq context.type "flat-check")}}
                <li class="empty">
                    {{localize "PF2E.ChatRollDetails.FlatCheckNoModifiers"}}
                </li>
            {{else if (eq modifiers.length 0)}}
                <li class="empty">
                    {{localize "None"}}
                </li>
            {{/if}}

            {{#each dice as |d idx|}}
                <li class="modifier {{disabled (not d.enabled)}}" data-type="dice" data-idx="{{idx}}">
                    <h4>
                        <span class="label-slug">{{d.label}} ({{d.slug}})</span>
                        <i class="fa-solid fa-circle-info"></i>
                    </h4>
                    <div>
                        <span>{{d.value}} {{d.damageType}} {{#if d.category}}({{d.category}}){{/if}}</span>
                        <span>{{d.critical}}</span>
                    </div>
                </li>
            {{/each}}

            {{#each modifiers as |m idx|}}
                <li class="modifier {{disabled (not m.enabled)}}" data-type="modifier" data-idx="{{idx}}">
                    <h4>
                        <span class="label-slug">{{m.label}} ({{m.slug}})</span>
                        {{#if m.rule}}{{m.rule.item.name}}{{/if}}
                        <i class="fa-solid fa-circle-info"></i>
                    </h4>
                    <div>
                        <span>{{localize (concat "PF2E.ModifierType." m.type)}} {{m.value}} {{m.damageType}} {{#if m.category}}({{m.category}}){{/if}}</span>
                        <span>{{m.critical}}</span>
                    </div>
                </li>
            {{/each}}
        </ul>
    </section>
</div>
