<div class="pf2e chat-card item-card" data-actor-id="{{actor.id}}" data-item-id="{{item.id}}"{{#if tokenId}} data-token-id="{{tokenId}}"{{/if}}>
    <header class="card-header flexrow">
        <img src="{{item.img}}" title="{{item.name}}" width="36" height="36"/>
        <h3>{{item.name}}</h3>
    </header>

    {{#if item.description}}
        <div class="card-content">
            {{{item.description}}}
        </div>
    {{/if}}
    <footer class="card-footer">
        {{#if (and item.isIdentified (ne item.system.stackGroup "coins"))}}
            <span>{{localize "PF2E.Item.Physical.LevelLabel" level=item.level}}</span>
            <span>{{localize "PF2E.Item.Physical.PriceLabel" price=(coinLabel item.price)}}</span>
        {{/if}}
    </footer>
</div>
