<div class="pf2e chat-card weapon-card" data-actor-id="{{actor.id}}" data-item-id="{{item.id}}" {{#if tokenId}}data-token-id="{{tokenId}}"{{/if}}>
    <header class="card-header flexrow">
        <img src="{{item.img}}" alt="{{item.name}}" />
        <h3>{{item.name}}</h3>
    </header>

    <div class="tags paizo-style" data-tooltip-class="pf2e">
        {{#if (and item.isIdentified data.rarity)}}
            <span
                class="tag rarity {{data.rarity.slug}}"
                data-trait="{{data.rarity-slug}}"
                data-tooltip="{{data.rarity.description}}"
            >{{localize data.rarity.label}}</span>
        {{/if}}
        {{#each data.traits as |trait|}}
            {{#unless trait.mystified}}
                <span class="tag" data-trait="{{trait.name}}" data-tooltip="{{trait.description}}">{{localize trait.label}}</span>
            {{/unless}}
        {{/each}}
        {{#if (and item.isIdentified data.material)}}<span class="tag tag_material">{{data.material}}</span>{{/if}}
    </div>

    <div class="card-content">
        {{{data.description.value}}}
    </div>

    <footer{{#unless item.isIdentified}} data-visibility="gm"{{/unless}}>
        <span>{{localize "PF2E.Item.Physical.LevelLabel" level=item.level}}</span>
        <span>{{localize "PF2E.Item.Physical.PriceLabel" price=(coinLabel item.price)}}</span>
        {{#each data.properties as |property|}}
            <span>{{localize property}}</span>
        {{/each}}
    </footer>
</div>
