<li class="list-row"{{#if item.isInContainer}} data-item-type="{{item.type}}"{{/if}}>
    <div class="item{{#if item.isTemporary}} temporary-item{{/if}}" data-item-id="{{item.id}}" data-item-is-container="{{isContainer}}">
        <div class="item-name rollable{{#if (and (ne @root.actor.type "loot") (not owner))}} long{{/if}}">
            <div class="item-image">
                <img class="item-icon" src="{{item.img}}" alt="{{item.name}}"/>
                <i class="fa-solid fa-message"></i>
            </div>
            {{#if isContainer}}
                <a class="item-control" data-action="toggle-container" title="{{localize "PF2E.OpenItemTitle"}}"><i class="fa-solid fa-box{{#unless item.isCollapsed}}-open{{/unless}} fa-1x fa-fw"></i></a>
            {{/if}}
            <h4 {{#if (or user.isGM item.isIdentified)}}class="rarity-{{item.system.traits.rarity}}"{{/if}}>
                {{item.name}}
                {{#if item.isTemporary}}<i class="fas fa-info-circle small" title="{{localize "PF2E.TemporaryItemToolTip"}}"></i>{{/if}}
                {{#if (and user.isGM (not item.isIdentified))}}<span class="gm-mystified-data">({{item.system.identification.identified.name}})</span>{{/if}}
                {{#if itemSize}}<span class="size">({{itemSize}})</span>{{/if}}
            </h4>
            {{#if (and item.uses.max (or (gt item.uses.max 1) (eq item.system.consumableType.value "wand")))}}
                <span class="item-charges">({{item.uses.value}}/{{item.uses.max}})</span>
            {{/if}}
        </div>
        {{#if (or @root.inventory.showValueAlways (and (eq item.type "treasure") (not item.container)))}}
            <span class="item-sell-value">
                {{#if (or item.isIdentified @root.user.isGM)}}
                    <span data-visibility="{{#if item.isIdentified}}all{{else}}gm{{/if}}">
                        {{#if @root.inventory.showIndividualPricing}}
                            {{item.price.value}}
                            {{#if (gt item.price.per 1)}}
                                / {{item.price.per}}
                            {{/if}}
                        {{else}}
                            {{item.assetValue}}
                        {{/if}}
                    </span>
                {{/if}}
            </span>
        {{/if}}
        <span class="item-quantity">
            {{#if editable}}<a class="item-decrease-quantity" data-action="decrease-quantity" title="{{localize "PF2E.Actor.Inventory.ItemQuantity.Decrease.Click"}}&#013;{{localize "PF2E.Actor.Inventory.ItemQuantity.Decrease.ShiftClick"}}&#013;{{localize "PF2E.Actor.Inventory.ItemQuantity.Decrease.ControlClick"}}">&ndash;</a>{{/if}}
            <span>{{item.quantity}}</span>
            {{#if editable}}<a class="item-increase-quantity" data-action="increase-quantity" title="{{localize "PF2E.Actor.Inventory.ItemQuantity.Increase.Click"}}&#013;{{localize "PF2E.Actor.Inventory.ItemQuantity.Increase.ShiftClick"}}&#013;{{localize "PF2E.Actor.Inventory.ItemQuantity.Increase.ControlClick"}}">+</a>{{/if}}
        </span>

        {{#if (ne @root.actor.type "npc")}}
            <span class="item-weight">{{item.bulk}}</span>
        {{/if}}

        {{#if editable}}
            <div class="item-controls">
                {{#if (and canBeEquipped isInvestable)}}
                    <a class="item-control item-toggle-invest{{#if item.isInvested}} active{{/if}}" title="{{localize "PF2E.ui.equipmentInvested"}}"><i class="fas fa-gem fa-1x fa-fw"></i></a>
                {{/if}}
                {{#if (or (eq @root.actor.type "character") (eq @root.actor.type "npc"))}}
                    {{> "systems/pf2e/templates/actors/partials/carry-type.hbs" item=item}}
                {{/if}}
                {{#if item.isDamaged}}
                    <a class="item-control" data-action="repair" title="{{localize "PF2E.RepairItemTitle"}}"><i class="fa-solid fa-hammer fa-1x fa-fw"></i></a>
                {{/if}}
                {{#if @root.user.isGM}}
                    {{#if item.isIdentified}}
                        <a class="item-control" data-action="toggle-identified" title="{{localize "PF2E.identification.Mystify"}}"><i class="fa-regular fa-question-circle fa-1x fa-fw"></i></a>
                    {{else}}
                        <a class="item-control" data-action="toggle-identified" title="{{localize "PF2E.identification.Identify"}}"><i class="fa-solid fa-question-circle fa-1x fa-fw"></i></a>
                    {{/if}}
                {{/if}}
                {{#if (and isSellable (ne @root.actor.type "loot"))}}
                    <a class="item-control item-sell-treasure" data-action="sell-treasure" title="{{localize "PF2E.ui.sell"}}"><i class="fas fa-coins fa-1x fa-fw"></i></a>
                {{/if}}
                {{#if (and (eq item.type "weapon") (eq @root.actor.type "npc"))}}
                    <a class="item-control" data-action="generate-attack" title="{{localize "PF2E.Actor.NPC.GenerateAttack.Label"}}"><i class="fas fa-bolt fa-1x fa-fw"></i></a>
                {{/if}}
                {{#if (or @root.user.isGM item.isIdentified)}}
                    <a class="item-control item-edit" title="{{localize "PF2E.EditItemTitle"}}"><i class="fas fa-edit fa-1x fa-fw"></i></a>
                {{/if}}
                {{#if (or owner (ne @root.actor.type "loot"))}}
                    <a class="item-control item-delete" title="{{localize "PF2E.DeleteItemTitle"}}"><i class="fas fa-trash fa-1x fa-fw"></i></a>
                {{/if}}
            </div>
        {{/if}}
    </div>

    {{#if isContainer}}
        <div class="container-metadata" data-item-id="{{item.id}}" data-item-is-container="{{isContainer}}">
            {{#if isContainer}}
                <div class="container-capacity {{#if item.containerData.isOverLoaded}}over-limit{{/if}}">
                    <span class="container-capacity-bar" style="width:{{item.capacityPercentage}}%"></span>
                    <span class="container-capacity-label">{{localize "PF2E.CapacityBarLabel"}}: {{item.capacity.value}} / {{item.capacity.max}}</span>
                </div>
            {{/if}}
            {{#unless item.isCollapsed}}
                <ol class="container-held-items inventory-items" data-container-id="{{item.id}}">
                    {{#each heldItems}}
                        {{> "systems/pf2e/templates/actors/partials/item-line.hbs" editable=@root.editable user=@root.user owner=@root.owner}}
                    {{/each}}
                </ol>
            {{/unless}}
        </div>
    {{/if}}
</li>
