<li
    data-item-id="{{item.id}}"
    {{#if isContainer}}data-is-container{{/if}}
    {{#if item.isInContainer}}data-item-type="{{item.type}}"{{/if}}
>
    <div class="data{{#if item.isTemporary}} temporary-item{{/if}}">
        <div class="item-name{{#if (and (ne @root.actor.type "loot") (not owner))}} long{{/if}}">
            <a class="item-image" data-action="item-to-chat">
                <img class="item-icon" src="{{item.img}}" alt="{{item.name}}"/>
                <i class="fa-solid fa-message"></i>
            </a>
            {{#if isContainer}}
                <a data-action="toggle-container" data-tooltip="PF2E.OpenItemTitle"><i class="fa-solid fa-box{{#unless item.isCollapsed}}-open{{/unless}} fa-fw"></i></a>
            {{/if}}
            <h4{{#if (or user.isGM item.isIdentified)}} class="name rarity-{{item.system.traits.rarity}}"{{/if}}>
                <a data-action="toggle-summary">{{item.name}}</a>
                {{#if (and user.isGM (not item.isIdentified))}}<span class="gm-mystified-data">({{item.system.identification.identified.name}})</span>{{/if}}
                {{#if itemSize}}<span class="size">({{itemSize}})</span>{{/if}}
                {{#if item.isTemporary}}<i class="fa-solid fa-info-circle" data-tooltip="PF2E.TemporaryItemToolTip"></i>{{/if}}
            </h4>
            {{#if (and item.uses.max (or (gt item.uses.max 1) (eq item.category "wand")))}}
                <span class="uses">({{item.uses.value}}/{{item.uses.max}})</span>
            {{/if}}
        </div>
        {{#if (or @root.inventory.showValueAlways (and (eq item.type "treasure") (not item.container)))}}
            <span class="price">
                {{#if (or item.isIdentified @root.user.isGM)}}
                    <span data-visibility="{{#if item.isIdentified}}all{{else}}gm{{/if}}">
                        {{#if @root.inventory.showUnitBulkPrice}}
                            {{item.price.value}}
                            {{#if (gt item.price.per 1)}}
                                / {{item.price.per}}
                            {{/if}}
                        {{else}}
                            {{item.assetValue}}
                        {{/if}}
                    </span>
                {{/if}}
            </span>
        {{/if}}
        <span class="quantity">
            {{#if editable}}<a class="decrease" data-action="decrease-quantity" title="{{localize "PF2E.Actor.Inventory.ItemQuantity.Decrease.Click"}}&#013;{{localize "PF2E.Actor.Inventory.ItemQuantity.Decrease.ShiftClick"}}&#013;{{localize "PF2E.Actor.Inventory.ItemQuantity.Decrease.ControlClick"}}">&ndash;</a>{{/if}}
            <span>{{item.quantity}}</span>
            {{#if editable}}<a class="increase" data-action="increase-quantity" title="{{localize "PF2E.Actor.Inventory.ItemQuantity.Increase.Click"}}&#013;{{localize "PF2E.Actor.Inventory.ItemQuantity.Increase.ShiftClick"}}&#013;{{localize "PF2E.Actor.Inventory.ItemQuantity.Increase.ControlClick"}}">+</a>{{/if}}
        </span>

        <span class="bulk">{{#if @root.inventory.showUnitBulkPrice}}{{unitBulk}}{{else}}{{item.bulk}}{{/if}}</span>

        {{#if editable}}
            <div class="item-controls">
                {{#if (and canBeEquipped isInvestable)}}
                    <a class="toggle-invested{{#if item.isInvested}} active{{/if}}{{#if notifyInvestment}} notify{{/if}}" data-action="toggle-invested" data-tooltip="PF2E.ui.equipmentInvested">
                        <i class="fa-solid fa-gem fa-fw"></i>
                    </a>
                {{/if}}
                {{#if (or (eq @root.actor.type "character") (eq @root.actor.type "npc"))}}
                    {{> "systems/pf2e/templates/actors/partials/carry-type.hbs" item=item}}
                {{/if}}
                {{#if item.isDamaged}}
                    <a data-action="repair" data-tooltip="PF2E.RepairItemTitle"><i class="fa-solid fa-hammer fa-fw"></i></a>
                {{/if}}
                {{#if @root.user.isGM}}
                    {{#if item.isIdentified}}
                        <a data-action="toggle-identified" data-tooltip="PF2E.identification.Mystify"><i class="fa-regular fa-question-circle fa-fw"></i></a>
                    {{else}}
                        <a data-action="toggle-identified" data-tooltip="PF2E.identification.Identify"><i class="fa-solid fa-question-circle fa-fw"></i></a>
                    {{/if}}
                {{/if}}
                {{#if (and isSellable (ne @root.actor.type "loot"))}}
                    <a class="item-sell-treasure" data-action="sell-treasure" data-tooltip="PF2E.ui.sell"><i class="fa-solid fa-coins fa-fw"></i></a>
                {{/if}}
                {{#if (and (eq item.type "weapon") (eq @root.actor.type "npc"))}}
                    <a data-action="generate-attack" data-tooltip="PF2E.Actor.NPC.GenerateAttack.Label"><i class="fa-solid fa-bolt fa-fw"></i></a>
                {{/if}}
                {{#if (or @root.user.isGM item.isIdentified)}}
                    <a data-action="edit-item" data-tooltip="PF2E.EditItemTitle"><i class="fa-solid fa-fw fa-edit"></i></a>
                {{/if}}
                {{#if (or owner (ne @root.actor.type "loot"))}}
                    <a data-action="delete-item" data-tooltip="PF2E.DeleteItemTitle"><i class="fa-solid fa-fw fa-trash"></i></a>
                {{/if}}
            </div>
        {{/if}}

        <div class="item-summary" hidden="hidden"></div>

        {{#if isContainer}}
            <div class="container-metadata" data-item-id="{{item.id}}" data-is-container>
                {{#if isContainer}}
                    <div class="capacity {{#if (gt item.percentFull 100)}}over-limit{{/if}}">
                        <span class="bar" style="width:{{item.percentFull}}%"></span>
                        <span class="label">{{localize "PF2E.CapacityBarLabel"}}: {{item.capacity.value}} / {{item.capacity.max}}</span>
                    </div>
                {{/if}}
            </div>
        {{/if}}
    </div>

    {{#if (and isContainer (not item.isCollapsed))}}
        <ul class="items container-contents" data-item-list data-container-id="{{item.id}}">
            {{#each heldItems}}
                {{> "systems/pf2e/templates/actors/partials/item-line.hbs" editable=@root.editable user=@root.user owner=@root.owner}}
            {{/each}}
        </ul>
    {{/if}}
</li>
