<div class="content">
    <h3>{{localize prompt}}</h3>
    <div class="choices{{#if selectMenu}} select-menu{{/if}}">
        {{#if selectMenu}}
            <div class="choice-buttons">
                <div class="choice select">
                    <input data-tagify-select="true" spellcheck="false" />
                    {{#if containsItems}}
                        <a
                            class="item-info disabled"
                            data-action="view-item"
                            data-value="{{choice.value}}"
                            data-tooltip="PF2E.UI.RuleElements.ChoiceSet.ViewItem.Disabled"
                        ><i class="fa-solid fa-fw fa-info-circle"></i></a>
                    {{/if}}
                </div>
            </div>
            {{#> dropZone}}{{/dropZone}}
            <button type="button" value="" data-action="pick">{{localize "PF2E.UI.RuleElements.ChoiceSet.SaveLabel"}}</button>
        {{else}}
            <div class="choice-buttons">
                {{#each choices as |choice|}}
                    <div class="choice">
                        <button type="button" value="{{choice.value}}" data-action="pick"{{#if choice.img}} class="with-image"{{/if}}>
                            {{#if choice.img}}<img src="{{choice.img}}" />{{/if}}
                            <span>{{choice.label}}</span>
                        </button>
                        {{#if choice.hasUUID}}
                            <a
                                class="item-info"
                                data-action="view-item"
                                data-value="{{choice.value}}"
                                data-tooltip="PF2E.UI.RuleElements.ChoiceSet.ViewItem.Tooltip"
                            ><i class="fa-solid fa-fw fa-info-circle"></i></a>
                        {{/if}}
                    </div>
                {{/each}}
            </div>

            {{#if allowNoSelection}}
                <button type="button" data-action="close">
                    <span>{{localize "PF2E.UI.RuleElements.ChoiceSet.Decline"}}</span>
                </button>
            {{/if}}
            {{#> dropZone}}{{/dropZone}}
        {{/if}}
    </div>
</div>

{{#*inline "dropZone"}}
    {{#if @root.includeDropZone}}
        <div class="drop-zone with-image">
            <i class="fa-solid fa-fw fa-info-circle" data-tooltip="{{localize "PF2E.UI.RuleElements.ChoiceSet.DragHomebrewItem"}}"></i>
            <span>{{localize "PF2E.UI.RuleElements.ChoiceSet.HomebrewItem"}}</span>
        </div>
    {{/if}}
{{/inline}}
