<div class="content">
    <h3>{{localize prompt}}</h3>
    <div class="choices{{#if selectMenu}} select-menu{{/if}}">
        {{#if selectMenu}}
            <div class="choice-buttons">
                <input data-tagify-select="true" spellcheck="false" />
                {{#if containsItems}}
                    <button type="button" class="item-info" disabled value="{{choice.value}}" title="{{localize "PF2E.UI.RuleElements.ChoiceSet.ItemSheetButtonTooltipDisabled"}}">
                        <i class="fas fa-info-circle"></i>
                    </button>
                {{/if}}
            </div>
            {{#> dropZone}}{{/dropZone}}
            <button type="button" value="" data-action="pick">{{localize "PF2E.UI.RuleElements.ChoiceSet.SaveLabel"}}</button>
        {{else}}
            {{#each choices as |choice|}}
                <div class="choice-buttons">
                    <button type="button" value="{{choice.value}}" data-action="pick"{{#if choice.img}} class="with-image"{{/if}}>
                        {{#if choice.img}}<img src="{{choice.img}}" />{{/if}}
                        <span>{{choice.label}}</span>
                    </button>
                    {{#if choice.hasUUID}}
                        <button type="button" class="item-info" value="{{choice.value}}" title="{{localize "PF2E.UI.RuleElements.ChoiceSet.ItemSheetButtonTooltip"}}">
                            <i class="fas fa-info-circle"></i>
                        </button>
                    {{/if}}
                </div>
            {{/each}}
            {{#if allowNoSelection}}
                <button type="button" data-action="close">
                    <span>{{localize "PF2E.UI.RuleElements.ChoiceSet.Decline"}}</span>
                </button>
            {{/if}}
            {{#> dropZone}}{{/dropZone}}
        {{/if}}
    </div>
</div>

{{#*inline "dropZone"}}
    {{#if @root.includeDropZone}}
        <div class="drop-zone with-image">
            <i class="fas fa-info-circle" title="{{localize "PF2E.UI.RuleElements.ChoiceSet.DragHomebrewItem"}}"></i>
            <span>{{localize "PF2E.UI.RuleElements.ChoiceSet.HomebrewItem"}}</span>
        </div>
    {{/if}}
{{/inline}}
