<section class="events">
    <section class="event-dc">
        <a class="rollable" data-action="random-event">
            <i class="fa-solid fa-dice-d20"></i>
            <span>{{localize "PF2E.Kingmaker.Event.Random"}}</span>
        </a>
        <label class="dc">
            DC<input type="number" name="event.dc" value="{{kingdom.event.dc}}" step="5"/>
        </label>
        {{#if @root.options.editable}}
            <a data-action="reset-event-dc"><i class="fa-solid fa-redo"></i></a>
        {{/if}}
    </section>
    <section class="event-details">
        <h4>{{localize "PF2E.Kingmaker.Event.Details"}}</h4>
        {{editor eventText target="event.text" button=true owner=@root.owner editable=@root.editable}}
    </section>
</section>
<section class="effects major">
    <header>{{localize "PF2E.EffectsLabel"}}</header>
    <ol class="effects-list directory-list item-list">
        {{> "systems/pf2e/templates/actors/partials/effects.hbs" effects=actor.itemTypes.effect}}
    </ol>
</section>
