<div class="dice-roll {{type}}{{#if action}} {{action}}{{/if}}" data-tooltip-class="pf2e">
    {{#if flavor~}}
        <div class="dice-flavor">
            {{flavor}}
        </div>
    {{~/if}}
    <div class="dice-result">
        <div class="dice-formula"{{#unless showBreakdown}} data-visibility="gm"{{/unless}}>{{formula}}</div>
        {{{tooltip}}}
        <h4 class="dice-total">{{total}}</h4>
    </div>
</div>
{{#if canRollDamage}}
    <div class="message-buttons" data-identifier="{{identifier}}">
        <button type="button" class="success" data-action="{{action}}-damage" data-outcome="success">
            {{localize "PF2E.DamageLabel"}}
            {{#if (eq degree 2)}}
                <span class="cue"{{#unless showDamageCue}} data-visibility="owner" data-whose="opposer"{{/unless}}>
                    <i class="fa-duotone fa-bullseye-pointer fa-flip-horizontal fa-fw"></i>
                </span>
            {{/if}}
        </button>
        <button type="button" class="critical-success" data-action="{{action}}-damage" data-outcome="critical-success">
            {{localize "PF2E.CriticalDamageLabel"}}
            {{#if (eq degree 3)}}
                <span class="cue"{{#unless showDamageCue}} data-visibility="owner" data-whose="opposer"{{/unless}}>
                    <i class="fa-duotone fa-bullseye-pointer fa-flip-horizontal fa-fw"></i>
                </span>
            {{/if}}
        </button>
    </div>
{{/if}}
