<div class="tab crafting crafting-pane" data-group="primary" data-tab="crafting">
    <div class="crafting-options item-list">
        <div class="crafting-option item" data-toggle-property="{{toggle.inputName}}" data-toggle-label="{{localize toggle.label}}">
            <label>
                <input type="checkbox" name="flags.pf2e.freeCrafting" {{checked actor.flags.pf2e.freeCrafting}} />
                <span>{{localize "PF2E.CraftingTab.ToggleFreeCrafting"}}</span>
            </label>
        </div>
        {{#if crafting.hasQuickAlchemy}}
            <div class="crafting-option item" data-toggle-property="{{toggle.inputName}}" data-toggle-label="{{localize toggle.label}}">
                <label>
                    <input type="checkbox" name="flags.pf2e.quickAlchemy" {{checked actor.flags.pf2e.quickAlchemy}} />
                    <span>{{localize "PF2E.CraftingTab.ToggleQuickAlchemy"}}</span>
                </label>
            </div>
        {{/if}}
    </div>
    <ol class="directory-list item-list crafting-entry-list">
        {{#if crafting.abilities.alchemical.entries}}
            <li class="crafting-entry item-container" data-container-type="craftingEntryGroup">
                <div class="action-header">{{localize "PF2E.CraftingTab.Alchemical.AdvancedAlchemy"}}</div>
                <ol class="directory-list item-list formula-list">
                    <li class="formula-level-header formula-header infused-reagents">
                        <div class="level-name reagent-cost">
                            <h3>{{localize "PF2E.CraftingTab.Alchemical.TotalCost"}}:</h3>
                            <div class="formula-number">{{crafting.abilities.alchemical.totalReagentCost}}</div>
                        </div>

                        <div class="level-name reagent-resource">
                            <h3>{{localize "PF2E.CraftingTab.Alchemical.InfusedReagents"}}:</h3>
                            <input
                                class="formula-number"
                                type="number"
                                name="system.resources.crafting.infusedReagents.value"
                                value="{{crafting.abilities.alchemical.infusedReagents.value}}"
                                placeholder="0"
                            />
                            <h3>/</h3>
                            <div class="formula-number">
                                {{crafting.abilities.alchemical.infusedReagents.max}}
                            </div>
                        </div>
                    </li>
                    {{#each crafting.abilities.alchemical.entries as |entry eid|}}
                        <li class="crafting-entry item-container alchemical-entry" data-container-type="craftingEntry" data-ability="{{entry.slug}}">
                            <div class="action-header alchemical-title">{{entry.label}}</div>

                            <ol class="directory-list item-list formula-list">
                                <li class="formula-level-header formula-header">
                                    <div class="level-name reagent-cost">
                                        <h3>{{localize "PF2E.CraftingTab.Alchemical.ReagentCost"}}:</h3>
                                        <span class="formula-number">{{entry.reagentCost}}</span>
                                    </div>

                                    <div class="level-name aa-level">
                                        <h3>{{localize "PF2E.CraftingTab.Alchemical.AdvancedAlchemyLevel"}}:</h3>
                                        <span class="formula-number">{{entry.maxItemLevel}}</span>
                                    </div>
                                </li>

                                {{#each entry.prepared as |formula|}}
                                    <li
                                        class="item formula-item"
                                        data-item-uuid="{{formula.uuid}}"
                                        data-item-type="formula"
                                        data-item-index={{@key}}
                                        data-ability="{{entry.slug}}"
                                        data-is-formula="true"
                                    >
                                        <div class="item-name">
                                            <a class="item-image framed" data-action="formula-to-chat">
                                                <img class="item-icon" src="{{formula.item.img}}" />
                                                <i class="fa-solid fa-message"></i>
                                            </a>
                                            <h4 class="name"><a data-action="toggle-summary">{{formula.item.name}}</a></h4>
                                        </div>
                                        <div class="dc"></div>
                                        <div class="cost"></div>
                                        <div class="quantity">
                                            <a class="adjust decrease" data-action="decrease-craft-quantity">&ndash;</a>
                                            <input type="number" class="formula-number" data-craft-quantity value="{{formula.quantity}}" />
                                            <a class="adjust increase" data-action="increase-craft-quantity">+</a>
                                        </div>

                                        {{#if @root.editable}}
                                            <div class="item-controls">
                                                <a
                                                    data-action="toggle-signature-item"
                                                    data-tooltip="PF2E.CraftingTab.Alchemical.ToggleSignatureItem"
                                                ><i class="fa-{{#if formula.isSignatureItem}}solid{{else}}regular{{/if}} fa-star"></i></a>
                                                <a
                                                    data-action="unprepare-formula"
                                                    data-tooltip="PF2E.UnprepareItemTitle"
                                                ><i class="fa-solid fa-trash"></i></a>
                                            </div>
                                        {{/if}}

                                        <div class="item-summary" hidden></div>
                                    </li>
                                {{/each}}
                                {{#unless entry.prepared}}
                                    <li class="formula-header empty">
                                        <h4>{{localize "PF2E.FormulaListEmpty"}}</h4>
                                    </li>
                                {{/unless}}
                            </ol>
                        </li>
                    {{/each}}
                </ol>
            </li>
        {{/if}}
        {{#each crafting.abilities.prepared as |entry i|}}
            <li class="crafting-entry item-container item" data-container-type="craftingEntry" data-ability="{{entry.slug}}">
                <div class="action-header">
                    <h3 class="item-name hide-container-toggle title">{{entry.label}}</h3>
                    <span class="level">{{localize "PF2E.LevelN" level=entry.maxItemLevel}}</span>
                </div>
                <ol class="directory-list item-list formula-list">
                    {{#each entry.prepared as |formula|}}
                        <li
                            class="item formula-item"
                            data-item-uuid="{{formula.uuid}}"
                            data-is-formula
                            data-item-type="formula"
                            data-expended-state="{{formula.expended}}"
                            data-item-index={{@key}}
                            data-ability="{{entry.slug}}"
                        >
                            <div class="item-name{{#unless formula}} empty{{/unless}}">
                                {{#if formula}}
                                    <a class="item-image" data-action="formula-to-chat">
                                        <img class="item-icon" src="{{formula.item.img}}" />
                                        <i class="fa-solid fa-message"></i>
                                    </a>
                                    <h4 class="name"><a data-action="toggle-summary">{{formula.item.name}}</a></h4>
                                {{else}}
                                    <h4>Empty Slot (drag formula here)</h4>
                                {{/if}}
                            </div>

                            <div class="formula-dc"></div>
                            <div class="formula-cost"></div>
                            <div class="item-quantity"></div>

                            {{#if (and formula @root.editable)}}
                                <div class="item-controls">
                                    {{#if entry.isPrepared}}
                                        <a
                                            data-action="craft-item"
                                            data-free="true"
                                            data-prepared="true"
                                            data-tooltip="PF2E.CraftItemTitle"
                                        ><i class="fa-solid fa-hammer"></i></a>
                                        <a
                                            data-action="toggle-formula-expended"
                                            data-tooltip="PF2E.CraftingTab.ExpendFormula"
                                        ><i class="fa-solid fa-minus-square"></i></a>
                                    {{/if}}
                                    <a
                                        data-action="unprepare-formula"
                                        data-tooltip="{{localize "PF2E.UnprepareItemTitle"}}"
                                    ><i class="fa-solid fa-trash"></i></a>
                                </div>
                            {{/if}}

                            <div class="item-summary" hidden></div>
                        </li>
                    {{/each}}
                </ol>
            </li>
        {{/each}}
        {{#if crafting.hasDailyCrafting}}
            <li class="crafting-entry item-container item">
                <button
                    type="button"
                    class="perform-daily blue"
                    data-action="perform-daily-crafting"
                >{{localize "PF2E.Actor.Character.Crafting.Daily.Perform"}}</button>
            </li>
        {{/if}}
        <li class="known-formulas item-container" data-container-type="knownFormulas">
            <div class="action-header">{{localize "PF2E.FormulaKnownTitle"}}</div>
            <ol class="directory-list item-list formula-list">
                {{!-- Add section for each formula level --}}
                {{#each crafting.knownFormulas as |section lvl|}}
                    <li class="formula-level-header formula-header" data-item-type="formulaLevel" data-level="{{lvl}}">
                        <div class="level-name flexrow">
                            <h3>{{localize "PF2E.LevelN" level=lvl}}</h3>
                        </div>

                        <div class="formula-dc-header">{{localize "PF2E.CraftDCTitle"}}</div>
                        <div class="formula-cost-header">{{localize "PF2E.Actor.Character.Crafting.Cost"}}</div>
                        <div class="formula-quantity-header">{{localize "PF2E.CraftingTab.CraftQuantityTitle"}}</div>

                        {{#if @root.editable}}
                            <div class="item-controls">
                                <a data-action="browse-equipment" data-tooltip="PF2E.OpenInventoryBrowser" data-level="{{lvl}}"><i class="fa-solid fa-fw fa-search"></i></a>
                            </div>
                        {{/if}}
                    </li>
                    {{!-- Add formula items for each formula level --}}
                    {{#each section as |formula i|}}
                        <li class="item formula-item" data-formula-lvl="{{lvl}}" data-item-uuid="{{formula.uuid}}" data-is-formula>
                            <div class="item-name">
                                <a class="item-image framed" data-action="formula-to-chat">
                                    <img class="item-icon" src="{{formula.item.img}}" alt="{{formula.item.name}}">
                                    <i class="fa-solid fa-message"></i>
                                </a>
                                <h4 class="name"><a data-action="toggle-summary">{{formula.item.name}}</a></h4>
                            </div>

                            <div class="dc">{{formula.dc}}</div>
                            <div class="cost">{{coinLabel formula.cost}}</div>
                            <div class="quantity">
                                <a class="adjust decrease" data-action="decrease-craft-quantity">&ndash;</a>
                                <input type="number" class="formula-number" data-craft-quantity value="{{#if @root.crafting.noCost}}{{formula.item.system.price.per}}{{else}}{{formula.batchSize}}{{/if}}" />
                                <a class="adjust increase" data-action="increase-craft-quantity">+</a>
                            </div>

                            {{#if @root.editable}}
                                <div class="item-controls">
                                    {{#if (or @root.crafting.abilities.alchemical.entries.length @root.crafting.abilities.prepared.length)}}
                                        <a
                                            data-action="quick-add-formula"
                                            data-tooltip="PF2E.CraftingTab.QuickAddTitle"
                                        ><i class="fa-solid fa-fw fa-arrow-up-from-bracket"></i></a>
                                    {{/if}}
                                    <a
                                        data-action="craft-item"
                                        data-tooltip="PF2E.CraftItemTitle"
                                    ><i class="fa-solid fa-fw fa-hammer"></i></a>
                                    <a
                                        data-action="delete-formula"
                                        data-tooltip="PF2E.DeleteItemTitle"
                                    ><i class="fa-solid fa-fw fa-trash"></i></a>
                                </div>
                            {{/if}}

                            <div class="item-summary" hidden></div>
                        </li>
                    {{/each}}
                {{else}}
                    {{#if @root.editable}}
                        <li class="formula-header empty">
                            <h4>{{localize "PF2E.FormulaListEmpty"}}</h4>
                            <button type="button" class="blue" data-action="browse-equipment" data-level="{{lvl}}">
                                <i class="fa-solid fa-fw fa-search"></i>{{localize "PF2E.OpenInventoryBrowser"}}
                            </a>
                        </li>
                    {{/if}}
                {{/each}}
            </ol>
        </li>
    </ol>
</div>
