<div class="tab crafting crafting-pane" data-group="primary" data-tab="crafting">
    <div class="crafting-options item-list">
        <div class="crafting-option item" data-toggle-property="{{toggle.inputName}}" data-toggle-label="{{localize toggle.label}}">
            <label>
                <input type="checkbox" name="flags.pf2e.freeCrafting" {{checked actor.flags.pf2e.freeCrafting}} />
                <span>{{localize "PF2E.CraftingTab.ToggleFreeCrafting"}}</span>
            </label>
        </div>
        {{#if crafting.hasQuickAlchemy}}
            <div class="crafting-option item" data-toggle-property="{{toggle.inputName}}" data-toggle-label="{{localize toggle.label}}">
                <label>
                    <input type="checkbox" name="flags.pf2e.quickAlchemy" {{checked actor.flags.pf2e.quickAlchemy}} />
                    <span>{{localize "PF2E.CraftingTab.ToggleQuickAlchemy"}}</span>
                </label>
            </div>
        {{/if}}
    </div>
    <ol class="directory-list item-list crafting-entry-list">
        {{> "systems/pf2e/templates/actors/crafting-entry-list.hbs" craftingEntries=crafting.entries}}
        <li class="known-formulas item-container" data-container-type="knownFormulas">
            <div class="action-header">{{localize "PF2E.FormulaKnownTitle"}}</div>
            <ol class="directory-list item-list formula-list">
                {{!-- Add section for each formula level --}}
                {{#each crafting.knownFormulas as |section lvl|}}
                    <li class="formula-level-header formula-header" data-item-type="formulaLevel" data-level="{{lvl}}">
                        <div class="level-name flexrow">
                            <h3>{{localize "PF2E.LevelN" level=lvl}}</h3>
                        </div>

                        <div class="formula-dc-header">{{localize "PF2E.CraftDCTitle"}}</div>
                        <div class="formula-cost-header">{{localize "PF2E.Actor.Character.Crafting.Cost"}}</div>
                        <div class="formula-quantity-header">{{localize "PF2E.CraftingTab.CraftQuantityTitle"}}</div>

                        {{#if @root.editable}}
                            <div class="item-controls">
                                <a data-action="browse-equipment" data-tooltip="PF2E.OpenInventoryBrowser" data-level="{{lvl}}"><i class="fa-solid fa-fw fa-search"></i></a>
                            </div>
                        {{/if}}
                    </li>
                    {{!-- Add formula items for each formula level --}}
                    {{#each section as |craftedItem i|}}
                        <li class="item formula-item" data-formula-lvl="{{lvl}}" data-item-uuid="{{craftedItem.uuid}}" data-is-formula>
                            <div class="item-name">
                                <a class="item-image framed" data-action="formula-to-chat">
                                    <img class="item-icon" src="{{craftedItem.img}}" alt="{{craftedItem.name}}">
                                    <i class="fa-solid fa-message"></i>
                                </a>
                                <h4 class="name"><a data-action="toggle-summary">{{craftedItem.name}}</a></h4>
                            </div>

                            <div class="dc">{{craftedItem.dc}}</div>
                            <div class="cost">{{coinLabel craftedItem.cost}}</div>
                            <div class="quantity">
                                <a class="adjust decrease" data-action="decrease-craft-quantity">&ndash;</a>
                                <input type="number" class="formula-number" data-craft-quantity value="{{#if @root.crafting.noCost}}{{craftedItem.minimumBatchSize}}{{else}}{{craftedItem.batchSize}}{{/if}}" />
                                <a class="adjust increase" data-action="increase-craft-quantity">+</a>
                            </div>

                            {{#if @root.editable}}
                                <div class="item-controls">
                                    {{#if (or @root.crafting.entries.alchemical.entries.length @root.crafting.entries.other.length)}}
                                        <a
                                            data-action="quick-add-formula"
                                            data-tooltip="PF2E.CraftingTab.QuickAddTitle"
                                        ><i class="fa-solid fa-fw fa-arrow-up-from-bracket"></i></a>
                                    {{/if}}
                                    <a
                                        data-action="craft-item"
                                        data-tooltip="PF2E.CraftItemTitle"
                                    ><i class="fa-solid fa-fw fa-hammer"></i></a>
                                    {{#if craftedItem.deletable}}
                                        <a
                                            data-action="delete-formula"
                                            data-tooltip="PF2E.DeleteItemTitle"
                                        ><i class="fa-solid fa-fw fa-trash"></i></a>
                                    {{else}}
                                        <span class="disabled" data-tooltip="PF2E.CraftingTab.UndeletableTooltip"><i class="fa-solid fa-fw fa-trash"></i></span>
                                    {{/if}}
                                </div>
                            {{/if}}

                            <div class="item-summary" hidden></div>
                        </li>
                    {{/each}}
                {{else}}
                    {{#if @root.editable}}
                        <li class="formula-header empty">
                            <h4>{{localize "PF2E.FormulaListEmpty"}}</h4>
                            <button type="button" class="blue" data-action="browse-equipment" data-level="{{lvl}}">
                                <i class="fa-solid fa-fw fa-search"></i>{{localize "PF2E.OpenInventoryBrowser"}}
                            </a>
                        </li>
                    {{/if}}
                {{/each}}
            </ol>
        </li>
    </ol>
</div>
