<section class="tab effects actions-pane major" data-group="primary" data-tab="effects">
    <header>{{localize "PF2E.ConditionsLabel"}}</header>
    <ol class="effects-list directory-list item-list">
        {{> "systems/pf2e/templates/actors/partials/effects.hbs" effects=document.conditions.active}}
    </ol>

    <header>{{localize "PF2E.EffectsLabel"}}</header>
    <ol class="effects-list directory-list item-list">
        {{> "systems/pf2e/templates/actors/partials/effects.hbs" effects=document.itemTypes.effect}}
    </ol>

    <header>
        {{localize "PF2E.FeatDeityBoonCursesHeader"}}
        {{#if options.editable}}
            <button type="button" data-action="browse-feats" data-type="feat"><i class="fa-solid fa-fw fa-search"></i>{{localize "PF2E.BrowseLabel"}}</button>
        {{/if}}
    </header>
    <ol class="effects-list directory-list item-list">
        {{#each actor.deityBoonsCurses as |feat|}}
            <li class="item feat-item" data-item-id="{{feat.id}}">
                <div class="item-name">
                    <div class="feat-slot-title"></div>
                    <a class="item-image framed" data-action="item-to-chat">
                        <img src="{{feat.img}}"/>
                        <i class="fa-solid fa-message"></i>
                    </a>
                    <h4 class="name"><a data-action="toggle-summary">{{feat.name}}</a></h4>
                </div>
                {{#if @root.options.editable}}
                    <div class="item-controls">
                        <a data-action="edit-item" data-tooltip="PF2E.EditItemTitle"><i class="fa-solid fa-fw fa-edit"></i></a>
                        <a data-action="delete-item" data-tooltip="PF2E.DeleteItemTitle"><i class="fa-solid fa-fw fa-trash"></i></a>
                    </div>
                {{/if}}

                <div class="item-summary" hidden="hidden"></div>
            </li>
        {{/each}}
    </ol>
</section>
