<div class="tab character" data-group="primary" data-tab="character">
    <section class="character-details">
        <div class="frame-container">
            <div class="frame image-container">
                <img class="actor-image" alt="{{actor.name}}" src="{{actor.img}}" title="{{actor.name}}" data-edit="img" />
                <a class="hover-icon" data-action="show-image"><i class="fas fa-image fa-fw"></i></a>
            </div>
        </div>
        <div class="alignment">
            <span class="bio-alignment" title="{{localize "PF2E.AlignmentTitle"}}">
                <select aria-label="{{localize "PF2E.Alignment"}}" name="system.details.alignment.value">
                    {{#select data.details.alignment.value}}
                        {{#each alignments as |label key|}}
                            <option value="{{key}}">{{localize label}}</option>
                        {{/each}}
                    {{/select}}
                </select>
            </span>
        </div>
        <div class="pc pc_deity item">
            <div class="input">
                {{>
                    "systems/pf2e/templates/actors/character/partials/detail-item.hbs"
                    item=deity type="deity" compendium="pf2e.deities"
                }}
            </div>
            {{#if deity}}
                <img class="symbol" src="{{deity.img}}" alt="{{deity.name}}" />
            {{else}}
                <img class="symbol" src="systems/pf2e/icons/default-icons/deity.svg" alt="{{localize "PF2E.Deity"}}" />
            {{/if}}
        </div>
        <div class="detail-sheet">
            <div class="pc pc_ancestry item">
                {{>
                    "systems/pf2e/templates/actors/character/partials/detail-item.hbs"
                    item=ancestry type="ancestry" compendium="pf2e.ancestries"
                }}
            </div>
            <div class="pc pc_heritage item">
                {{>
                    "systems/pf2e/templates/actors/character/partials/detail-item.hbs"
                    item=heritage type="heritage" compendium="pf2e.heritages"
                }}
            </div>
            <div class="pc pc_class item">
                {{>
                    "systems/pf2e/templates/actors/character/partials/detail-item.hbs"
                    item=class type="class" compendium="pf2e.classes"
                }}
            </div>
            <div class="pc pc_background item">
                {{>
                    "systems/pf2e/templates/actors/character/partials/detail-item.hbs"
                    item=background type="background" compendium="pf2e.backgrounds"
                }}
            </div>
        </div>
    </section>

    <hr />
    <section class="character-background">
        {{> "systems/pf2e/templates/actors/character/partials/background.hbs"}}
    </section>

    <hr />
    <section class="character-traits">
        {{> "systems/pf2e/templates/actors/character/partials/traits.hbs"}}
    </section>

    <h3 class="header">{{localize "PF2E.AbilityScoresHeader"}} <button type="button" data-action="edit-ability-scores"><i class="fas fa-fw fa-edit"></i>{{localize "PF2E.Edit"}}</button></h3>
    <section class="character-abilities">
        {{> "systems/pf2e/templates/actors/character/partials/abilities.hbs"}}
    </section>
</div>
