<div class="tab inventory item-container" data-container-type="actorInventory" data-group="primary" data-tab="inventory">
    {{> "systems/pf2e/templates/actors/partials/coinage.hbs"}}
    {{> "systems/pf2e/templates/actors/partials/inventory.hbs"}}

    {{#with inventory.bulk as |bulk|}}
        <div class="encumbrance {{#if bulk.isEncumbered}}encumbered{{/if}} {{#if bulk.isOverMax}}over-limit{{/if}}">
            <img src="systems/pf2e/icons/equipment/adventuring-gear/backpack.webp" alt="Encumbrance">
            <span class="encumbrance-bar" style="width:{{bulk.maxPercentageInteger}}%"></span>
            <div class="encumbrance-label">
                <span>{{localize "PF2E.BulkLabel"}}: {{bulk.value}} / {{localize "PF2E.ConditionTypeEncumbered"}}: {{bulk.encumberedAt}}</span>
                <span>{{localize "PF2E.BulkMaxLabel"}}: {{bulk.max}}</span>
            </div>
            <span class="bar-bg"></span>
        </div>
    {{/with}}
</div>
