<form autocomplete="off">
    <div class="form-group">
        <label for="{{object.uuid}}-add-coins-pp">{{localize "PF2E.CurrencyPP"}}:</label>
        <input id="{{object.uuid}}-add-coins-pp" type="number" name="pp" value="0" min="0" step="1" />
    </div>
    <div class="form-group">
        <label for="{{object.uuid}}-add-coins-gp">{{localize "PF2E.CurrencyGP"}}:</label>
        <input id="{{object.uuid}}-add-coins-gp" type="number" name="gp" value="0" min="0" step="1" />
    </div>
    <div class="form-group">
        <label for="{{object.uuid}}-add-coins-sp">{{localize "PF2E.CurrencySP"}}:</label>
        <input id="{{object.uuid}}-add-coins-sp" type="number" name="sp" value="0" min="0" step="1" />
    </div>
    <div class="form-group">
        <label for="{{object.uuid}}-add-coins-cp">{{localize "PF2E.CurrencyCP"}}:</label>
        <input id="{{object.uuid}}-add-coins-cp" type="number" name="cp" value="0" min="0" step="1" />
    </div>
    <div class="form-group">
        <label for="{{object.uuid}}-add-coins-combine-stacks">{{localize "PF2E.AddCoinsCombineStacksLabel"}}</label>
        <input id="{{object.uuid}}-add-coins-combine-stacks" type="checkbox" name="combineStacks" checked />
    </div>
    <button type="submit"><i class="fa-regular fa-save"></i>{{localize "PF2E.AddCoinsTitle"}}</button>
</form>
