<p>{{message}}</p>
<p>
    <select name="proficiency">
        <option></option>
        <optgroup label="{{localize "PF2E.WeaponGroups"}}" />
        {{#each weaponGroups as |key slug|}}
            <option value="{{slug}}">{{localize key}}</option>
        {{/each}}
        <optgroup label="{{localize "PF2E.BaseWeapons"}}" />
        {{#each baseWeapons as |key slug|}}
            <option value="{{slug}}">{{localize key}}</option>
        {{/each}}
    </select>
</p>
