{{#if craftingEntries.alchemical.entries}}
    {{> systems/pf2e/templates/actors/crafting-entry-alchemical.hbs alchemicalCraftingEntries=craftingEntries.alchemical}}
{{/if}}
{{#each craftingEntries.other as |entry i|}}
    <li class="crafting-entry item-container item" data-container-type="craftingEntry" data-entry-selector="{{entry.selector}}">
        <div class="action-header">
            <h3 class="item-name hide-container-toggle title">{{entry.name}}</h3>
        </div>
        <ol class="directory-list item-list formula-list">
            {{#each entry.formulas as |formula|}}
                <li
                    class="item formula-item"
                    data-item-uuid="{{formula.uuid}}"
                    data-is-formula
                    data-item-type="formula"
                    data-expended-state="{{formula.expended}}"
                    data-item-index={{@key}}
                    data-entry-selector="{{entry.selector}}"
                >
                    <div class="item-name{{#unless formula}} empty{{/unless}}">
                        {{#if formula}}
                            <a class="item-image" data-action="formula-to-chat">
                                <img class="item-icon" src="{{this.img}}" />
                                <i class="fa-solid fa-message"></i>
                            </a>
                            <h4 class="name"><a data-action="toggle-summary">{{this.name}}</a></h4>
                        {{else}}
                            <h4>Empty Slot (drag formula here)</h4>
                        {{/if}}
                    </div>

                    <div class="formula-dc"></div>
                    <div class="formula-cost"></div>
                    <div class="item-quantity"></div>

                    {{#if (and formula @root.editable)}}
                        <div class="item-controls">
                            {{#if entry.isPrepared}}
                                <a
                                    data-action="craft-item"
                                    data-free="true"
                                    data-prepared="true"
                                    data-tooltip="PF2E.CraftItemTitle"
                                ><i class="fa-solid fa-hammer"></i></a>
                                <a
                                    data-action="toggle-formula-expended"
                                    data-tooltip="PF2E.CraftingTab.ExpendFormula"
                                ><i class="fa-solid fa-minus-square"></i></a>
                            {{/if}}
                            <a
                                data-action="unprepare-formula"
                                data-tooltip="{{localize "PF2E.UnprepareItemTitle"}}"
                            ><i class="fa-solid fa-trash"></i></a>
                        </div>
                    {{/if}}

                    <div class="item-summary" hidden></div>
                </li>
            {{/each}}
        </ol>
    </li>
{{/each}}
{{#if craftingEntries.dailyCrafting}}
    <li class="crafting-entry item-container item">
        <button
            type="button"
            class="perform-daily blue"
            data-action="perform-daily-crafting"
        >{{localize "PF2E.Actor.Character.Crafting.Daily.Perform"}}</button>
    </li>
{{/if}}
