{{#if craftingEntries.alchemical.entries}}
    <li class="crafting-entry item-container" data-container-type="craftingEntryGroup">
        <div class="action-header">{{localize "PF2E.CraftingTab.Alchemical.AdvancedAlchemy"}}</div>
        <ol class="directory-list item-list formula-list">
            <li class="formula-level-header formula-header infused-reagents">
                <div class="level-name reagent-cost">
                    <h3>{{localize "PF2E.CraftingTab.Alchemical.TotalCost"}}:</h3>
                    <div class="formula-number">{{craftingEntries.alchemical.totalReagentCost}}</div>
                </div>

                <div class="level-name reagent-resource">
                    <h3>{{localize "PF2E.CraftingTab.Alchemical.InfusedReagents"}}:</h3>
                    <input
                        class="formula-number"
                        type="number"
                        name="system.resources.crafting.infusedReagents.value"
                        value="{{craftingEntries.alchemical.infusedReagents.value}}"
                        placeholder="0"
                    />
                    <h3>/</h3>
                    <div class="formula-number">
                        {{craftingEntries.alchemical.infusedReagents.max}}
                    </div>
                </div>
            </li>
            {{#each craftingEntries.alchemical.entries as |entry eid|}}
                <li class="crafting-entry item-container alchemical-entry" data-container-type="craftingEntry" data-entry-selector="{{entry.selector}}">
                    <div class="action-header alchemical-title">{{entry.name}}</div>

                    <ol class="directory-list item-list formula-list">
                        <li class="formula-level-header formula-header">
                            <div class="level-name reagent-cost">
                                <h3>{{localize "PF2E.CraftingTab.Alchemical.ReagentCost"}}:</h3>
                                <span class="formula-number">{{entry.reagentCost}}</span>
                            </div>

                            <div class="level-name aa-level">
                                <h3>{{localize "PF2E.CraftingTab.Alchemical.AdvancedAlchemyLevel"}}:</h3>
                                <span class="formula-number">{{entry.maxItemLevel}}</span>
                            </div>
                        </li>

                        {{#each entry.formulas as |formula|}}
                            <li
                                class="item formula-item"
                                data-item-uuid="{{formula.uuid}}"
                                data-item-type="formula"
                                data-item-index={{@key}}
                                data-entry-selector="{{entry.selector}}"
                                data-is-formula="true"
                            >
                                <div class="item-name">
                                    <a class="item-image framed" data-action="formula-to-chat">
                                        <img class="item-icon" src="{{formula.img}}" />
                                        <i class="fa-solid fa-message"></i>
                                    </a>
                                    <h4 class="name"><a data-action="toggle-summary">{{formula.name}}</a></h4>
                                </div>
                                <div class="dc"></div>
                                <div class="cost"></div>
                                <div class="quantity">
                                    <a class="adjust decrease" data-action="decrease-craft-quantity">&ndash;</a>
                                    <input type="number" class="formula-number" data-craft-quantity value="{{formula.quantity}}" />
                                    <a class="adjust increase" data-action="increase-craft-quantity">+</a>
                                </div>

                                {{#if @root.editable}}
                                    <div class="item-controls">
                                        <a
                                            data-action="toggle-signature-item"
                                            data-tooltip="PF2E.CraftingTab.Alchemical.ToggleSignatureItem"
                                        ><i class="fa-{{#if formula.isSignatureItem}}solid{{else}}regular{{/if}} fa-star"></i></a>
                                        <a
                                            data-action="unprepare-formula"
                                            data-tooltip="PF2E.UnprepareItemTitle"
                                        ><i class="fa-solid fa-trash"></i></a>
                                    </div>
                                {{/if}}

                                <div class="item-summary" hidden></div>
                            </li>
                        {{/each}}
                        {{#unless entry.formulas}}
                            <li class="formula-header empty">
                                <h4>{{localize "PF2E.FormulaListEmpty"}}</h4>
                            </li>
                        {{/unless}}
                    </ol>
                </li>
            {{/each}}
        </ol>
    </li>
{{/if}}
{{#each craftingEntries.other as |entry i|}}
    <li class="crafting-entry item-container item" data-container-type="craftingEntry" data-entry-selector="{{entry.selector}}">
        <div class="action-header">
            <h3 class="item-name hide-container-toggle title">{{entry.name}}</h3>
            <span class="level">{{localize "PF2E.LevelN" level=entry.maxItemLevel}}</span>
        </div>
        <ol class="directory-list item-list formula-list">
            {{#each entry.formulas as |formula|}}
                <li
                    class="item formula-item"
                    data-item-uuid="{{formula.uuid}}"
                    data-is-formula
                    data-item-type="formula"
                    data-expended-state="{{formula.expended}}"
                    data-item-index={{@key}}
                    data-entry-selector="{{entry.selector}}"
                >
                    <div class="item-name{{#unless formula}} empty{{/unless}}">
                        {{#if formula}}
                            <a class="item-image" data-action="formula-to-chat">
                                <img class="item-icon" src="{{this.img}}" />
                                <i class="fa-solid fa-message"></i>
                            </a>
                            <h4 class="name"><a data-action="toggle-summary">{{this.name}}</a></h4>
                        {{else}}
                            <h4>Empty Slot (drag formula here)</h4>
                        {{/if}}
                    </div>

                    <div class="formula-dc"></div>
                    <div class="formula-cost"></div>
                    <div class="item-quantity"></div>

                    {{#if (and formula @root.editable)}}
                        <div class="item-controls">
                            {{#if entry.isPrepared}}
                                <a
                                    data-action="craft-item"
                                    data-free="true"
                                    data-prepared="true"
                                    data-tooltip="PF2E.CraftItemTitle"
                                ><i class="fa-solid fa-hammer"></i></a>
                                <a
                                    data-action="toggle-formula-expended"
                                    data-tooltip="PF2E.CraftingTab.ExpendFormula"
                                ><i class="fa-solid fa-minus-square"></i></a>
                            {{/if}}
                            <a
                                data-action="unprepare-formula"
                                data-tooltip="{{localize "PF2E.UnprepareItemTitle"}}"
                            ><i class="fa-solid fa-trash"></i></a>
                        </div>
                    {{/if}}

                    <div class="item-summary" hidden></div>
                </li>
            {{/each}}
        </ol>
    </li>
{{/each}}
{{#if craftingEntries.dailyCrafting}}
    <li class="crafting-entry item-container item">
        <button
            type="button"
            class="perform-daily blue"
            data-action="perform-daily-crafting"
        >{{localize "PF2E.Actor.Character.Crafting.Daily.Perform"}}</button>
    </li>
{{/if}}
