<li class="crafting-entry item-container" data-container-type="craftingEntryGroup">
    <div class="action-header">{{localize "PF2E.CraftingTab.Alchemical.AdvancedAlchemy"}}</div>
    <ol class="directory-list item-list formula-list">
        <li class="formula-level-header formula-header infused-reagents">
            <div class="level-name reagent-cost">
                <h3>{{localize "PF2E.CraftingTab.Alchemical.TotalCost"}}:</h3>
                <div class="formula-number">{{alchemicalCraftingEntries.totalReagentCost}}</div>
            </div>

            <div class="level-name reagent-resource">
                <h3>{{localize "PF2E.CraftingTab.Alchemical.InfusedReagents"}}:</h3>
                <input
                    class="formula-number"
                    type="number"
                    name="system.resources.crafting.infusedReagents.value"
                    value="{{alchemicalCraftingEntries.infusedReagents.value}}"
                    placeholder="0"
                />
                <h3>/</h3>
                <div class="formula-number">
                    {{alchemicalCraftingEntries.infusedReagents.max}}
                </div>
            </div>
        </li>
        {{#each alchemicalCraftingEntries.entries as |entry eid|}}
            <li class="crafting-entry item-container alchemical-entry" data-container-type="craftingEntry" data-entry-selector="{{entry.selector}}">
                <div class="action-header alchemical-title">{{entry.name}}</div>

                <ol class="directory-list item-list formula-list">
                    <li class="formula-level-header formula-header">
                        <div class="level-name reagent-cost">
                            <h3>{{localize "PF2E.CraftingTab.Alchemical.ReagentCost"}}:</h3>
                            <span class="formula-number">{{entry.reagentCost}}</span>
                        </div>

                        <div class="level-name aa-level">
                            <h3>{{localize "PF2E.CraftingTab.Alchemical.AdvancedAlchemyLevel"}}:</h3>
                            <span class="formula-number">{{entry.maxItemLevel}}</span>
                        </div>
                    </li>

                    {{#each entry.formulas as |formula|}}
                        <li
                            class="item formula-item"
                            data-item-uuid="{{formula.uuid}}"
                            data-item-type="formula"
                            data-item-index={{@key}}
                            data-entry-selector="{{entry.selector}}"
                            data-is-formula="true"
                        >
                            <div class="item-name">
                                <a class="item-image framed" data-action="formula-to-chat">
                                    <img class="item-icon" src="{{formula.img}}" />
                                    <i class="fa-solid fa-message"></i>
                                 </a>
                                <h4 class="name"><a data-action="toggle-summary">{{formula.name}}</a></h4>
                            </div>
                            <div class="dc"></div>
                            <div class="cost"></div>
                            <div class="quantity">
                                <a class="adjust decrease" data-action="decrease-craft-quantity">&ndash;</a>
                                <input type="number" class="formula-number" data-craft-quantity value="{{formula.quantity}}" />
                                <a class="adjust increase" data-action="increase-craft-quantity">+</a>
                            </div>

                            {{#if @root.editable}}
                                <div class="item-controls">
                                    <a
                                        data-action="toggle-signature-item"
                                        data-tooltip="PF2E.CraftingTab.Alchemical.ToggleSignatureItem"
                                    ><i class="fa-{{#if formula.isSignatureItem}}solid{{else}}regular{{/if}} fa-star"></i></a>
                                    <a
                                        data-action="unprepare-formula"
                                        data-tooltip="PF2E.UnprepareItemTitle"
                                    ><i class="fa-solid fa-trash"></i></a>
                                </div>
                            {{/if}}

                            <div class="item-summary" hidden></div>
                        </li>
                    {{/each}}
                    {{#unless entry.formulas}}
                        <li class="formula-header empty">
                            <h4>{{localize "PF2E.FormulaListEmpty"}}</h4>
                        </li>
                    {{/unless}}
                </ol>
            </li>
        {{/each}}
    </ol>
</li>
