<h1>{{localize "PF2E.RecallKnowledge.BreakdownTitle"}}</h1>
<p>{{localize "PF2E.RecallKnowledge.Help"}}</p>
<table class="recall-knowledge-table">
    <tbody>
        <tr>
            <th>{{localize "PF2E.RecallKnowledge.Skill"}}</th>
            <th>{{localize "PF2E.RecallKnowledge.FirstAttempt"}}</th>
            <th>{{localize "PF2E.RecallKnowledge.SecondAttempt"}}</th>
            <th>{{localize "PF2E.RecallKnowledge.ThirdAttempt"}}</th>
            <th>{{localize "PF2E.RecallKnowledge.FourthAttempt"}}</th>
            <th>{{localize "PF2E.RecallKnowledge.FifthAttempt"}}</th>
            <th>{{localize "PF2E.RecallKnowledge.SixthAttempt"}}</th>
        </tr>
        <tr>
            <td>{{localize standard.label}}</td>
            {{#each standard.attempts as |attempt|}}
                <td>{{attempt}}</td>
            {{/each}}
        </tr>
        <tr>
            <td>{{localize "PF2E.RecallKnowledge.LoreEasy"}}</td>
            {{#each loreEasy as |attempt|}}
                <td>{{attempt}}</td>
            {{/each}}
        </tr>
        <tr>
            <td>{{localize "PF2E.RecallKnowledge.LoreVeryEasy"}}</td>
            {{#each loreVeryEasy as |attempt|}}
                <td>{{attempt}}</td>
            {{/each}}
        </tr>
    </tbody>
</table>
