<form autocomplete="off">
    <div class="form-group">
        <label for="{{object.uuid}}-remove-coins-pp">{{localize "PF2E.CurrencyPP"}}:</label>
        <input id="{{object.uuid}}-remove-coins-pp" type="number" name="pp" value="0" min="0" step="1" />
    </div>
    <div class="form-group">
        <label for="{{object.uuid}}-remove-coins-gp">{{localize "PF2E.CurrencyGP"}}:</label>
        <input id="{{object.uuid}}-remove-coins-gp" type="number" name="gp" value="0" min="0" step="1" />
    </div>
    <div class="form-group">
        <label for="{{object.uuid}}-remove-coins-sp">{{localize "PF2E.CurrencySP"}}:</label>
        <input id="{{object.uuid}}-remove-coins-sp" type="number" name="sp" value="0" min="0" step="1" />
    </div>
    <div class="form-group">
        <label for="{{object.uuid}}-remove-coins-cp">{{localize "PF2E.CurrencyCP"}}:</label>
        <input id="{{object.uuid}}-remove-coins-cp" type="number" name="cp" value="0" min="0" step="1" />
    </div>
    <div class="form-group">
        <label for="{{object.uuid}}-remove-coins-by-value">{{localize "PF2E.RemoveCoinsByValueLabel"}}:</label>
        <input id="{{object.uuid}}-remove-coins-by-value" type="checkbox" name="removeByValue" />
    </div>
    <button type="submit"><i class="fa-regular fa-save"></i>{{localize "PF2E.RemoveCoinsTitle"}}</button>
</form>
